Repository uc-cdis/cdis-manifest, pull requests merged in 2020-09, with the labels that each got.

#2028 Update text to embed urls for NIAID
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-apis-drsEndpointsTest

#2029 Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-dbgapTest

#2010 Gen3 Monthly Release 2020.09 caninedc.org 1598899616
  caninedc.org/manifest.json
  caninedc.org/manifests/hatchery/hatchery.json
Labels: automerge

#2040 AnVIL_DD_2.2.3
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dbgapTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountTest

#2041 chore(indexing): upgrade manifest indexing sower job to 2.0.2
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-indexingPageTest

#2021 Gen3 Monthly Release 2020.09 internalstaging.theanvil.io 1598924817
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: automerge, test-google-googleServiceAccountTest

#2054 AnVIL_DD_2.2.4
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dbgapTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountTest

#2053 Deploy limited file pfb export to BDC preprod
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: jenkins-dcp

#2060 Revert "Feat/datarefest release"
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#2022 Gen3 Monthly Release 2020.09 nci-crdc-staging.datacommons.io 1598928417
  nci-crdc-staging.datacommons.io/manifest.json
Labels: automerge, test-portal-indexingPageTest

#2065 Chore/occ workspace
  .secrets.baseline
  spoke1.workspace.occ-pla.net/dashboard/Public/index.html
  spoke1.workspace.occ-pla.net/dashboard/Public/maintenance-page/index.html
  spoke1.workspace.occ-pla.net/manifest.json
  spoke1.workspace.occ-pla.net/manifests/hatchery/.env
  spoke1.workspace.occ-pla.net/manifests/hatchery/README.md
  spoke1.workspace.occ-pla.net/manifests/hatchery/hatchery.json
  spoke1.workspace.occ-pla.net/manifests/hatchery/jupyterslim.yaml
  spoke1.workspace.occ-pla.net/portal/gitops-createdby.png
  spoke1.workspace.occ-pla.net/portal/gitops-favicon.ico
  spoke1.workspace.occ-pla.net/portal/gitops-logo.png
  spoke1.workspace.occ-pla.net/portal/gitops-sponsors/niaid.png
  spoke1.workspace.occ-pla.net/portal/gitops.css
  spoke1.workspace.occ-pla.net/portal/gitops.json
  workspace.occ-pla.net/dashboard/Public/favicon.ico
  workspace.occ-pla.net/dashboard/Public/index.html
  workspace.occ-pla.net/dashboard/Public/maintenance-page/index.html
  workspace.occ-pla.net/manifest.json
Labels: doc-only

#2068 chore/Add gaTrackingId for NDE
  niaiddata.org/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2055 release(anvil): bump fence to 4.23.3, portal to 2.33.0 and tube to 0.4.1 for internal staging theanvil
  internalstaging.theanvil.io/manifest.json
Labels: test-portal-homepageTest

#2058 Gen3 Monthly Release 2020.09 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1600193296
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: automerge, test-portal-homepageTest

#2070 AnVIL_DD_2.2.5
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dataUploadTest, test-pidgin-getCoremetadataTest

#2057 Add phenotye_group and project_id as search facets
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-apis-dataUploadTest

#2077 Patch service account response in dcf-staging
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#2079 Update_gaTrackingId_AnVIL
  gen3.theanvil.io/portal/gitops.json
Labels: test-portal-dataUploadTest

#2074 TheAnvil PROD Release 1600712251
  gen3.theanvil.io/etlMapping.yaml
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
  gen3.theanvil.io/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2080 AnVIL_gitops
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-google-googleServiceAccountKeyTest, test-google-googleServiceAccountRemovalTest, test-portal-indexingPageTest

#2085 fix(qa): Remove duplicate bucket entry from fence public config
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#2088 KF staging back to 2020.08 1600961675
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-pidgin-getCoremetadataTest

#2090 Fix KF staging scaling
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-portal-coremetadatapageTest

#2091 PXP-6865 Copy from qa-niaid
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/2020-1138 v200917FINALDUA.pdf
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/NIAID Data Access Request FormSept2020.pdf
  accessclinicaldata.niaid.nih.gov/etlMapping.yaml
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest

#2082 BDCAT 2020.09 RELEASE 1600812497
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-etlTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2098 release(anvil): Deploy fence 4.23.5 (TO BE QA'ED AND PROMOTED TO PROD BEFORE 9/30)
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dataUploadTest

#2086 DCF 2020.09 PROD RELEASE 1600897562
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountRemovalTest

#2099 release(bdcat): Deploy fence 4.23.5 (TO BE QA'ED AND PROMOTED TO PROD BEFORE 9/30)
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-metadataIngestionTest

#2110 AnVIL_DD_2.2.6
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dbgapTest, test-google-googleServiceAccountRemovalTest

#2115 chore(covid19_etl): use version of 4.1.1
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#2113 Revert one instance of `subject_id` -> `_subject_id` in anvil internalstaging.
  internalstaging.theanvil.io/portal/gitops.json
Labels: jenkins-brain, test-apis-dataUploadTest

#2117 BDCat prod release 1601417386
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-rasIntegrationTest

#2121 fix: include ui-component button class in color overrides
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.css
Labels: test-portal-homepageTest

#2118 DCF prod release 1601418209
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountRemovalTest

#2119 TheAnvil prod release 1601419017
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/portal/gitops.json
Labels: test-portal-homepageTest
