Repository uc-cdis/cdis-manifest, pull requests merged in 2020-04, with the labels that each got.

#1358 chore: adding release_notes for 2020.04
  releases/2020/04/knownbugs.md
  releases/2020/04/manifest.json
  releases/2020/04/release_notes.md
Labels: doc-only

#1376 Gen3 Monthly Release 2020.04 nci-crdc-staging.datacommons.io 1586451232
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#1431 copy from covid19 prod for occ-covid19
  covid19.occ-pla.net/dashboard/Public/index.html
  covid19.occ-pla.net/dashboard/Public/main.css
  covid19.occ-pla.net/dashboard/Public/notebooks/COVID-19-JHU_data_analysis_04072020.html
  covid19.occ-pla.net/dashboard/Public/notebooks/COVID-19-JHU_data_analysis_04072020.png
  covid19.occ-pla.net/dashboard/Public/notebooks/covid19_seir.html
  covid19.occ-pla.net/dashboard/Public/notebooks/covid19_seir.png
  covid19.occ-pla.net/dashboard/Public/notebooks/kaggle_data_analysis_04072020.html
  covid19.occ-pla.net/dashboard/Public/notebooks/kaggle_data_analysis_04072020.png
  covid19.occ-pla.net/dashboard/Public/sponsors-logo/AWS_logo_RGB.png
  covid19.occ-pla.net/dashboard/Public/sponsors-logo/OCC-data.png
  covid19.occ-pla.net/dashboard/Public/sponsors-logo/awswhite.png
  covid19.occ-pla.net/dashboard/Public/sponsors-logo/burwood_group.jpg
  covid19.occ-pla.net/dashboard/Public/sponsors-logo/chicagoland_covid19_commons.png
  covid19.occ-pla.net/dashboard/Public/sponsors-logo/ctds.jpg
  covid19.occ-pla.net/dashboard/Public/sponsors-logo/gen3.png
  covid19.occ-pla.net/dashboard/Public/sponsors-logo/logo_bioteam_1000px.png
  covid19.occ-pla.net/etlMapping.yaml
  covid19.occ-pla.net/manifest.json
  covid19.occ-pla.net/portal/gitops-logo.png
  covid19.occ-pla.net/portal/gitops-sponsors/OCC-data.png
  covid19.occ-pla.net/portal/gitops-sponsors/awswhite.png
  covid19.occ-pla.net/portal/gitops-sponsors/covid_gene.svg
  covid19.occ-pla.net/portal/gitops-sponsors/logo_bioteam_400px.png
  covid19.occ-pla.net/portal/gitops-sponsors/occHORIZwhitetitleTRANS.png
  covid19.occ-pla.net/portal/gitops.css
  covid19.occ-pla.net/portal/gitops.json
Labels: test-apis-dataUploadtest, test-pidgin-getCoremetadataTest

#1439 chore/anvil_dd: bump up to 1.1.5
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest

#1441 Update gitops.json
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-apis-dbgaptest

#1445 Feat/bhcstaging april release
  staging.braincommons.org/dashboard/Public/publication-page/doi-3432.3424.234/img/createdby.png
  staging.braincommons.org/dashboard/Public/publication-page/doi-3432.3424.234/img/gen3.png
  staging.braincommons.org/dashboard/Public/publication-page/doi-3432.3424.234/img/header-logo.png
  staging.braincommons.org/dashboard/Public/publication-page/doi-3432.3424.234/index.css
  staging.braincommons.org/dashboard/Public/publication-page/doi-3432.3424.234/index.html
  staging.braincommons.org/manifest.json
Labels: test-portal-homepageTest

#1440 fix(theAnvil): remove sower block duplicate
  staging.theanvil.io/manifest.json
Labels: test-google-googleServiceAccountTest

#1444 release(dcf): DCF PROD Release Q2 1587998904
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#1452 chore(TheAnvil): Sync staging with internalstaging and deploy April release 2020.04
  nci-crdc.datacommons.io/manifest.json
  staging.theanvil.io/manifest.json
  staging.theanvil.io/manifests/hatchery/hatchery.json
  staging.theanvil.io/portal/gitops.json
Labels: test-google-googleDataAccessTest

#1454 COVID19 indexd to 2.8.0 ("start" param bugfix)
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-dataUploadTest

#1430 Feat/fitbir
  tbi.datacommons.io/dashboard/Public/index.html
  tbi.datacommons.io/dashboard/Public/maintenance-page/maintenance-page/img/createdby.png
  tbi.datacommons.io/dashboard/Public/maintenance-page/maintenance-page/img/error.svg
  tbi.datacommons.io/dashboard/Public/maintenance-page/maintenance-page/img/gen3.png
  tbi.datacommons.io/dashboard/Public/maintenance-page/maintenance-page/img/header-logo.png
  tbi.datacommons.io/dashboard/Public/maintenance-page/maintenance-page/index.css
  tbi.datacommons.io/dashboard/Public/maintenance-page/maintenance-page/index.html
  tbi.datacommons.io/manifest.json
  tbi.datacommons.io/manifests/fence/fence-config-public.yaml
  tbi.datacommons.io/manifests/sower/sower.json
  tbi.datacommons.io/portal/gitops-favicon.ico
  tbi.datacommons.io/portal/gitops-logo.png
  tbi.datacommons.io/portal/gitops-sponsors/cvb.png
  tbi.datacommons.io/portal/gitops-sponsors/niddk_white.png
  tbi.datacommons.io/portal/gitops.css
  tbi.datacommons.io/portal/gitops.json
Labels: test-apis-OAuth2Test

#1453 COV-114 chore: update covid explorer config
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest

#1448 Update manifest.json
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dataUploadTest

#1460 fix(qa): Amend known bugs header for 2020.04
  releases/2020/04/knownbugs.md
Labels: doc-only
