Repository uc-cdis/cdis-manifest, pull requests merged in 2020-06, with the labels that each got.

#1627 feat(sheepdog): update sheepdog to allow null values
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest

#1626 feat(anvil-indexing): added indexing jobs to internal anvil
  internalstaging.theanvil.io/manifest.json
Labels: test-portal-indexingPageTest

#1632 chore(qa): Document June release notes
  releases/2020/06/gen3_release_notes.md
Labels: doc-only

#1633 chore(qa): More file for the June release notes
  releases/2020/06/knownbugs.md
  releases/2020/06/manifest.json
Labels: doc-only

#1640 Gen3 Monthly Release 2020.06 gen3testing.braincommons.org 1591207256
  gen3testing.braincommons.org/manifest.json
Labels: automerge

#1644 Gen3 Monthly Release 2020.06 internalstaging.theanvil.io 1591213795
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: automerge, test-google-googleServiceAccountRemovalTest

#1639 Gen3 Monthly Release 2020.06 gen3.datacommons.io 1591207192
  gen3.datacommons.io/manifest.json
Labels: automerge

#1655 Gen3 Monthly Release 2020.06 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1591374344
  .travis.yml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: automerge

#1659 Fix links to /workspace not working
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleDataAccessTest

#1656 fix(guppy): Added array config to guppy to prevent it using default i…
  internalstaging.theanvil.io/manifest.json
  staging.theanvil.io/manifest.json
Labels: test-pidgin-getCoremetadataTest

#1645 Gen3 Monthly Release 2020.06 nci-crdc-staging.datacommons.io 1591220738
  nci-crdc-staging.datacommons.io/manifest.json
Labels: automerge, test-google-googleDataAccessTest

#1638 Gen3 Monthly Release 2020.06 dataprep.braincommons.org 1591206494
  dataprep.braincommons.org/manifest.json
Labels: automerge

#1663 chore(qa): Remove unnecessary ambassador service
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#1664 chore(qa): Rolling back June release from DCF due to NIH login issue
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#1666 Revert "Gen3 Monthly Release 2020.06 internalstaging.theanvil.io 1591213795"
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1667 Revert "Revert "Gen3 Monthly Release 2020.06 internalstaging.theanvil.io 1591213795""
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1668 Revert "chore(qa): Rolling back June release from DCF due to NIH login issue"
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountRemovalTest

#1677 removing non PMs from the CODEOWNERS
  CODEOWNERS
Labels: test-portal-homepageTest

#1681 Update gitops.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountRemovalTest

#1637 Gen3 Monthly Release 2020.06 data.bloodpac.org 1591206089
  data.bloodpac.org/manifest.json
Labels: automerge

#1647 Gen3 Monthly Release 2020.06 tbi.datacommons.io 1591225583
  tbi.datacommons.io/manifest.json
Labels: automerge

#1685 Update manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#1693 COVID19 Charts config
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest

#1641 Gen3 Monthly Release 2020.06 genomel.bionimbus.org 1591210158
  genomel.bionimbus.org/manifest.json
Labels: automerge

#1636 Gen3 Monthly Release 2020.06 caninedc.org 1591206070
  caninedc.org/manifest.json
Labels: automerge

#1688 Update gitops.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-google-googleDataAccessTest

#1694 covid19 portal to 3.3.1 (fix plot dates)
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-pidgin-getCoremetadataTest

#1701 chore(qa): Deploy the metadata service to TheAnvil internal staging
  internalstaging.theanvil.io/manifest.json
Labels: automerge, test-portal-homepageTest

#1706 bump ibd dd version
  ibdgc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#1700 update logo color
  gen3.theanvil.io/portal/gitops-logo.png
Labels: test-portal-homepageTest

#1703 fix(indexing-ui): bug in ui, timeout blocks indexing
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-homepageTest

#1699 reduce DD description length
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-portal-homepageTest

#1705 AnVIL_DD_to_2.1.2
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#1708 Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-homepageTest

#1610 chore(qa): Set correct versions for indexing manifest sower jobs
  nci-crdc-staging.datacommons.io/manifest.json
  nci-crdc-staging.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: jenkins-dcp, test-portal-indexingPageTest

#1711 fix(ssjdispatcher): added missing variable for ssjdispatcher
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-indexingPageTest

#1642 Gen3 Monthly Release 2020.06 ibdgc.datacommons.io 1591211067
  ibdgc.datacommons.io/manifest.json
Labels: automerge

#1713 covid19 etl to 3.0.1 (boto version fix)
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1496 PXP-5204 fix(mappings): staging.theanvil.io gender->sex, rm primary_diagnoses
  staging.theanvil.io/etlMapping.yaml
  staging.theanvil.io/manifest.json
Labels: test-pidgin-getCoremetadataTest

#1725 update etl, manifest, gitops
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-google-googleDataAccessTest

#1730 update anvil dd release
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest

#1687 update 2020.06 version to JCOIN
  jcoin.datacommons.io/manifest.json
Labels: automerge

#1733 upgrade to latest dd
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest

#1739 Update manifest.json
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest

#1549 bump kf to recent release
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-api-whatever

#1751 feat(update-dcf-buckets): added new bucket
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#1722 DCF RELEASE 1592942757
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#1780 chore:adding release notes for release 2020.07
  releases/2020/07/gen3_release_notes.md
  releases/2020/07/knownbugs.md
  releases/2020/07/manifest.json
Labels: doc-only

#1781 Update manifest.json
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest
