Repository uc-cdis/cdis-manifest, pull requests merged in 2020-12, with the labels that each got.

#2371 Fix validation for dcf-dataservices
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#2372 Bpac arborist
  data.bloodpac.org/manifest.json
  data.bloodpac.org/portal/gitops.json
Labels: test-portal-homepageTest

#2374 chore(dcf-staging): patch fence to accept userid
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2379 Patch(dcf-prod): Pin pip and fix import
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountRemovalTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2373 turn dap on
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-apis-etlTest

#2382 updated BloodPAC data dictionary to v0.8.1
  data.bloodpac.org/manifest.json
Labels: test-portal-homepageTest

#2381 Chore(dcf-prod): datareplicate aws validation and indexd version
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-drsEndpointsTest

#2385 Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountTest

#2364 doc(qa) adding release notes for 2020.12
  releases/2020/12/gen3_release_notes.md
  releases/2020/12/manifest.json
Labels: doc-only

#2395 Gen3 Monthly Release 2020.12 gen3.datacommons.io 1607380714
  gen3.datacommons.io/manifest.json
  gen3.datacommons.io/manifests/hatchery/hatchery.json
Labels: automerge

#2392 updated MIDRC config
  data.midrc.org/etlMapping.yaml
  data.midrc.org/manifest.json
  data.midrc.org/portal/gitops.json
Labels: test-apis-etlTest

#2383 PXP-7266 chore(explorer): remove explorer from components
  nci-crdc-staging.datacommons.io/portal/gitops.json
Labels: test-google-googleServiceAccountTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2401 Gen3 Monthly Release 2020.12 nci-crdc-staging.datacommons.io 1607402312
  nci-crdc-staging.datacommons.io/manifest.json
Labels: automerge, test-google-googleServiceAccountTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2410 BDCat Staging release 2020.12 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1607441288
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-etlTest

#2412 AnVIL PRE-Prod release 2020.12 internalstaging.theanvil.io 1607445364
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: automerge

#2405 Gen3 Monthly Release 2020.12 portal.occ-data.org 1607416715
  portal.occ-data.org/manifest.json
  portal.occ-data.org/portal/gitops.json
Labels: automerge, test-portal-landingPageButtonsTest

#2390 BDCat PRE-Prod release 2020.12 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1607371897
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountKeyTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountTest

#2387 Update manifest.json
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2415 updated MIDRC ETL mapping
  data.midrc.org/etlMapping.yaml
  data.midrc.org/manifest.json
  data.midrc.org/portal/gitops.json
Labels: test-apis-etlTest

#2296 feat(terrathreshold): per Broad's request increase to 120k subject threshold for warning
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: automerge, test-apis-etlTest

#2416 updated dd to v0.8.2
  data.bloodpac.org/manifest.json
Labels: help wanted, test-apis-etlTest

#2417 updates to midrc explorer config
  data.midrc.org/portal/gitops.json
Labels: test-portal-homepageTest

#2414 BDCat prod release 1607477186
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#2409 Gen3 Monthly Release 2020.12 vpodc.org 1607431109
  vpodc.org/manifest.json
  vpodc.org/manifests/hatchery/hatchery.json
  vpodc.org/portal/gitops.json
Labels: automerge, test-apis-dataUploadTest, test-portal-dataUploadTest, test-portal-landingPageButtonsTest

#2420 fixing ETL
  data.midrc.org/etlMapping.yaml
Labels: test-apis-etlTest

#2418 updated vpodc data dict to 0.5.4
  vpodc.org/manifest.json
Labels: test-portal-landingPageButtonsTest

#2408 Gen3 Monthly Release 2020.12 va.datacommons.io 1607427514
  va.datacommons.io/manifest.json
  va.datacommons.io/portal/gitops.json
Labels: automerge, test-portal-landingPageButtonsTest

#2398 Gen3 Monthly Release 2020.12 ibdgc.datacommons.io 1607391513
  ibdgc.datacommons.io/manifest.json
Labels: automerge

#2404 Gen3 Monthly Release 2020.12 jcoin.datacommons.io 1607413112
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/portal/gitops.json
Labels: automerge, test-portal-landingPageButtonsTest

#2391 Gen3 Monthly Release 2020.12 data.bloodpac.org 1607373512
  data.bloodpac.org/manifest.json
  data.bloodpac.org/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-etlTest

#2427 Anvil prod release 1607626174
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
  gen3.theanvil.io/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#2436 chore(portal-config): update facets for Genomics tab
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-dataUploadTest

#2428 Anvil STAGING release 1607626762
  staging.theanvil.io/etlMapping.yaml
  staging.theanvil.io/manifest.json
  staging.theanvil.io/manifests/hatchery/hatchery.json
  staging.theanvil.io/portal/gitops.json
Labels: test-apis-dbgapTest, test-portal-landingPageButtonsTest

#2443 updated BPAC homepage
  data.bloodpac.org/portal/gitops.json
Labels: test-portal-homepageTest

#2439 chore(manifest): update dd-version to 1.2.0
  ibdgc.datacommons.io/manifest.json
Labels: test-portal-dataUploadTest

#2440 PXP-7330 chore(explorer): remove explorer from components
  nci-crdc.datacommons.io/portal/gitops.json
Labels: test-google-googleServiceAccountRemovalTest

#2445 updating BloodPAC homepage
  data.bloodpac.org/portal/gitops.json
Labels: test-portal-homepageTest

#2446 added Dictionary page to Arborist UI
  data.midrc.org/portal/gitops.json
Labels: test-apis-dataUploadTest

#2406 Gen3 Monthly Release 2020.12 gen3-neuro.datacommons.io 1607420315
  gen3-neuro.datacommons.io/manifest.json
  gen3-neuro.datacommons.io/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-dataUploadTest, test-portal-dataUploadTest

#2397 Gen3 Monthly Release 2020.12 genomel.bionimbus.org 1607387911
  genomel.bionimbus.org/manifest.json
  genomel.bionimbus.org/portal/gitops.json
Labels: automerge, test-portal-landingPageButtonsTest

#2388 Gen3 Monthly Release 2020.12 acct.bionimbus.org 1607366323
  acct.bionimbus.org/manifest.json
  acct.bionimbus.org/manifests/hatchery/hatchery.json
Labels: automerge, test-portal-dataUploadTest, test-portal-landingPageButtonsTest

#2407 Gen3 Monthly Release 2020.12 va-testing.datacommons.io 1607423913
  va-testing.datacommons.io/manifest.json
Labels: automerge, test-apis-dataUploadTest, test-portal-dataUploadTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest
