Repository uc-cdis/cdis-manifest, pull requests merged in 2020-03, with the labels that each got.

#1198 adding release_notes and known_bugs for 202003
  releases/2020/03/knownbugs.md
  releases/2020/03/manifest.json
  releases/2020/03/release_notes.md
Labels: doc-only

#1197 Add footer links to preprod
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: jenkins-genomel

#1277 release(bdcat): BDCat prod 2020 q1 1585091856
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.css
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: gen3-release
