Repository uc-cdis/cdis-manifest, pull requests merged in 2020-11, with the labels that each got.

#2255 Gen3 Monthly Release 2020.11 nci-crdc-staging.datacommons.io 1603859171
  nci-crdc-staging.datacommons.io/manifest.json
Labels: automerge, test-google-googleServiceAccountTest

#2254 Gen3 Monthly Release 2020.11 internalstaging.theanvil.io 1603855570
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-portal-homepageTest

#2289 ACCT PROD Release 2020.11 acct.bionimbus.org 1604599730
  acct.bionimbus.org/manifest.json
  acct.bionimbus.org/manifests/hatchery/hatchery.json
Labels: automerge

#2277 BDCAT preprod 2020.11 release 2020.11 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1604000217
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#2297 feat(terrathreshold): per Broad's request increase to 120k subject threshold for warning
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#2302 chore(bdcat): Tweak terra export warning msg
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest

#2263 Gen3 Monthly Release 2020.11 vpodc.org 1603887974
  vpodc.org/manifest.json
  vpodc.org/manifests/hatchery/hatchery.json
Labels: automerge

#2317 Search over subject.submitter_id not subject_id
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#2248 Gen3 Monthly Release 2020.11 data.bloodpac.org 1603833971
  data.bloodpac.org/manifest.json
  data.bloodpac.org/manifests/hatchery/hatchery.json
Labels: automerge

#2323 fix(bdcat-proprod): hatchery namespace
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: doc-only

#2325 updated MIDRC ETL and manifest
  data.midrc.org/etlMapping.yaml
  data.midrc.org/manifest.json
Labels: test-apis-presignedUrlTest

#2324 (Chore): Fixed checksum field in bundles for ingestion
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#2327 updated explorer config
  data.midrc.org/etlMapping.yaml
  data.midrc.org/manifest.json
  data.midrc.org/portal/gitops.json
Labels: test-portal-dataUploadTest

#2258 Gen3 Monthly Release 2020.11 jcoin.datacommons.io 1603869973
  jcoin.datacommons.io/manifest.json
Labels: automerge

#2253 Gen3 Monthly Release 2020.11 ibdgc.datacommons.io 1603851972
  ibdgc.datacommons.io/manifest.json
Labels: automerge

#2343 (PXP-7097/7099) MIDRC portal UI changes
  data.midrc.org/portal/gitops.css
  data.midrc.org/portal/gitops.json
Labels: test-apis-etlTest

#2349 update portal
  data.midrc.org/manifest.json
Labels: test-apis-etlTest

#2339 feat(canine-fileexplorer): Added file explorer tab
  caninedc.org/portal/gitops.json
Labels: test-apis-etlTest

#2355 updated MIDRC explorer
  data.midrc.org/etlMapping.yaml
  data.midrc.org/portal/gitops.json
Labels: test-apis-etlTest

#2354 Chore: add auto-label action for dataguids.org test
  .github/auto-label.json
  .github/workflows/auto-label.yml
Labels: doc-only

#2360 fixed explorer
  data.midrc.org/portal/gitops.json
Labels: test-apis-etlTest

#2359 Update publication page to include button names and description. Add …
  data.bloodpac.org/dashboard/Public/open-links/BPDC000117/README.md
  data.bloodpac.org/dashboard/Public/open-links/BPDC000117/app.css
  data.bloodpac.org/dashboard/Public/open-links/BPDC000117/blood-pac.img
  data.bloodpac.org/dashboard/Public/open-links/BPDC000117/download-helper.js
  data.bloodpac.org/dashboard/Public/open-links/BPDC000117/index.html
  data.bloodpac.org/dashboard/Public/open-links/index.html
Labels: test-portal-homepageTest

#2362 minor update to text
  data.bloodpac.org/dashboard/Public/open-links/BPDC000117/index.html
Labels: test-portal-homepageTest

#2363 updates to pub page
  data.bloodpac.org/dashboard/Public/open-links/BPDC000117/index.html
Labels: test-portal-homepageTest

#2358 Bump ssjdispatcher, covid19-etl and dictionary
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-apis-etlTest

#2353 chore(portal-config): add super tab and filter tabs for Exchange Area.
  ibdgc.datacommons.io/portal/gitops.json
Labels: test-apis-etlTest
