Repository uc-cdis/cdis-manifest, pull requests merged in 2020-07, with the labels that each got.

#1787 feat(bdcat-portal-update): Updated portal for bdcat staging for expor…
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-indexingPageTest

#1756 Gen3 Monthly Release 2020.07 data.bloodpac.org 1593453362
  data.bloodpac.org/manifest.json
Labels: automerge

#1789 AnVIL_ETL_update_svb
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-metadataIngestionTest

#1785 chore(qa): Fix hatchery config for TheAnvil
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#1792 Gen3 Monthly Release 2020.07 internalstaging.theanvil.io 1593644144
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-metadataIngestionTest

#1770 Gen3 Monthly Release 2020.07 tbi.datacommons.io 1593485745
  tbi.datacommons.io/manifest.json
Labels: automerge

#1796 Gen3 Monthly Release 2020.07 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1593709975
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-dbgapTest

#1795 AnVIL_DD_update_2.1.10
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleServiceAccountTest

#1768 Gen3 Monthly Release 2020.07 nci-crdc-staging.datacommons.io 1593478544
  nci-crdc-staging.datacommons.io/manifest.json
Labels: automerge, test-portal-indexingPageTest

#1799 chore(qa): Upgrade sower-jobs for bdcat preprod (DIRM features)
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-indexingPageTest

#1800 fix(anvil-peregrine-timeout): Extended the peregrine timeout to allow…
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest

#1773 Gen3 Monthly Release 2020.07 portal.occ-data.org 1593528400
  portal.occ-data.org/manifest.json
Labels: automerge, test-portal-coremetadatapageTest

#1809 Dictionary 2.4.0 (aka 2.3.2)
  data.braincommons.org/etlMapping.yaml
  data.braincommons.org/manifest.json
  data.braincommons.org/portal/gitops.json
Labels: test-portal-homepageTest

#1813 AnVIL_DD_update_2.1.11
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest

#1815 COV-272 feat: portal config for idph hospital
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-homepageTest

#1816 COVID19 genomic_data_file update (DD + ETL mapping)
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#1808 adding rstudio jhu map image
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1810 BDCAT RELEASE 1594132572
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-etlTest

#1812 Remove visits part 2
  gen3testing.braincommons.org/etlMapping.yaml
Labels: test-portal-homepageTest

#1824 Update manifest.json for new release of fence with support for GA4GH visa
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-dataUploadTest

#1825 Update gitops.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-portal-dataUploadTest

#1827 Update RAS to show the most recent visa
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountRemovalTest

#1829 chore(qa): Fix PFB export on internalstaging.theanvil.io
  internalstaging.theanvil.io/manifest.json
Labels: test-portal-homepageTest

#1828 TheAnvil RELEASE 1594407161
  gen3.theanvil.io/etlMapping.yaml
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
  gen3.theanvil.io/portal/gitops.json
Labels: test-google-googleServiceAccountRemovalTest

#1832 Update gitops.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-google-googleDataAccessTest

#1843 Add and remove props from covid-19 faceted search
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-apis-dataUploadTest

#1837 TheAnvil Staging update 1594742329
  staging.theanvil.io/etlMapping.yaml
  staging.theanvil.io/manifest.json
  staging.theanvil.io/manifests/hatchery/hatchery.json
  staging.theanvil.io/portal/gitops.json
Labels: test-google-googleDataAccessTest

#1849 chore(anvil): Udpate fence on staging theAnvil
  staging.theanvil.io/manifest.json
Labels: test-apis-dbgapTest

#1765 Gen3 Monthly Release 2020.07 genomel.bionimbus.org 1593467778
  genomel.bionimbus.org/manifest.json
Labels: automerge

#1752 Gen3 Monthly Release 2020.07 caninedc.org 1593449749
  caninedc.org/manifest.json
Labels: automerge

#1854 chore(qa): Remove unnecessary buttons from DCF Staging's navigation bar
  nci-crdc-staging.datacommons.io/manifest.json
  nci-crdc-staging.datacommons.io/portal/gitops.json
Labels: test-portal-indexingPageTest

#1858 chore(precommit): add git hooks
  .pre-commit-config.yaml
  .secrets.baseline
  chicagoland.pandemicresponsecommons.org/dashboard/Public/notebooks/extended-seir.html
Labels: doc-only

#1876 doc(qa) adding release notes for 2020.08
  releases/2020/08/gen3_release_notes.md
  releases/2020/08/manifest.json
Labels: automerge, doc-only

#1885 Revert "Feat: Add scopes to ras access_token and userinfo in crdc staging"
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#1864 Gen3 Monthly Release 2020.08 data.bloodpac.org 1595876929
  data.bloodpac.org/manifest.json
Labels: automerge

#1877 Gen3 Monthly Release 2020.08 internalstaging.theanvil.io 1595898528
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: automerge, test-google-googleDataAccessTest

#1893 Gen3 Monthly Release 2020.08 gen3-neuro.datacommons.io 1596057768
  gen3-neuro.datacommons.io/manifest.json
Labels: automerge

#1894 add gen3-neuro to CODEOWNERS
  CODEOWNERS
Labels: doc-only

#1871 Gen3 Monthly Release 2020.08 gen3testing.braincommons.org 1595887733
  gen3testing.braincommons.org/manifest.json
Labels: automerge
