Repository uc-cdis/cdis-manifest, pull requests merged in 2020-08, with the labels that each got.

#1907 Update dictionary to 2.5.2
  dataprep.braincommons.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1881 Gen3 Monthly Release 2020.08 jcoin.datacommons.io 1595912931
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/modsec/crawlers-user-agents.data
  jcoin.datacommons.io/manifests/modsec/crs-setup.conf
  jcoin.datacommons.io/manifests/modsec/iis-errors.data
  jcoin.datacommons.io/manifests/modsec/java-classes.data
  jcoin.datacommons.io/manifests/modsec/java-code-leakages.data
  jcoin.datacommons.io/manifests/modsec/java-errors.data
  jcoin.datacommons.io/manifests/modsec/lfi-os-files.data
  jcoin.datacommons.io/manifests/modsec/main.conf
  jcoin.datacommons.io/manifests/modsec/modsecurity.conf
  jcoin.datacommons.io/manifests/modsec/php-config-directives.data
  jcoin.datacommons.io/manifests/modsec/php-errors.data
  jcoin.datacommons.io/manifests/modsec/php-function-names-933150.data
  jcoin.datacommons.io/manifests/modsec/php-function-names-933151.data
  jcoin.datacommons.io/manifests/modsec/php-variables.data
  jcoin.datacommons.io/manifests/modsec/restricted-files.data
  jcoin.datacommons.io/manifests/modsec/restricted-upload.data
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-901-INITIALIZATION.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-903.9001-DRUPAL-EXCLUSION-RULES.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-903.9003-NEXTCLOUD-EXCLUSION-RULES.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-903.9004-DOKUWIKI-EXCLUSION-RULES.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-903.9005-CPANEL-EXCLUSION-RULES.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-903.9006-XENFORO-EXCLUSION-RULES.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-905-COMMON-EXCEPTIONS.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-910-IP-REPUTATION.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-911-METHOD-ENFORCEMENT.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-912-DOS-PROTECTION.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-921-PROTOCOL-ATTACK.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-930-APPLICATION-ATTACK-LFI.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-931-APPLICATION-ATTACK-RFI.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-934-APPLICATION-ATTACK-NODEJS.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-941-APPLICATION-ATTACK-XSS.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-943-APPLICATION-ATTACK-SESSION-FIXATION.conf
  jcoin.datacommons.io/manifests/modsec/rule_REQUEST-944-APPLICATION-ATTACK-JAVA.conf
  jcoin.datacommons.io/manifests/modsec/rule_RESPONSE-950-DATA-LEAKAGES.conf
  jcoin.datacommons.io/manifests/modsec/rule_RESPONSE-951-DATA-LEAKAGES-SQL.conf
  jcoin.datacommons.io/manifests/modsec/rule_RESPONSE-952-DATA-LEAKAGES-JAVA.conf
  jcoin.datacommons.io/manifests/modsec/rule_RESPONSE-953-DATA-LEAKAGES-PHP.conf
  jcoin.datacommons.io/manifests/modsec/rule_RESPONSE-954-DATA-LEAKAGES-IIS.conf
  jcoin.datacommons.io/manifests/modsec/rule_RESPONSE-959-BLOCKING-EVALUATION.conf
  jcoin.datacommons.io/manifests/modsec/rule_RESPONSE-980-CORRELATION.conf
  jcoin.datacommons.io/manifests/modsec/scanners-headers.data
  jcoin.datacommons.io/manifests/modsec/scanners-urls.data
  jcoin.datacommons.io/manifests/modsec/scanners-user-agents.data
  jcoin.datacommons.io/manifests/modsec/scripting-user-agents.data
  jcoin.datacommons.io/manifests/modsec/sql-errors.data
  jcoin.datacommons.io/manifests/modsec/unicode.mapping
  jcoin.datacommons.io/manifests/modsec/unix-shell.data
  jcoin.datacommons.io/manifests/modsec/windows-powershell-commands.data
Labels: automerge

#1874 Gen3 Monthly Release 2020.08 ibdgc.datacommons.io 1595894929
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/modsec/crawlers-user-agents.data
  ibdgc.datacommons.io/manifests/modsec/crs-setup.conf
  ibdgc.datacommons.io/manifests/modsec/iis-errors.data
  ibdgc.datacommons.io/manifests/modsec/java-classes.data
  ibdgc.datacommons.io/manifests/modsec/java-code-leakages.data
  ibdgc.datacommons.io/manifests/modsec/java-errors.data
  ibdgc.datacommons.io/manifests/modsec/lfi-os-files.data
  ibdgc.datacommons.io/manifests/modsec/main.conf
  ibdgc.datacommons.io/manifests/modsec/modsecurity.conf
  ibdgc.datacommons.io/manifests/modsec/php-config-directives.data
  ibdgc.datacommons.io/manifests/modsec/php-errors.data
  ibdgc.datacommons.io/manifests/modsec/php-function-names-933150.data
  ibdgc.datacommons.io/manifests/modsec/php-function-names-933151.data
  ibdgc.datacommons.io/manifests/modsec/php-variables.data
  ibdgc.datacommons.io/manifests/modsec/restricted-files.data
  ibdgc.datacommons.io/manifests/modsec/restricted-upload.data
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-901-INITIALIZATION.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-903.9001-DRUPAL-EXCLUSION-RULES.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-903.9003-NEXTCLOUD-EXCLUSION-RULES.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-903.9004-DOKUWIKI-EXCLUSION-RULES.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-903.9005-CPANEL-EXCLUSION-RULES.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-903.9006-XENFORO-EXCLUSION-RULES.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-905-COMMON-EXCEPTIONS.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-910-IP-REPUTATION.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-911-METHOD-ENFORCEMENT.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-912-DOS-PROTECTION.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-921-PROTOCOL-ATTACK.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-930-APPLICATION-ATTACK-LFI.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-931-APPLICATION-ATTACK-RFI.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-934-APPLICATION-ATTACK-NODEJS.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-941-APPLICATION-ATTACK-XSS.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-943-APPLICATION-ATTACK-SESSION-FIXATION.conf
  ibdgc.datacommons.io/manifests/modsec/rule_REQUEST-944-APPLICATION-ATTACK-JAVA.conf
  ibdgc.datacommons.io/manifests/modsec/rule_RESPONSE-950-DATA-LEAKAGES.conf
  ibdgc.datacommons.io/manifests/modsec/rule_RESPONSE-951-DATA-LEAKAGES-SQL.conf
  ibdgc.datacommons.io/manifests/modsec/rule_RESPONSE-952-DATA-LEAKAGES-JAVA.conf
  ibdgc.datacommons.io/manifests/modsec/rule_RESPONSE-953-DATA-LEAKAGES-PHP.conf
  ibdgc.datacommons.io/manifests/modsec/rule_RESPONSE-954-DATA-LEAKAGES-IIS.conf
  ibdgc.datacommons.io/manifests/modsec/rule_RESPONSE-959-BLOCKING-EVALUATION.conf
  ibdgc.datacommons.io/manifests/modsec/rule_RESPONSE-980-CORRELATION.conf
  ibdgc.datacommons.io/manifests/modsec/scanners-headers.data
  ibdgc.datacommons.io/manifests/modsec/scanners-urls.data
  ibdgc.datacommons.io/manifests/modsec/scanners-user-agents.data
  ibdgc.datacommons.io/manifests/modsec/scripting-user-agents.data
  ibdgc.datacommons.io/manifests/modsec/sql-errors.data
  ibdgc.datacommons.io/manifests/modsec/unicode.mapping
  ibdgc.datacommons.io/manifests/modsec/unix-shell.data
  ibdgc.datacommons.io/manifests/modsec/windows-powershell-commands.data
Labels: automerge

#1882 Gen3 Monthly Release 2020.08 portal.occ-data.org 1595916532
  portal.occ-data.org/manifest.json
  portal.occ-data.org/manifests/modsec/crawlers-user-agents.data
  portal.occ-data.org/manifests/modsec/crs-setup.conf
  portal.occ-data.org/manifests/modsec/iis-errors.data
  portal.occ-data.org/manifests/modsec/java-classes.data
  portal.occ-data.org/manifests/modsec/java-code-leakages.data
  portal.occ-data.org/manifests/modsec/java-errors.data
  portal.occ-data.org/manifests/modsec/lfi-os-files.data
  portal.occ-data.org/manifests/modsec/main.conf
  portal.occ-data.org/manifests/modsec/modsecurity.conf
  portal.occ-data.org/manifests/modsec/php-config-directives.data
  portal.occ-data.org/manifests/modsec/php-errors.data
  portal.occ-data.org/manifests/modsec/php-function-names-933150.data
  portal.occ-data.org/manifests/modsec/php-function-names-933151.data
  portal.occ-data.org/manifests/modsec/php-variables.data
  portal.occ-data.org/manifests/modsec/restricted-files.data
  portal.occ-data.org/manifests/modsec/restricted-upload.data
  portal.occ-data.org/manifests/modsec/rule_REQUEST-901-INITIALIZATION.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-903.9001-DRUPAL-EXCLUSION-RULES.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-903.9003-NEXTCLOUD-EXCLUSION-RULES.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-903.9004-DOKUWIKI-EXCLUSION-RULES.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-903.9005-CPANEL-EXCLUSION-RULES.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-903.9006-XENFORO-EXCLUSION-RULES.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-905-COMMON-EXCEPTIONS.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-910-IP-REPUTATION.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-911-METHOD-ENFORCEMENT.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-912-DOS-PROTECTION.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-921-PROTOCOL-ATTACK.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-930-APPLICATION-ATTACK-LFI.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-931-APPLICATION-ATTACK-RFI.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-934-APPLICATION-ATTACK-NODEJS.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-941-APPLICATION-ATTACK-XSS.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-943-APPLICATION-ATTACK-SESSION-FIXATION.conf
  portal.occ-data.org/manifests/modsec/rule_REQUEST-944-APPLICATION-ATTACK-JAVA.conf
  portal.occ-data.org/manifests/modsec/rule_RESPONSE-950-DATA-LEAKAGES.conf
  portal.occ-data.org/manifests/modsec/rule_RESPONSE-951-DATA-LEAKAGES-SQL.conf
  portal.occ-data.org/manifests/modsec/rule_RESPONSE-952-DATA-LEAKAGES-JAVA.conf
  portal.occ-data.org/manifests/modsec/rule_RESPONSE-953-DATA-LEAKAGES-PHP.conf
  portal.occ-data.org/manifests/modsec/rule_RESPONSE-954-DATA-LEAKAGES-IIS.conf
  portal.occ-data.org/manifests/modsec/rule_RESPONSE-959-BLOCKING-EVALUATION.conf
  portal.occ-data.org/manifests/modsec/rule_RESPONSE-980-CORRELATION.conf
  portal.occ-data.org/manifests/modsec/scanners-headers.data
  portal.occ-data.org/manifests/modsec/scanners-urls.data
  portal.occ-data.org/manifests/modsec/scanners-user-agents.data
  portal.occ-data.org/manifests/modsec/scripting-user-agents.data
  portal.occ-data.org/manifests/modsec/sql-errors.data
  portal.occ-data.org/manifests/modsec/unicode.mapping
  portal.occ-data.org/manifests/modsec/unix-shell.data
  portal.occ-data.org/manifests/modsec/windows-powershell-commands.data
Labels: automerge, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1917 Update dictionary to 2.5.2
  staging.braincommons.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1879 Gen3 Monthly Release 2020.08 staging.braincommons.org 1595905731
  staging.braincommons.org/manifest.json
Labels: automerge

#1880 Gen3 Monthly Release 2020.08 tbi.datacommons.io 1595909332
  tbi.datacommons.io/manifest.json
  tbi.datacommons.io/manifests/modsec/crawlers-user-agents.data
  tbi.datacommons.io/manifests/modsec/crs-setup.conf
  tbi.datacommons.io/manifests/modsec/iis-errors.data
  tbi.datacommons.io/manifests/modsec/java-classes.data
  tbi.datacommons.io/manifests/modsec/java-code-leakages.data
  tbi.datacommons.io/manifests/modsec/java-errors.data
  tbi.datacommons.io/manifests/modsec/lfi-os-files.data
  tbi.datacommons.io/manifests/modsec/main.conf
  tbi.datacommons.io/manifests/modsec/modsecurity.conf
  tbi.datacommons.io/manifests/modsec/php-config-directives.data
  tbi.datacommons.io/manifests/modsec/php-errors.data
  tbi.datacommons.io/manifests/modsec/php-function-names-933150.data
  tbi.datacommons.io/manifests/modsec/php-function-names-933151.data
  tbi.datacommons.io/manifests/modsec/php-variables.data
  tbi.datacommons.io/manifests/modsec/restricted-files.data
  tbi.datacommons.io/manifests/modsec/restricted-upload.data
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-901-INITIALIZATION.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-903.9001-DRUPAL-EXCLUSION-RULES.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-903.9003-NEXTCLOUD-EXCLUSION-RULES.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-903.9004-DOKUWIKI-EXCLUSION-RULES.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-903.9005-CPANEL-EXCLUSION-RULES.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-903.9006-XENFORO-EXCLUSION-RULES.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-905-COMMON-EXCEPTIONS.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-910-IP-REPUTATION.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-911-METHOD-ENFORCEMENT.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-912-DOS-PROTECTION.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-921-PROTOCOL-ATTACK.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-930-APPLICATION-ATTACK-LFI.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-931-APPLICATION-ATTACK-RFI.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-934-APPLICATION-ATTACK-NODEJS.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-941-APPLICATION-ATTACK-XSS.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-943-APPLICATION-ATTACK-SESSION-FIXATION.conf
  tbi.datacommons.io/manifests/modsec/rule_REQUEST-944-APPLICATION-ATTACK-JAVA.conf
  tbi.datacommons.io/manifests/modsec/rule_RESPONSE-950-DATA-LEAKAGES.conf
  tbi.datacommons.io/manifests/modsec/rule_RESPONSE-951-DATA-LEAKAGES-SQL.conf
  tbi.datacommons.io/manifests/modsec/rule_RESPONSE-952-DATA-LEAKAGES-JAVA.conf
  tbi.datacommons.io/manifests/modsec/rule_RESPONSE-953-DATA-LEAKAGES-PHP.conf
  tbi.datacommons.io/manifests/modsec/rule_RESPONSE-954-DATA-LEAKAGES-IIS.conf
  tbi.datacommons.io/manifests/modsec/rule_RESPONSE-959-BLOCKING-EVALUATION.conf
  tbi.datacommons.io/manifests/modsec/rule_RESPONSE-980-CORRELATION.conf
  tbi.datacommons.io/manifests/modsec/scanners-headers.data
  tbi.datacommons.io/manifests/modsec/scanners-urls.data
  tbi.datacommons.io/manifests/modsec/scanners-user-agents.data
  tbi.datacommons.io/manifests/modsec/scripting-user-agents.data
  tbi.datacommons.io/manifests/modsec/sql-errors.data
  tbi.datacommons.io/manifests/modsec/unicode.mapping
  tbi.datacommons.io/manifests/modsec/unix-shell.data
  tbi.datacommons.io/manifests/modsec/windows-powershell-commands.data
Labels: automerge

#1935 init clinical trial niaid
  accessclinicaltrials.niaid.nih.gov/etlMapping.yaml
  accessclinicaltrials.niaid.nih.gov/manifest.json
  accessclinicaltrials.niaid.nih.gov/manifests/scaling/scaling.json
  accessclinicaltrials.niaid.nih.gov/portal/gitops-favicon.ico
  accessclinicaltrials.niaid.nih.gov/portal/gitops-logo.png
  accessclinicaltrials.niaid.nih.gov/portal/gitops-sponsors/niaid.png
  accessclinicaltrials.niaid.nih.gov/portal/gitops-sponsors/sars-cov2.png
  accessclinicaltrials.niaid.nih.gov/portal/gitops.css
  accessclinicaltrials.niaid.nih.gov/portal/gitops.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1936 removing tailing \n
  accessclinicaltrials.niaid.nih.gov/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1930 Dictionary 2.5.2
  data.braincommons.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1942 Gen3 Monthly Release 2020.08 data.braincommons.org 1597340076
  data.braincommons.org/manifest.json
Labels: automerge

#1946 chore(anvil_dd):bump to 2.2.2
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dbgapTest

#1866 Gen3 Monthly Release 2020.08 dataprep.braincommons.org 1595880530
  dataprep.braincommons.org/manifest.json
Labels: automerge

#1958 doc name
  accessclinicaltrials.niaid.nih.gov/portal/gitops.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1954 BDCat_ETL_update
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Labels: test-apis-dbgapTest

#1953 chore(qa): Bump up fence version for pre-release RAS testing
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dbgapTest

#1959 feat(jobs): add manifest merging sower job
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountRemovalTest

#1968 BDCat_etl_update
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Labels: test-apis-dbgapTest

#1969 transfer site to accessclinicaldata.niaid.nih.gov
  accessclinicaldata.niaid.nih.gov/etlMapping.yaml
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/scaling/scaling.json
  accessclinicaldata.niaid.nih.gov/portal/gitops-favicon.ico
  accessclinicaldata.niaid.nih.gov/portal/gitops-logo.png
  accessclinicaldata.niaid.nih.gov/portal/gitops-sponsors/niaid.png
  accessclinicaldata.niaid.nih.gov/portal/gitops-sponsors/niaid_dark.png
  accessclinicaldata.niaid.nih.gov/portal/gitops-sponsors/sars-cov2.png
  accessclinicaldata.niaid.nih.gov/portal/gitops.css
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#1981 feat(anvil-ras): Updated fence version for prod ras configuration
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-rasIntegrationTest

#1984 Gen3 Monthly Release 2020.08 acct.bionimbus.org 1598471321
  acct.bionimbus.org/manifest.json
Labels: automerge

#1987 chore(qa): Deploy gen3fuse-sidecar 2020.08 to theanvil internal staging
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#1977 DCF PROD Release Q3 1598299027
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountRemovalTest

#1988 chore(qa): Bump up fence in bdcat preprod
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountTest

#1985 Deploy export to Seven Bridges to BDC preprod
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-dbgapTest

#1990 release(anvil): upgrade fence to 4.23.2
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleServiceAccountRemovalTest

#2001 doc(qa) adding release notes for 2020.09
  releases/2020/09/gen3_release_notes.md
  releases/2020/09/manifest.json
Labels: automerge, doc-only

#2013 chore(qa): upgrade fence to 4.23.2 in dcf staging
  nci-crdc-staging.datacommons.io/manifest.json
Labels: automerge
