Repository uc-cdis/cdis-manifest, pull requests merged in 2020-05, with the labels that each got.

#1476 feat(preprod): metadata jobs, update sower
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-indexingPageTest

#1486 fix(notebook): update java notebook image for bug fixes
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#1494 chore(release): Core Gen3 May Release - 2020.05
  releases/2020/05/knownbugs.md
  releases/2020/05/manifest.json
  releases/2020/05/release_notes.md
Labels: doc-only

#1493 chore/portal config changes for Data Explorer
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest

#1491 Gen3 Monthly Release 2020.05 internalstaging.theanvil.io 1588787834
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest

#1500 Fix favicon for BDC prod
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops-favicon.ico
Labels: test-google-googleServiceAccountRemovalTest

#1498 covid19_DD_to_2.3.11
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-pidgin-getCoremetadataTest

#1488 chore(datastage): rm staging.datastage.io, decommissioned
  staging.datastage.io/README.md
  staging.datastage.io/etlMapping.yaml
  staging.datastage.io/manifest.json
  staging.datastage.io/portal/gitops-favicon.ico
  staging.datastage.io/portal/gitops-logo.png
  staging.datastage.io/portal/gitops-sponsors/nhlbi.png
  staging.datastage.io/portal/gitops.css
  staging.datastage.io/portal/gitops.json
Labels: decommission-environment

#1501 Fix favicon for BDC preprod
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops-favicon.ico
Labels: test-portal-homepageTest

#1514 chore: pub page ack update
  gen3testing.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Labels: doc-only

#1523 chore: update pub page
  gen3testing.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Labels: test-portal-homepageTest

#1529 Chore/pub prod
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/img/createdby.png
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/img/gen3.png
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/img/header-logo.png
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.css
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Labels: test-portal-homepageTest

#1495 PXP-5204 fix(mappings): internalstaging.theanvil.io typo
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest

#1536 remove file link
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Labels: test-portal-homepageTest

#1535 chore(qa): Introduce auto-merge PR label magic
  .github/workflows/automerge.yml
Labels: automerge, doc-only

#1504 Gen3 Monthly Release 2020.05 gen3.datacommons.io 1588962370
  gen3.datacommons.io/manifest.json
Labels: automerge

#1512 Gen3 Monthly Release 2020.05 dataprep.braincommons.org 1589211123
  dataprep.braincommons.org/manifest.json
Labels: automerge

#1539 fix: wording
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
  gen3testing.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
  staging.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Labels: test-portal-homepageTest

#1540 Revert "Gen3 Monthly Release 2020.05 dataprep.braincommons.org 1589211123"
  dataprep.braincommons.org/manifest.json
Labels: automerge, test-apis-drsEndpointsTest

#1531 feat(new-buckets): added new buckets to dcf.
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#1517 Gen3 Monthly Release 2020.05 nci-crdc-staging.datacommons.io 1589215112
  nci-crdc-staging.datacommons.io/manifest.json
Labels: automerge

#1544 chore/modify columns of explorer table
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest

#1530 update portal.occ-data to 2020.05
  portal.occ-data.org/manifest.json
Labels: automerge

#1545 feat(jobs): update indexing jobs
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-dataUploadTest

#1542 Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest

#1546 chore(qa): Add all SDETs as codeowners just as FYI for gen3 monthly releases
  CODEOWNERS
Labels: automerge, test-portal-homepageTest

#1543 Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-coremetadatapageTest

#1548 Add more CODEOWNERs
  CODEOWNERS
Labels: test-apis-drsEndpointsTest

#1555 update pub pages with details
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
  gen3testing.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
  staging.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Labels: test-portal-homepageTest

#1490 Gen3 Monthly Release 2020.05 caninedc.org 1588787773
  caninedc.org/manifest.json
Labels: automerge, test-portal-homepageTest

#1556 feat(jobs): configurable job deadlines
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest

#1557 covid19: deploy JHU map R nb to nb browser
  chicagoland.pandemicresponsecommons.org/dashboard/Public/notebooks/jhu_map.html
  chicagoland.pandemicresponsecommons.org/dashboard/Public/notebooks/jhu_map.png
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest

#1563 fix(indexing): update sower job images to fix bug with character encoding
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-indexingPageTest

#1564 feat: chicagoland to latest etl
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-google-googleServiceAccountRemovalTest

#1506 Gen3 Monthly Release 2020.05 acct.bionimbus.org 1588966473
  acct.bionimbus.org/manifest.json
Labels: automerge

#1509 Gen3 Monthly Release 2020.05 genomel.bionimbus.org 1588970222
  genomel.bionimbus.org/manifest.json
Labels: automerge

#1561 chore(upgrade): central auth
  portal.occ-data.org/portal/gitops.json
Labels: test-apis-dataUploadTest, test-pidgin-getCoremetadataTest

#1570 fix(anvil-istaging): portal to match etl
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest

#1568 Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-google-googleDataAccessTest

#1573 covid19 fix manifest GUID
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest

#1562 chore: applying 2020.05 version
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-apis-drsEndpointsTest

#1574 add(gen3-neuro): new commons
  gen3-neuro.datacommons.io/etlMapping.yaml
  gen3-neuro.datacommons.io/manifest.json
  gen3-neuro.datacommons.io/manifests/hatchery/hatchery.json
  gen3-neuro.datacommons.io/portal/gitops.json
Labels: test-apis-dataUploadTest, test-pidgin-getCoremetadataTest

#1510 Gen3 Monthly Release 2020.05 data.bloodpac.org 1588972188
  data.bloodpac.org/manifest.json
Labels: automerge

#1579 fix(cert): wrong ARN
  gen3-neuro.datacommons.io/manifest.json
Labels: test-apis-dataUploadTest, test-pidgin-getCoremetadataTest

#1582 COVID19 add project details to ETL mapping
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Labels: test-portal-coremetadatapageTest

#1583 COVID19 exploration page updates
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest

#1589 chore(qa): Deploy pelican-export 2020.05 to intern. staging theanvil
  internalstaging.theanvil.io/manifest.json
Labels: test-portal-homepageTest

#1586 COVID19 portal to v3.2.2 (new homepage data flow)
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-homepageTest

#1588 Update etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Labels: test-google-googleDataAccessTest

#1518 Gen3 Monthly Release 2020.05 tbi.datacommons.io 1589215137
  tbi.datacommons.io/manifest.json
Labels: automerge

#1595 Update gitops.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-indexingPageTest

#1594 Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-pidgin-getCoremetadataTest

#1605 COVID19 ETLs to 1.1.3
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#1609 chore(dcf): DCF PROD release 20202 Q2 1590535943
  nci-crdc.datacommons.io/manifest.json
Labels: automerge, test-google-googleServiceAccountTest

#1611 chore(remove-old-buckets): removed old buckets that were deleted
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#1592 chore(clean up): Keep a single hatchery manifest for theanvil
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-OAuth2Test
