Repository uc-cdis/cdis-manifest, pull requests merged in 2021-06, with the labels that each got.

#3014 chore:update ETLMapping for IDPH-Vaccine
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Labels: test-guppy-guppyTest

#3008 feat(audit-dcfstaging): added audit service
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#3005 chore(bdc-buckets): Added buckets in indexd but not in fence yet
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#3021 PXP-8067 NCT private tier access
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: jenkins-niaid

#3023 PXP-8067 Revert "NCT private tier access (#3021)"
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: jenkins-niaid

#3031 Chore(release-update) : deploy 2021.04 + fence 4.29.1 to PROD NCT
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: jenkins-niaid

#3043 BDCAT PREPROD Release 2021.05 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1623080573
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#3045 ANVIL PREPROD Release 2021.05 internalstaging.theanvil.io 1623083469
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: automerge

#3050 pin pelican-export to 2021.03 for internal staging theanvil
  internalstaging.theanvil.io/manifest.json
Labels: test-pidgin-getCoremetadataTest

#3053 Gen3 Monthly Release 2021.06 va-testing.datacommons.io 1623255632
  va-testing.datacommons.io/manifest.json
Labels: automerge

#3064 BDCat staging release 2021.05 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1623345341
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: automerge

#3056 Gen3 Monthly Release 2021.06 va.data-commons.org 1623265628
  va.data-commons.org/manifest.json
Labels: automerge

#3069 PXP-8067 NCT private tier access
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: jenkins-niaid, test-portal-coremetadatapageTest

#3076 BDCat preprod release 2021.06 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1623431484
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-presignedUrlTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#3083 feat(oadc-dashboard): Added dashboard service to oadc
  gen3.datacommons.io/manifest.json
Labels: test-portal-dataUploadTest, test-portal-homepageTest

#3074 BDCat staging release 1623428190
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/dataHelper.js
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/index.html
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsMain.js
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountKeyTest, test-guppy-guppyTest, test-pidgin-getCoremetadataTest, test-portal-homepageTest

#3047 chore(fence-public): Add fence-config-public to PROD_NCT
  .secrets.baseline
  accessclinicaldata.niaid.nih.gov/manifests/fence/fence-config-public.yaml
Labels: jenkins-niaid

#3088 Anvil internal staging release 2021.06 internalstaging.theanvil.io 1623775358
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountRemovalTest

#3086 fix/change notebook links
  gen3.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest

#3087 Anvil PROD 2021.05 release 1623774582
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: automerge

#3084 BDCat PROD 2021.05 release 1623701073
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-dbgapTest, test-google-googleDataAccessTest, test-google-googleServiceAccountRemovalTest

#3098 fix/update tooltips for oadc
  gen3.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest

#3093 Anvil PROD 2021.06 release 1623796222
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest

#3107 Add IBD Browser link back to the homepage
  ibdgc.datacommons.io/portal/gitops.json
Labels: test-apis-drsEndpointsTest

#3091 Updating to audit-service 1.0.0 + fence 5.1.0
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: test-portal-dataUploadTest

#3096 Gen3 Monthly Release 2021.06 nci-crdc-staging.datacommons.io 1623870505
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountTest

#3119 Revert "Gen3 Monthly Release 2021.06 nci-crdc-staging.datacommons.io 1623870505"
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-presignedUrlTest

#3118 fix : remove google login from fence-config-public
  accessclinicaldata.niaid.nih.gov/manifests/fence/fence-config-public.yaml
Labels: jenkins-niaid

#3121 PM Updates & Remove BRAIN
  CODEOWNERS
Labels: jenkins-niaid

#3123 updated MIDRC staging explorer config
  staging.midrc.org/portal/gitops.json
Labels: jenkins-niaid

#3126 NCT Fence 5.2.1
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: jenkins-niaid

#3106 Gen3 Monthly Release 2021.06 preprod.healdata.org 1624024742
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: automerge

#3127 adding metadata service to dataguids.org
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#3129 HEAL Preprod - update hatchery manifest
  .secrets.baseline
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#3128 Update fence for RAS M2
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountRemovalTest

#3135 Update gitops.json preprod static notebooks title change
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3136 doc(qa) adding release notes for 2021.07
  releases/2021/07/gen3_release_notes.md
  releases/2021/07/manifest.json
Labels: doc-only

#3146 PRC covid19-etl:4.8.0
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#3156 deploy portal 3.1.0 to preprod bdcat
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountKeyTest

#3159 heal prepod - add portal bundle config
  preprod.healdata.org/manifest.json
Labels: test-google-googleDataAccessTest

#3160 chore(bdcat-release): Set AWS ECR img path for data-portal
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: automerge, test-portal-homepageTest

#3161 use heal bundle
  healdata.org/manifest.json
Labels: test-google-googleDataAccessTest
