Repository uc-cdis/cdis-manifest, pull requests merged in 2021-12, with the labels that each got.

#3862 Add RED CORAL (phs002363) bucket to public fence config
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-apis-dbgapTest

#3860 heal preprod - update audit service to 1.0.0
  preprod.healdata.org/manifest.json
Labels: test-portal-discoveryPageTest

#3864 Update hatchery.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-aggMDSTest, test-portal-discoveryPageTest

#3861 heal prod - update audit service to 1.0.0
  healdata.org/manifest.json
Labels: test-apis-aggMDSTest

#3857 Update manifest.json
  brh.data-commons.org/manifest.json
Labels: test-portal-discoveryPageTest

#3868 doc(qa) adding release notes for 2021.12
  releases/2021/12/gen3_release_notes.md
  releases/2021/12/manifest.json
Labels: doc-only, automerge

#3866 PXP-9114 NCT: add 2 fields to study viewer
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-portal-studyViewerTest

#3871 update 2021.12 release notes for sower changes
  releases/2021/12/gen3_release_notes.md
Labels: doc-only

#3873 Update hatchery.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-portal-discoveryPageTest

#3887 PRC covid19-bayes:4.12.0
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#3884 PXP-9133 IBD study viewer updates
  ibdgc.datacommons.io/etlMapping.yaml
  ibdgc.datacommons.io/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest

#3886 Update hatchery.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-aggMDSTest

#3890 PRC covid19-bayes:4.12.1
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#3763 DCF Staging Release 2021.10 nci-crdc-staging.datacommons.io 1636482407
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest, test-google-googleServiceAccountTest, test-apis-OAuth2Test, test-apis-auditServiceTest

#3894 Gen3 Monthly Release 2021.12 va.data-commons.org 1639155825
  va.data-commons.org/manifest.json
Labels: automerge

#3896 HEAL PREPROD - update services to 2021.12 versions
  preprod.healdata.org/manifest.json
Labels: test-apis-metadataIngestionTest

#3899 PXP-9116 NCT data-portal:3.18
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: test-guppy-guppyTest

#3916 Update DCF datareplicate service PROD
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-OAuth2Test

#3920 PRC: Temporarily disable Exploration page
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-homepageTest

#3921 PRC: Enable Exploration page
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-homepageTest

#3928 Update JCOIN and IBDGC user.yaml bucket
  ibdgc.datacommons.io/manifest.json
  jcoin.datacommons.io/manifest.json
Labels: test-pidgin-getCoremetadataTest

#3933 chore(nde-dns): Updated NDE dns name
  aids.diseasedatahub.org/etlMapping.yaml
  aids.diseasedatahub.org/manifest.json
  aids.diseasedatahub.org/manifests/scaling/scaling.json
  aids.diseasedatahub.org/portal/gitops-favicon.ico
  aids.diseasedatahub.org/portal/gitops-logo.png
  aids.diseasedatahub.org/portal/gitops-sponsors/niaid.png
  aids.diseasedatahub.org/portal/gitops.css
  aids.diseasedatahub.org/portal/gitops.json
  diseasedatahub.org/manifest.json
  diseasedatahub.org/manifests/scaling/scaling.json
  diseasedatahub.org/portal/gitops-favicon.ico
  diseasedatahub.org/portal/gitops-logo.png
  diseasedatahub.org/portal/gitops-sponsors/actg-logo.png
  diseasedatahub.org/portal/gitops-sponsors/macs-wihs-logo.png
  diseasedatahub.org/portal/gitops-sponsors/niaid.png
  diseasedatahub.org/portal/gitops-sponsors/patric-logo.png
  diseasedatahub.org/portal/gitops-sponsors/tb-logo.png
  diseasedatahub.org/portal/gitops.css
  diseasedatahub.org/portal/gitops.json
  flu.diseasedatahub.org/etlMapping.yaml
  flu.diseasedatahub.org/manifest.json
  flu.diseasedatahub.org/manifests/scaling/scaling.json
  flu.diseasedatahub.org/portal/gitops-favicon.ico
  flu.diseasedatahub.org/portal/gitops-logo.png
  flu.diseasedatahub.org/portal/gitops-sponsors/niaid.png
  flu.diseasedatahub.org/portal/gitops.css
  flu.diseasedatahub.org/portal/gitops.json
  microbiome.diseasedatahub.org/etlMapping.yaml
  microbiome.diseasedatahub.org/manifest.json
  microbiome.diseasedatahub.org/manifests/scaling/scaling.json
  microbiome.diseasedatahub.org/portal/gitops-favicon.ico
  microbiome.diseasedatahub.org/portal/gitops-logo.png
  microbiome.diseasedatahub.org/portal/gitops-sponsors/niaid.png
  microbiome.diseasedatahub.org/portal/gitops.css
  microbiome.diseasedatahub.org/portal/gitops.json
  tb.diseasedatahub.org/etlMapping.yaml
  tb.diseasedatahub.org/manifest.json
  tb.diseasedatahub.org/manifests/scaling/scaling.json
  tb.diseasedatahub.org/portal/gitops-favicon.ico
  tb.diseasedatahub.org/portal/gitops-logo.png
  tb.diseasedatahub.org/portal/gitops-sponsors/niaid.png
  tb.diseasedatahub.org/portal/gitops.css
  tb.diseasedatahub.org/portal/gitops.json
Labels: test-portal-homepageTest

#3925 AnVIL_2.3.6_DD
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dbgapTest

#3893 Gen3 Monthly Release 2021.12 va-testing.datacommons.io 1639152212
  va-testing.datacommons.io/manifest.json
Labels: automerge

#3900 Gen3 Monthly Release 2021.12 staging.midrc.org 1639166577
  staging.midrc.org/manifest.json
Labels: test-guppy-guppyTest

#3903 Gen3 Monthly Release 2021.12 validate.midrc.org 1639170179
  validate.midrc.org/manifest.json
Labels: test-pidgin-getCoremetadataTest, automerge

#3898 Gen3 Monthly Release 2021.12 data.midrc.org 1639162975
  data.midrc.org/manifest.json
Labels: automerge

#3945 doc(qa) adding release notes for 2022.01
  releases/2022/01/gen3_release_notes.md
  releases/2022/01/manifest.json
Labels: doc-only, automerge
