Repository uc-cdis/cdis-manifest, pull requests merged in 2021-02, with the labels that each got.

#2546 Gen3 Monthly Release 2021.02 nci-crdc-staging.datacommons.io 1611714727
  nci-crdc-staging.datacommons.io/manifest.json
Labels: automerge

#2545 Gen3 Monthly Release 2021.02 internalstaging.theanvil.io 1611711127
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: automerge

#2551 Gen3 Monthly Release 2021.02 gen3-neuro.datacommons.io 1611732729
  gen3-neuro.datacommons.io/manifest.json
  gen3-neuro.datacommons.io/manifests/hatchery/hatchery.json
Labels: automerge, test-portal-dataUploadTest

#2548 Gen3 Monthly Release 2021.02 tbi.datacommons.io 1611721929
  tbi.datacommons.io/manifest.json
Labels: automerge

#2547 Gen3 Monthly Release 2021.02 staging.braincommons.org 1611718330
  staging.braincommons.org/manifest.json
Labels: automerge

#2540 Gen3 Monthly Release 2021.02 gen3testing.braincommons.org 1611696727
  gen3testing.braincommons.org/manifest.json
Labels: automerge

#2402 Gen3 Monthly Release 2020.12 staging.braincommons.org 1607405914
  staging.braincommons.org/manifest.json
Labels: automerge, test-apis-etlTest

#2485 Gen3 Monthly Release 2021.01 staging.braincommons.org 1610099257
  staging.braincommons.org/manifest.json
Labels: automerge, test-apis-dataUploadTest, test-portal-dataUploadTest

#2396 Gen3 Monthly Release 2020.12 gen3testing.braincommons.org 1607384310
  .secrets.baseline
  gen3testing.braincommons.org/manifest.json
Labels: automerge, test-apis-etlTest

#2479 Gen3 Monthly Release 2021.01 gen3testing.braincommons.org 1610077654
  gen3testing.braincommons.org/manifest.json
Labels: automerge, test-apis-cleverSafeTest, test-apis-dataUploadTest, test-apis-etlTest, test-apis-presignedUrlTest

#2599 TheAnvil prod release 1612831565
  gen3.theanvil.io/etlMapping.yaml
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
  gen3.theanvil.io/portal/gitops.json
Labels: test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-homepageTest

#2613 PRC fix IGV race condition
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/gen3-igv.yaml
Labels: test-portal-dataUploadTest

#2595 BDCAT PREPROD Release 2021.02 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1612807250
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-rasIntegrationTest, test-portal-rasAuthN

#2619 chore(release): Set empty footerLogos to prevent null values applied by code promotion automation
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-portal-homepageTest

#2607 BDCAT Staging release 1612973341
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Public/maintenance-page/img/createdby.png
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Public/maintenance-page/img/error.svg
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Public/maintenance-page/img/gen3.png
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Public/maintenance-page/img/header-logo.png
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Public/maintenance-page/index.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Public/maintenance-page/index.html
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/modules/jasmine-core/package.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#2620 (Chore): Deploy RAS M2 to DCF-staging
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#2605 Gen3 Monthly Release 2021.02 jcoin.datacommons.io 1612903714
  jcoin.datacommons.io/manifest.json
Labels: automerge

#2630 PXP-7669 chore(dd): remove DD links
  nci-crdc-staging.datacommons.io/portal/gitops.css
  nci-crdc-staging.datacommons.io/portal/gitops.json
Labels: test-google-googleDataAccessTest

#2627 Anvil prod release 1613594397
  gen3.theanvil.io/portal/gitops.json
Labels: test-apis-dbgapTest

#2631 DD release PRC PROD
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-dataUploadTest

#2616 Anvil Staging release 1613404677
  staging.theanvil.io/etlMapping.yaml
  staging.theanvil.io/manifest.json
  staging.theanvil.io/manifests/hatchery/hatchery.json
  staging.theanvil.io/portal/gitops.json
Labels: test-apis-dbgapTest

#2637 update midrc css
  data.midrc.org/portal/gitops.css
Labels: test-apis-centralizedAuth, test-apis-cleverSafeTest, test-apis-drsEndpointsTest, test-apis-etlTest, test-apis-presignedUrlTest, test-apis-userTokenTest, test-guppy-guppyTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-homepageTest, test-portal-loginPageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2634 PXP-7669 chore(dd): remove DD links
  nci-crdc.datacommons.io/portal/gitops.css
  nci-crdc.datacommons.io/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#2639 fix(remove-download-tab): Removed download tab from anvilprod
  gen3.theanvil.io/portal/gitops.json
Labels: test-portal-homepageTest

#2643 PRC nb-etl to 4.6.4
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest, test-portal-rasAuthN

#2642 DCF prod release 1614196223
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#2640 updating COVID19 PROD manifest to 2021.02 version
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-homepageTest

#2644 HP-74 - Deploy discovery page in preprod HEAL
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-homepageTest, test-portal-rasAuthN

#2649 [COV-743] [COV-711] [COV-708] Delete studies, fix gitops
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-dataUploadTest
