Repository uc-cdis/cdis-manifest, pull requests merged in 2021-10, with the labels that each got.

#3581 Heal/sdk nb vers
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-aggMDSTest

#3479 doc(qa) adding release notes for 2021.10
  releases/2021/10/gen3_release_notes.md
  releases/2021/10/manifest.json
Labels: doc-only, automerge

#3587 Heal/sdk nb vers
  .secrets.baseline
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#3546 Gen3 Monthly Release 2021.09 va-testing.datacommons.io 1632426948
  va-testing.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#3605 Increment covid19-etl in chicagolandPRC
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: jenkins-genomel

#3628 IBD_1.6.7_DD
  ibdgc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#3653 (preprod.healdata.org) update portal version to 3.16.0 for additional…
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3636 occ uploading GUID data for PDC and GAD
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#3726 update GUID prefix
  healdata.org/metadata/aggregate_config.json
  preprod.healdata.org/metadata/aggregate_config.json
Labels: test-apis-aggMDSTest
