Repository uc-cdis/cdis-manifest, pull requests merged in 2021-07, with the labels that each got.

#3058 Gen3 Monthly Release 2021.06 staging.midrc.org 1623270038
  staging.midrc.org/manifest.json
Labels: automerge

#3167 BDCat Staging release 1625177048
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#3173 remove query
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest

#3179 Gen3 Monthly Release 2021.07 preprod.healdata.org 1625604308
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: automerge

#3140 Update scaling to happen at lower CPU usage based on load testing
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountTest

#3182 HP-260 - HEAL docs preprod
  preprod.healdata.org/dashboard/Public/documentation/img/NIH_HEAL_header.jpg
  preprod.healdata.org/dashboard/Public/documentation/img/access_NO.png
  preprod.healdata.org/dashboard/Public/documentation/img/access_YES.png
  preprod.healdata.org/dashboard/Public/documentation/img/access_box_1.png
  preprod.healdata.org/dashboard/Public/documentation/img/access_box_select_window.png
  preprod.healdata.org/dashboard/Public/documentation/img/access_boxes_3.png
  preprod.healdata.org/dashboard/Public/documentation/img/access_greyed_out_box.png
  preprod.healdata.org/dashboard/Public/documentation/img/createdby.png
  preprod.healdata.org/dashboard/Public/documentation/img/discovery_adv_search.png
  preprod.healdata.org/dashboard/Public/documentation/img/discovery_exporting_to_workspace.gif
  preprod.healdata.org/dashboard/Public/documentation/img/discovery_landing.gif
  preprod.healdata.org/dashboard/Public/documentation/img/discovery_select_and_open_in_workspace.png
  preprod.healdata.org/dashboard/Public/documentation/img/discovery_select_study_download_manifest.png
  preprod.healdata.org/dashboard/Public/documentation/img/discovery_study_page.png
  preprod.healdata.org/dashboard/Public/documentation/img/discovery_study_page_datafiles.png
  preprod.healdata.org/dashboard/Public/documentation/img/gen3.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_discovery.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_discovery_color.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_login.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_login_color.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_notebooks.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_notebooks_color.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_profile.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_profile_color.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_workspace.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_workspace_color.png
  preprod.healdata.org/dashboard/Public/documentation/img/heal_logo.png
  preprod.healdata.org/dashboard/Public/documentation/img/healdataorg_login.png
  preprod.healdata.org/dashboard/Public/documentation/img/notebook_browser_run_cell.png
  preprod.healdata.org/dashboard/Public/documentation/img/profile_APIkey.png
  preprod.healdata.org/dashboard/Public/documentation/img/profile_APIkey_active.png
  preprod.healdata.org/dashboard/Public/documentation/img/profile_APIkey_created.png
  preprod.healdata.org/dashboard/Public/documentation/img/profile_access.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_demo.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_demo_1.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_manifestname.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebook_jcoin_manifestname.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebook_jcoin_study_1.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebooks_landing.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_data_folder.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_download.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_flavors_.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_launch.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_new.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_stata_0.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_terminate_2.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_upload.png
  preprod.healdata.org/dashboard/Public/documentation/index.css
  preprod.healdata.org/dashboard/Public/documentation/index.html
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3184 Quay aws es proxy
  accessclinicaldata.niaid.nih.gov/manifest.json
  acct.bionimbus.org/manifest.json
  aids.niaiddata.org/manifest.json
  caninedc.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
  covid19.occ-pla.net/manifest.json
  cvbcommons.org/manifest.json
  data.bloodpac.org/manifest.json
  data.midrc.org/manifest.json
  dcf-interop.kidsfirstdrc.org/manifest.json
  flu.niaiddata.org/manifest.json
  gen3-neuro.datacommons.io/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.datacommons.io/manifest.json
  gen3.theanvil.io/manifest.json
  genomel.bionimbus.org/manifest.json
  healdata.org/manifest.json
  ibdgc.datacommons.io/manifest.json
  icgc.bionimbus.org/manifest.json
  internal-icgc.bionimbus.org/manifest.json
  internalstaging.theanvil.io/manifest.json
  jcoin.datacommons.io/manifest.json
  microbiome.niaiddata.org/manifest.json
  niaid.bionimbus.org/manifest.json
  niaiddata.org/manifest.json
  nightly.planx-pla.net/manifest.json
  portal.occ-data.org/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.healdata.org/manifest.json
  releases/2020/02/manifest.json
  releases/2020/03/manifest.json
  releases/2020/04/manifest.json
  releases/2020/05/manifest.json
  releases/2020/06/manifest.json
  releases/2020/07/manifest.json
  releases/2020/08/manifest.json
  releases/2020/09/manifest.json
  releases/2020/10/manifest.json
  releases/2020/11/manifest.json
  releases/2020/12/manifest.json
  releases/2021/01/manifest.json
  releases/2021/02/manifest.json
  releases/2021/03/manifest.json
  releases/2021/04/manifest.json
  releases/2021/05/manifest.json
  releases/2021/06/manifest.json
  releases/2021/07/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.midrc.org/manifest.json
  staging.theanvil.io/manifest.json
  tb.niaiddata.org/manifest.json
  tbi.datacommons.io/manifest.json
  va-testing.datacommons.io/manifest.json
  va.data-commons.org/manifest.json
  validate.midrc.org/manifest.json
  vpodc.org/manifest.json
Labels: test-guppy-guppyTest

#3183 Gen3 Monthly Release 2021.07 healdata.org 1625672002
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: automerge

#3186 fix/typo
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3189 Add externaldata.healdata.org
  externaldata.healdata.org/manifest.json
  externaldata.healdata.org/manifests/scaling/scaling.json
  externaldata.healdata.org/sqs-info.json
  externaldata.healdata.org/sqs-message-receiver-policy.json
Labels: test-apis-presignedUrlTest

#3217 Update auto-label.json.
  .github/auto-label.json
Labels: doc-only

#3216 update portal config
  preprod.healdata.org/portal/gitops.json
Labels: test-apis-etlTest

#3221 deploy pending button
  preprod.healdata.org/portal/gitops.json
Labels: test-apis-etlTest

#3223 heal preprod portal config update
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3224 Update gitops.json
  preprod.healdata.org/portal/gitops.json
Labels: test-apis-etlTest

#3176 Gen3 Monthly Release 2021.07 nci-crdc-staging.datacommons.io 1625589749
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-OAuth2Test

#3233 HP-304 - implement docs to heal prod
  healdata.org/dashboard/Public/documentation/img/NIH_HEAL_header.jpg
  healdata.org/dashboard/Public/documentation/img/access_NO.png
  healdata.org/dashboard/Public/documentation/img/access_YES.png
  healdata.org/dashboard/Public/documentation/img/access_box_1.png
  healdata.org/dashboard/Public/documentation/img/access_box_select_window.png
  healdata.org/dashboard/Public/documentation/img/access_boxes_3.png
  healdata.org/dashboard/Public/documentation/img/access_greyed_out_box.png
  healdata.org/dashboard/Public/documentation/img/createdby.png
  healdata.org/dashboard/Public/documentation/img/discovery_adv_search.png
  healdata.org/dashboard/Public/documentation/img/discovery_exporting_to_workspace.gif
  healdata.org/dashboard/Public/documentation/img/discovery_landing.gif
  healdata.org/dashboard/Public/documentation/img/discovery_select_and_open_in_workspace.png
  healdata.org/dashboard/Public/documentation/img/discovery_select_study_download_manifest.png
  healdata.org/dashboard/Public/documentation/img/discovery_study_page.png
  healdata.org/dashboard/Public/documentation/img/discovery_study_page_datafiles.png
  healdata.org/dashboard/Public/documentation/img/gen3.png
  healdata.org/dashboard/Public/documentation/img/grid_discovery.png
  healdata.org/dashboard/Public/documentation/img/grid_discovery_color.png
  healdata.org/dashboard/Public/documentation/img/grid_login.png
  healdata.org/dashboard/Public/documentation/img/grid_login_color.png
  healdata.org/dashboard/Public/documentation/img/grid_notebooks.png
  healdata.org/dashboard/Public/documentation/img/grid_notebooks_color.png
  healdata.org/dashboard/Public/documentation/img/grid_profile.png
  healdata.org/dashboard/Public/documentation/img/grid_profile_color.png
  healdata.org/dashboard/Public/documentation/img/grid_workspace.png
  healdata.org/dashboard/Public/documentation/img/grid_workspace_color.png
  healdata.org/dashboard/Public/documentation/img/heal_logo.png
  healdata.org/dashboard/Public/documentation/img/healdataorg_login.png
  healdata.org/dashboard/Public/documentation/img/notebook_browser_run_cell.png
  healdata.org/dashboard/Public/documentation/img/profile_APIkey.png
  healdata.org/dashboard/Public/documentation/img/profile_APIkey_active.png
  healdata.org/dashboard/Public/documentation/img/profile_APIkey_created.png
  healdata.org/dashboard/Public/documentation/img/profile_access.png
  healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac.png
  healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_demo.png
  healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_demo_1.png
  healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_manifestname.png
  healdata.org/dashboard/Public/documentation/img/static_notebook_jcoin_manifestname.png
  healdata.org/dashboard/Public/documentation/img/static_notebook_jcoin_study_1.png
  healdata.org/dashboard/Public/documentation/img/static_notebooks_landing.png
  healdata.org/dashboard/Public/documentation/img/workspace_data_folder.png
  healdata.org/dashboard/Public/documentation/img/workspace_download.png
  healdata.org/dashboard/Public/documentation/img/workspace_flavors__.png
  healdata.org/dashboard/Public/documentation/img/workspace_launch.png
  healdata.org/dashboard/Public/documentation/img/workspace_login_other_commons.png
  healdata.org/dashboard/Public/documentation/img/workspace_login_other_commons_grey.png
  healdata.org/dashboard/Public/documentation/img/workspace_new.png
  healdata.org/dashboard/Public/documentation/img/workspace_stata_0.png
  healdata.org/dashboard/Public/documentation/img/workspace_terminate_2.png
  healdata.org/dashboard/Public/documentation/img/workspace_upload.png
  healdata.org/dashboard/Public/documentation/index.css
  healdata.org/dashboard/Public/documentation/index.html
  healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3230 chore(preprod.healdata.org): use wts 2021.06
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest

#3236 fix(bdcat): Hotfix for audit-service
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-presignedUrlTest

#3204 fix(mapbox): fix mapbox style
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#3242 fix(acct): use wts 0.3.2
  acct.bionimbus.org/manifest.json
Labels: test-guppy-guppyTest

#3262 update portal config
  healdata.org/portal/gitops.json
Labels: test-apis-etlTest

#3260 NDE jupyter images: ECR instead of Quay
  niaiddata.org/manifest.json
Labels: test-apis-exportToWorkspaceTest, test-guppy-guppyTest, test-pidgin-getCoremetadataTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#3248 fix(BDCat Preprod): use wts 0.3.2
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-dbgapTest

#3271 chore/update_covid19-portal: update covid19 data-portal image to 3.3.0
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-apis-dataUploadTest, test-portal-dataUploadTest, test-portal-indexingPageTest

#3276 update workspace containers
  .secrets.baseline
  ibdgc.datacommons.io/manifest.json
Labels: test-portal-indexingPageTest

#3212 chore(release-update): deploy 2021.07 to PROD-NCT
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: jenkins-niaid, test-portal-studyViewerTest

#3228 New DCF PROD June release 1626293336
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-coremetadatapageTest, test-portal-dataUploadTest

#3280 Chore/brh
  brh.data-commons.org/manifest.json
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#3282 chore: brh update more configs
  .secrets.baseline
  brh.data-commons.org/manifest.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#3200 doc(qa) adding release notes for 2021.08
  releases/2021/08/gen3_release_notes.md
  releases/2021/08/manifest.json
Labels: automerge, doc-only

#3187 Gen3 Monthly Release 2021.07 va-testing.datacommons.io 1625757544
  va-testing.datacommons.io/manifest.json
Labels: automerge

#3288 chore: set portal bundle
  brh.data-commons.org/manifest.json
Labels: test-portal-loginPageTest

#3289 chore(bdcat): Enable discovery page button in navbar
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest

#3284 Gen3 Monthly Release 2021.08 va-testing.datacommons.io 1627402619
  va-testing.datacommons.io/manifest.json
Labels: test-portal-dataUploadTest

#3297 fix: add es proxy
  brh.data-commons.org/manifest.json
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-loginPageTest

#3299 Chore/brh
  brh.data-commons.org/manifest.json
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-loginPageTest

#3247 fix(Biodatacatalyst Staging): use wts 0.3.2
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountTest, test-guppy-guppyTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-homepageTest, test-portal-rasAuthN, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#3249 fix(BDCat): use wts 0.3.2
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountTest

#3304 change folder refs from preprod to prod
  healdata.org/dashboard/Public/notebooks/HEAL_Workspace_Demo_BACPAC.html
  healdata.org/dashboard/Public/notebooks/Opioid_Prevalence_And_Overdoses.html
  healdata.org/dashboard/Public/notebooks/oeps-toolkit-heal-platform-demo.html
Labels: test-portal-homepageTest
