Repository uc-cdis/cdis-manifest, pull requests merged in 2021-04, with the labels that each got.

#2745 DCF prod release 1616614897
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-rasIntegrationTest

#2669 Gen3 Monthly Release 2021.03 va.datacommons.io 1614889766
  va.data-commons.org/manifest.json
Labels: automerge

#2693 Gen3 Monthly Release 2021.03 staging.braincommons.org 1615362604
  staging.braincommons.org/manifest.json
Labels: automerge

#2778 Revert fence to 2021.03
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountKeyTest

#2687 Gen3 Monthly Release 2021.03 internalstaging.theanvil.io 1615336116
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: *test-google-googleServiceAccountKeyTest*, automerge, test-apis-dataUploadTest, test-google-googleDataAccessTest, test-google-googleServiceAccountKeyTest, test-google-googleServiceAccountKeyTest*, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountTest

#2791 updating the auto-label
  .github/auto-label.json
Labels: doc-only

#2790 fix release note with correct startDate and endDate
  releases/2021/03/gen3_release_notes.md
Labels: doc-only

#2733 chore(prod-resiliency): migrate all imgs to aws ecr
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#2779 PXP-7947 KF external QA 2021.03 + audit-service + ECR images
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: jenkins-niaid, test-apis-cleverSafeTest, test-apis-presignedUrlTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2799 doc(qa) adding release notes for 2021.04
  releases/2021/04/gen3_release_notes.md
  releases/2021/04/manifest.json
Labels: automerge, doc-only

#2802 chore(release): Add April release name
  releases/2021/04/gen3_release_notes.md
Labels: automerge, doc-only

#2801 chore(bdcat): Bump up fence version to deploy RAS staging fix
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest

#2805 feat(heal-notebook): add HEAL jupyter notebook
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: jenkins-niaid

#2810 BDCatPreProd_DD_4.0.7
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest

#2684 Gen3 Monthly Release 2021.03 gen3.theanvil.io 1615328915
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-dbgapTest, test-google-googleDataAccessTest

#2821 chore(dashboard): update DAR form
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/NIAID Data Access Request FormSept2020revised.pdf
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/NIAID_DAR.pdf
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: jenkins-niaid, test-apis-dataUploadTest

#2815 updated MIDRC data dictionary to v0.4.5.
  data.midrc.org/manifest.json
Labels: test-apis-etlTest, test-apis-presignedUrlTest, test-guppy-guppyTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2835 deploying 2021.03 version with ECR images to NCT PROD
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: jenkins-niaid

#2827 Gen3 Monthly Release 2021.04 nci-crdc-staging.datacommons.io 1618429496
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountTest

#2837 BDCAT PREPROD Release 2021.04 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1618873036
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#2825 Gen3 Monthly Release 2021.04 genomel.bionimbus.org 1618425896
  genomel.bionimbus.org/manifest.json
Labels: automerge

#2828 Gen3 Monthly Release 2021.04 va-testing.datacommons.io 1618429772
  va-testing.datacommons.io/manifest.json
Labels: automerge

#2830 Gen3 Monthly Release 2021.04 vpodc.org 1618436973
  vpodc.org/manifest.json
  vpodc.org/manifests/hatchery/hatchery.json
Labels: automerge

#2826 Gen3 Monthly Release 2021.04 data.bloodpac.org 1618426170
  data.bloodpac.org/manifest.json
  data.bloodpac.org/manifests/hatchery/hatchery.json
Labels: automerge

#2824 Gen3 Monthly Release 2021.04 caninedc.org 1618422570
  caninedc.org/manifest.json
  caninedc.org/manifests/hatchery/hatchery.json
Labels: automerge, test-sheepdogAndPeregrine-submitFileTest

#2841 Update va.data-commons.org in CODEOWNERS
  CODEOWNERS
Labels: doc-only

#2850 PRC covid19-bayes-model:3.4.2
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#2852 MIDRC April Release 2021.04 data.midrc.org 1619186845
  data.midrc.org/manifest.json
Labels: automerge

#2856 Add MIDRC and add Karen as codeowner
  CODEOWNERS
Labels: doc-only

#2851 Redeploy Disco page to BDC staging
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleDataAccessTest

#2847 Anvil internalstaging April Release 2021.04 internalstaging.theanvil.io 1619103828
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2859 covid19-bayes-model:3.4.3.
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#2857 Fix portal configs to pass tests
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
  icgc.bionimbus.org/portal/gitops.json
  internal-icgc.bionimbus.org/portal/gitops.json
  portal.occ-data.org/portal/gitops.json
Labels: jenkins-niaid

#2860 doc(qa) adding release notes for 2021.05
  releases/2021/05/gen3_release_notes.md
  releases/2021/05/manifest.json
Labels: automerge, doc-only, jenkins-niaid

#2808 add portal config ci
  .secrets.baseline
  .travis.yml
Labels: test-portal-homepageTest

#2870 IBD remove documentation link
  ibdgc.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest

#2844 Gen3 Monthly Release 2021.04 tbi.datacommons.io 1619035967
  tbi.datacommons.io/manifest.json
Labels: automerge

#2839 Gen3 Monthly Release 2021.04 data.braincommons.org 1619021565
  data.braincommons.org/manifest.json
Labels: automerge

#2840 Gen3 Monthly Release 2021.04 dataprep.braincommons.org 1619025166
  dataprep.braincommons.org/manifest.json
Labels: automerge

#2871 Update fence-config-public.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#2869 update access-backend to handle new datasets
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest

#2877 va.data-commons.org 2021.04 va.data-commons.org 1619631858
  va.data-commons.org/manifest.json
Labels: automerge

#2884 BDCat prod 2021.04 release 1619712267
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#2883 DCF prod 2021.04 release 1619708170
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-rasIntegrationTest, test-portal-rasAuthN

#2880 fix(mapbox): mapbox use access_key from gen3
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: automerge
