Repository uc-cdis/cdis-manifest, pull requests merged in 2021-11, with the labels that each got.

#3730 Update urllib dataservice dcf prod
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest, test-apis-auditServiceTest

#3711 add anca tilea pay model
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-metadataIngestionTest, test-portal-dataUploadTest, test-portal-discoveryPageTest

#3724 deploying SystemUseMessage Popup to staging MIDRC
  staging.midrc.org/manifest.json
  staging.midrc.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest, test-portal-indexingPageTest, test-portal-dataUploadTest

#3719 deploying SystemUseMessage Popup to PROD MIDRC
  data.midrc.org/manifest.json
  data.midrc.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest, test-portal-indexingPageTest, test-portal-dataUploadTest

#3725 deploying SystemUseMessage Popup to validate MIDRC
  validate.midrc.org/manifest.json
  validate.midrc.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest, test-portal-indexingPageTest, test-portal-dataUploadTest

#3738 Gen3 Monthly Release 2021.11 vpodc.org 1635872516
  vpodc.org/manifest.json
  vpodc.org/manifests/hatchery/hatchery.json
Labels: automerge

#3744 HP-591 - Update aggregate_config.json
  preprod.healdata.org/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#3745 HP-591 - Update aggregate_config.json
  healdata.org/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#3736 Gen3 Monthly Release 2021.11 va-testing.datacommons.io 1635865356
  va-testing.datacommons.io/manifest.json
Labels: automerge

#3723 Anvil 2021.10 PROD release 1635534659
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#3664 BDCat external staging Release 2021.10 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1634673296
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-auditServiceTest

#3760 Update hatchery.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-aggMDSTest

#3757 Add new s3 buckets to BDC PROD fence config
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: not-ready-for-ci

#3694 DCF Release 2021.09 nci-crdc.datacommons.io 1632855161
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest, test-apis-OAuth2Test, test-apis-auditServiceTest

#3762 HEAL external login
  healdata.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#3772 Update KF PM owner
  CODEOWNERS
Labels: doc-only

#3758 feat add aws gateway bucket name and ip address
  va.data-commons.org/manifest.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest

#3774 Update hatchery.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#3767 chore(heal-users): latest heal pay models
  .secrets.baseline
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-metadataIngestionTest

#3781 CODEOWNERS - add Troy to heal envs
  CODEOWNERS
Labels: doc-only

#3784 KF staging: make NIH the default IDP
  gen3staging.kidsfirstdrc.org/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#3789 doc(qa) adding release notes for 2021.12
  releases/2021/12/gen3_release_notes.md
  releases/2021/12/manifest.json
Labels: doc-only, automerge

#3803 HP-357 - Update hatchery.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-dataUploadTest

#3798 chore: deploying 2021.11 to gen3qa-KF
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#3805 chore: deploying 2021.11 to gen3staging-KF
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#3818 Update hatchery.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#3802 KF prod - 2021.11 and fence 5.5.4
  data.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#3771 KF prod: new NIH entityID
  data.kidsfirstdrc.org/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#3823 Update hatchery.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#3841 Delete releases/2021/12 directory
  releases/2021/12/gen3_release_notes.md
  releases/2021/12/manifest.json
Labels: doc-only

#3839 Gen3 Monthly Release 2021.11 caninedc.org 1638210179
  caninedc.org/manifest.json
  caninedc.org/manifests/hatchery/hatchery.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#3845 Gen3 Monthly Release 2021.11 data.bloodpac.org 1638228381
  data.bloodpac.org/manifest.json
  data.bloodpac.org/manifests/hatchery/hatchery.json
Labels: automerge

#3829 HEAL PROD update services to 2021.11
  healdata.org/manifest.json
Labels: test-apis-aggMDSTest
