Repository uc-cdis/cdis-manifest, pull requests merged in 2021-05, with the labels that each got.

#2752 Remove subject subtab from anvil PROD and internalstaging.
  gen3.theanvil.io/portal/gitops.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-portal-homepageTest

#2892 PXP-5167: Update dcf-dataservice
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#2895 Gen3 Monthly Release 2021.05 caninedc.org 1620063821
  .github/workflows/automerge.yml
  caninedc.org/manifest.json
  caninedc.org/manifests/hatchery/hatchery.json
Labels: automerge

#2900 chore(gh-actions): Tweak debugging for github actions
  .github/workflows/auto-label.yml
  .github/workflows/automerge.yml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: automerge, test-portal-homepageTest

#2896 Gen3 Monthly Release 2021.05 va.data-commons.org 1620064866
  va.data-commons.org/manifest.json
Labels: automerge

#2894 Gen3 Monthly Release 2021.05 va-testing.datacommons.io 1620061264
  va-testing.datacommons.io/manifest.json
Labels: automerge

#2904 Update dcf-dataservice
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountTest, test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2906 BDCat_DD_4.0.8_plus_ETL_mapping
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleDataAccessTest

#2902 Gen3 Monthly Release 2021.05 staging.midrc.org 1620075668
  staging.midrc.org/manifest.json
Labels: automerge

#2899 Gen3 Monthly Release 2021.05 vpodc.org 1620068467
  vpodc.org/manifest.json
  vpodc.org/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2901 Gen3 Monthly Release 2021.05 data.midrc.org 1620072067
  data.midrc.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2907 Add OIDC logins metrics to BDCAT dashboard
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/dataHelper.js
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/index.html
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsMain.js
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/dataHelper.js
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/index.html
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsMain.js
Labels: test-google-googleDataAccessTest

#2922 chore(release): Update fence version for Anvil envs
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleServiceAccountTest

#2923 fix(unblock-april-release): Pin 2021.03 for pelican export sower job on Anvil envs
  internalstaging.theanvil.io/manifest.json
Labels: test-portal-homepageTest

#2893 BDCat April 2021 staging release 1620056293
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#2934 Update GA tracking id for HEAL preprod
  preprod.healdata.org/portal/gitops.json
Labels: test-apis-etlTest

#2843 Gen3 Monthly Release 2021.04 gen3testing.braincommons.org 1619032363
  gen3testing.braincommons.org/manifest.json
Labels: automerge

#2919 Gen3 Monthly Release 2021.05 gen3-neuro.datacommons.io 1620243997
  gen3-neuro.datacommons.io/manifest.json
  gen3-neuro.datacommons.io/manifests/hatchery/hatchery.json
Labels: automerge

#2917 Gen3 Monthly Release 2021.05 tbi.datacommons.io 1620240397
  tbi.datacommons.io/manifest.json
Labels: automerge

#2948 refactor(scaling): This point we don't need high available services r…
  portal.occ-data.org/manifest.json
Labels: test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2951 Add dashboard to healpreprod
  preprod.healdata.org/dashboard/Secure/reports/base.css
  preprod.healdata.org/dashboard/Secure/reports/dataHelper.js
  preprod.healdata.org/dashboard/Secure/reports/datePicker.js
  preprod.healdata.org/dashboard/Secure/reports/index.html
  preprod.healdata.org/dashboard/Secure/reports/reportsApp.css
  preprod.healdata.org/dashboard/Secure/reports/reportsMain.js
  preprod.healdata.org/dashboard/Secure/reports/reportsTabPanel.css
  preprod.healdata.org/dashboard/Secure/reports/reportsTabPanel.js
  preprod.healdata.org/dashboard/Secure/reports/reportsTable.css
  preprod.healdata.org/dashboard/Secure/reports/reportsTable.js
  preprod.healdata.org/dashboard/Secure/reports/spec/boot.js
  preprod.healdata.org/dashboard/Secure/reports/spec/dataHelperSpec.js
  preprod.healdata.org/dashboard/Secure/reports/spec/datePickerSpec.js
  preprod.healdata.org/dashboard/Secure/reports/spec/index.html
  preprod.healdata.org/dashboard/Secure/reports/spec/main.js
  preprod.healdata.org/dashboard/Secure/reports/spec/reportsTableSpec.js
  preprod.healdata.org/dashboard/Secure/reports/spec/windowSizerSpec.js
  preprod.healdata.org/dashboard/Secure/reports/windowSizer.css
  preprod.healdata.org/dashboard/Secure/reports/windowSizer.js
  preprod.healdata.org/manifest.json
Labels: test-apis-etlTest

#2955 Update manifest.json
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest

#2914 Gen3 Monthly Release 2021.05 staging.braincommons.org 1620233205
  staging.braincommons.org/manifest.json
Labels: automerge

#2916 Gen3 Monthly Release 2021.05 gen3testing.braincommons.org 1620236798
  gen3testing.braincommons.org/manifest.json
Labels: automerge

#2913 Gen3 Monthly Release 2021.05 dataprep.braincommons.org 1620229597
  dataprep.braincommons.org/manifest.json
Labels: automerge

#2503 dataguids.org Relative resolver URL.
  dataguids.org/manifest.json
Labels: jenkins-niaid, test-portal-dataguidOrgTest

#2958 Update manifest.json
  internalstaging.theanvil.io/manifest.json
Labels: test-portal-homepageTest

#2960 Deploy adv search filters portal branch to HEAL preprod
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops.json
Labels: test-apis-etlTest

#2961 Apply 2021.04 to dataguids.org
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#2938 Gen3 Monthly Release 2021.05 nci-crdc-staging.datacommons.io 1620681855
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#2977 add missing bucket to fence cfg
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#2983 Update fence-config-public.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#2998 PXP-8219 - edit oadc Update gitops.json
  gen3.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest

#2939 Gen3 Monthly Release 2021.05 nci-crdc.datacommons.io 1620685454
  nci-crdc.datacommons.io/manifest.json
Labels: automerge

#3001 doc(qa) adding release notes for 2021.06
  releases/2021/06/gen3_release_notes.md
  releases/2021/06/manifest.json
Labels: automerge, doc-only

#3000 DCF prod May release 2021.05 1621955911
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest
