Repository uc-cdis/cdis-manifest, pull requests merged in 2021-08, with the labels that each got.

#3292 chore(release-update) : deploy 2021.07 to PROD-JCOIN
  jcoin.datacommons.io/manifest.json
Labels: test-portal-rasAuthN

#3293 Update Requestor version to 1.4.0
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: jenkins-niaid, test-guppy-guppyTest, test-portal-studyViewerTest

#3313 Add pdfs corresponding to niaid Clinical Data Dict
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/ACTT1_Data_Dictionary_v2.0.pdf
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/ACTT2_Data_Dictionary_v2.0.pdf
Labels: jenkins-niaid

#3316 Add another alpha user to the hatchery config HEAL
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#3315 Change section heading "Data Access Agreements" to "Data Access"
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: jenkins-niaid

#3327 HEAL - enable datadog apm
  healdata.org/manifest.json
Labels: test-portal-homepageTest

#3317 HEAL preprod: Add study_url field
  preprod.healdata.org/portal/gitops.json
Labels: jenkins-niaid

#3330 update ws config for brh
  .secrets.baseline
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-loginPageTest

#3324 chore(gen3utils): Skip gen3utils with PR label 'skip-gen3utils-checks'
  .secrets.baseline
  .travis.yml
  portal.occ-data.org/manifest.json
Labels: test-portal-homepageTest, skip-gen3utils-checks

#3346 preprod-heal remove gen3 documentation link
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3347 prod heal remove gen3 documentation link
  healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3345 Update Landing Page text - NIAID CT
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: jenkins-niaid, test-portal-studyViewerTest

#3354 Update hatchery.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#3356 upgrade batch export job to v25
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest

#3358 PXP-8543 fix: heal jupyter dir mount
  healdata.org/manifests/hatchery/hatchery.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#3362 fix: heal jupyter home dir
  .secrets.baseline
  healdata.org/manifests/hatchery/hatchery.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#3363 add release name
  releases/2021/08/gen3_release_notes.md
Labels: doc-only, automerge

#3383 Update hatchery.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#3319 Chore/occ covid19 manifest update
  .secrets.baseline
  covid19.occ-pla.net/manifest.json
  covid19.occ-pla.net/manifests/fence/fence-config-public.yaml
  covid19.occ-pla.net/manifests/hatchery/gen3-igv.yaml
  covid19.occ-pla.net/manifests/hatchery/hatchery.json
  covid19.occ-pla.net/manifests/hatchery/jupyter-covid19.yaml
  covid19.occ-pla.net/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest, skip-gen3utils-checks

#3390 chore/update_niaid-portal: update niaid data-portal image to 3.6.0
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: jenkins-niaid

#3389 adding fence-config-public to JCOIN PROD
  .secrets.baseline
  jcoin.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-dataUploadTest

#3428 feat(BDC-pelican-file-export): Added file export to BDC staging
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#3432 updated HEAL docs with static nb video in static nb section
  healdata.org/dashboard/Public/documentation/index.html
Labels: doc-only
