Repository uc-cdis/cdis-manifest, pull requests merged in 2021-03, with the labels that each got.

#2651 doc(qa) adding release notes for 2021.03
  releases/2021/03/gen3_release_notes.md
  releases/2021/03/manifest.json
Labels: automerge, doc-only

#2628 BDCat Feb 2021 prod release 1613594420
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-dataUploadTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-sheepdogAndPeregrine-submitFileTest

#2656 chore(releases): Disable github actions for PRs from forked repos
  .github/workflows/auto-label.yml
  .github/workflows/automerge.yml
Labels: doc-only

#2661 chore(qa): Try to disable Github Actions for PRs from forked repos
  .github/workflows/auto-label.yml
  .github/workflows/automerge.yml
Labels: automerge, doc-only

#2542 Gen3 Monthly Release 2021.02 genomel.bionimbus.org 1611700328
  genomel.bionimbus.org/manifest.json
Labels: automerge

#2665 Gen3 Monthly Release 2021.03 genomel.bionimbus.org 1614882570
  genomel.bionimbus.org/manifest.json
Labels: automerge

#2666 Gen3 Monthly Release 2021.03 va-testing.datacommons.io 1614886171
  va-testing.datacommons.io/manifest.json
Labels: automerge

#2670 update Andre as genomel codeowner
  CODEOWNERS
Labels: doc-only

#2648 feat(new-dcf-buckets): Added new buckets to fence-config
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#2694 Gen3 Monthly Release 2021.03 gen3testing.braincommons.org 1615366204
  gen3testing.braincommons.org/manifest.json
Labels: automerge

#2664 Gen3 Monthly Release 2021.03 data.bloodpac.org 1614878970
  data.bloodpac.org/manifest.json
  data.bloodpac.org/manifests/hatchery/hatchery.json
Labels: automerge

#2699 Gen3 Monthly Release 2021.03 nci-crdc-staging.datacommons.io 1615482107
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#2695 Gen3 Monthly Release 2021.03 tbi.datacommons.io 1615369804
  tbi.datacommons.io/manifest.json
Labels: automerge

#2702 RAS refresh token expire parameter for testing
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#2715 Anvil Internalstaging restore Downloadable tab
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#2714 BDCat prod release 1615933586
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/dataHelper.js
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/index.html
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsApp.css
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsMain.js
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTabPanel.css
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTable.css
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/windowSizer.css
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#2710 chore(heal): configs for HEAL QA to Preprod
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops-logo.png
  preprod.healdata.org/portal/gitops-sponsors/gene_heal.svg
  preprod.healdata.org/portal/gitops.css
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-homepageTest

#2719 Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest

#2690 Gen3 Monthly Release 2021.03 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1615346917
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest

#2718 Deploy 2020.12 to KF Prod + net policies
  data.kidsfirstdrc.org/manifest.json
Labels: test-portal-rasAuthN

#2730 chore/update_covid19-portal: update covid19 data-portal image to 2.48.0
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.css
Labels: test-portal-rasAuthN

#2729 JCOIN: Use arborist UI on profile page
  jcoin.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest

#2734 chore(re-enable-downloadable-tab): re-enabled downloadable tab for an…
  gen3.theanvil.io/portal/gitops.json
Labels: test-portal-homepageTest

#2736 Include portal bugfix in HEAL preprod
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest, test-portal-rasAuthN

#2700 Gen3 Monthly Release 2021.03 nci-crdc.datacommons.io 1615485708
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#2739 chore(reliability): Adopt awshelper from AWS ECR
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest, test-portal-rasAuthN

#2743 chore(remove-bucket): Removed bucket that fence_bot doesn't have acce…
  nci-crdc-staging.datacommons.io/manifests/fence/fence-config-public.yaml
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountKeyTest

#2747 PRC New covid19-notebooks-etl
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-apis-etlTest, test-apis-presignedUrlTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest

#2753 Revert "chore(remove-bucket): Removed bucket that fence_bot doesn't have acce…"
  nci-crdc-staging.datacommons.io/manifests/fence/fence-config-public.yaml
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#2756 chore: adding nightly env to the list
  nightly.planx-pla.net/etlMapping.yaml
  nightly.planx-pla.net/manifest.json
  nightly.planx-pla.net/manifests/hatchery/hatchery.json
  nightly.planx-pla.net/manifests/mariner/mariner.json
  nightly.planx-pla.net/portal/gitops-createdby.png
  nightly.planx-pla.net/portal/gitops-favicon.ico
  nightly.planx-pla.net/portal/gitops-logo.png
  nightly.planx-pla.net/portal/gitops.css
  nightly.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#2744 Ad-hoc BDCat prod change 1616613239
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest
