Repository uc-cdis/cdis-manifest, pull requests merged in 2021-09, with the labels that each got.

#3434 feat(new-buckets): Added new buckets to fence config for kf prod
  data.kidsfirstdrc.org/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-portal-indexingPageTest, test-apis-metadataIngestionTest, test-portal-dataUploadTest, test-guppy-guppyTest, test-apis-auditServiceTest, test-portal-studyViewerTest, test-portal-discoveryPageTest

#3377 doc(qa) adding release notes for 2021.09
  releases/2021/09/gen3_release_notes.md
  releases/2021/09/manifest.json
Labels: doc-only, automerge

#3438 Adding ACTT-3 DD and DUL pdfs
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/ACTT-3 Data Dictionary.pdf
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/ACTT-3 Data Use Limitations.pdf
Labels: test-apis-auditServiceTest

#3436 PXP-7947 KidsFirst prod 2021.06 + fence:5.2.1
  data.kidsfirstdrc.org/manifest.json
  data.kidsfirstdrc.org/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#3447 chore/update_covid19-portal: update covid19 data-portal image to 3.10.0
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-apis-drsEndpointsTest

#3453 BDCAT PREPROD Release 2021.07 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1631031159
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: automerge

#3456 Gen3 Monthly Release 2021.09 data.midrc.org 1631035202
  data.midrc.org/manifest.json
Labels: automerge

#3455 Anvil Internal Staging Release 2021.07 internalstaging.theanvil.io 1631031739
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountKeyTest

#3459 DCF Staging Release 2021.08 nci-crdc-staging.datacommons.io 1631040495
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-auditServiceTest

#3467 chore(anvil): Introduce audit-service to Anvil internal staging
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-presignedUrlTest

#3469 NCT: add audit logging to public Fence config
  accessclinicaldata.niaid.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#3473 Change image tag for HEAL/prod/ws/oeps nb
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-rasIntegrationTest

#3475 Chore/fix gen3 datacommons dsc
  dataguids.org/manifest.json
  gen3.datacommons.io/manifest.json
Labels: test-portal-dataguidOrgTest

#3476 HP-542 - chore/update help desk email on HEAL
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3477 HP-542 - chore/update help desk email on HEAL
  healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3483 Offboard Will
  .secrets.baseline
  healdata.org/manifests/hatchery/hatchery.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-aggMDSTest

#3491 HP-476 - heal-docs-prod
  healdata.org/dashboard/Public/documentation/img/data_resources.png
  healdata.org/dashboard/Public/documentation/img/data_resources_tags.png
  healdata.org/dashboard/Public/documentation/img/grid_workspace_color.png
  healdata.org/dashboard/Public/documentation/img/healdataorg_login.png
  healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_demo_1.png
  healdata.org/dashboard/Public/documentation/img/workspace_flavors__.png
  healdata.org/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#3490 updating etlMapping yaml, data dictionary version and gitops json
  covid19.occ-pla.net/etlMapping.yaml
  covid19.occ-pla.net/manifest.json
  covid19.occ-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#3494 HEAL: add updated jcoin and bacpac nb
  healdata.org/dashboard/Public/notebooks/JCOIN_Tracking_Opioid_Stigma.html
  preprod.healdata.org/dashboard/Public/notebooks/JCOIN_Tracking_Opioid_Stigma.html
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-aggMDSTest

#3495 BDCAT Staging Release 2021.07 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1631640599
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#3485 BDCAT PREPROD Release 2021.08 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1631558325
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-auditServiceTest

#3502 Heal/add nb
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#3499 Anvil internal staging Release 2021.08 internalstaging.theanvil.io 1631720441
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-drsEndpointsTest

#3500 Anvil prod release 1631721046
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-drsEndpointsTest

#3501 Anvil staging release 1631721314
  staging.theanvil.io/manifest.json
  staging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-drsEndpointsTest

#3503 HEAL: new image tag for jcoin
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-presignedUrlTest

#3505 BDC preprod: add new bucket to fence config
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-apis-dbgapTest

#3498 use 2021.08 versions
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest

#3510 Anvil 2021.08 prod release 1631882884
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest, test-apis-auditServiceTest

#3511 BDCAT PREPROD Release 2021.09 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1631882984
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-auditServiceTest

#3512 Anvil internal staging Release 2021.09 internalstaging.theanvil.io 1631883029
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-guppy-guppyTest

#3507 adding guppy indices
  covid19.occ-pla.net/manifest.json
Labels: test-apis-auditServiceTest

#3523 HP-554 - heal Change tag "clinicaltrials" into "clinicaltrials.gov"
  preprod.healdata.org/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#3524 HP-554 - heal Change tag "clinicaltrials" into "clinicaltrials.gov"
  healdata.org/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#3525 add role-arn to `biolincc-training-datasets-open-access` bucket
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest, test-pidgin-getCoremetadataTest, test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountKeyTest

#3532 Deploying 2021.09 to PROD NCT
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: jenkins-niaid

#3527 enable verify external logins
  healdata.org/manifest.json
  healdata.org/portal/gitops.json
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3538 update_metadata-service_healprod_1.6.0
  healdata.org/manifest.json
Labels: test-portal-dataUploadTest, test-apis-rasIntegrationTest

#3539 PXP-6400 - jcoin-notebook-prod
  jcoin.datacommons.io/dashboard/Public/notebooks/placeholder.png
  jcoin.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest

#3519 upgrade services to 2021.08
  healdata.org/manifest.json
Labels: test-portal-discoveryPageTest

#3542 add HEAL brand skin to heal and preprod.heal
  healdata.org/portal/gitops-sponsors/heal_login_color_sides.svg
  healdata.org/portal/gitops.json
  preprod.healdata.org/portal/gitops-sponsors/heal_login_color_sides.svg
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3540 Chore/remove heal rstudio
  .secrets.baseline
  healdata.org/manifests/hatchery/hatchery.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#3420 Add JCOIN prefix dg.6VTS and externaldata.healdata.org prefix dg.H35L
  dataguids.org/manifest.json
Labels: test-portal-homepageTest

#3545 chore(heal-accessibility-links-patch): bump heal semver to accessibil…
  healdata.org/manifest.json
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest

#3517 upgrade services to 2021.09
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest

#3552 HP-571 - Change gitops HEAL to show new tag categories
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3190 Gen3 Monthly Release 2021.07 va.data-commons.org 1625761138
  va.data-commons.org/manifest.json
Labels: automerge

#3290 Gen3 Monthly Release 2021.08 staging.midrc.org 1627416994
  staging.midrc.org/manifest.json
Labels: automerge

#3192 Gen3 Monthly Release 2021.07 vpodc.org 1625764734
  vpodc.org/manifest.json
  vpodc.org/manifests/hatchery/hatchery.json
Labels: automerge

#3561 HEAL documentation updates PREPROD
  preprod.healdata.org/dashboard/Public/documentation/img/data_resources.png
  preprod.healdata.org/dashboard/Public/documentation/img/grid_notebooks_color.png
  preprod.healdata.org/dashboard/Public/documentation/img/healdataorg_login.png
  preprod.healdata.org/dashboard/Public/documentation/img/notebook_browser_run_cell.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_demo.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_demo_1.png
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebooks_landing.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_data_folder.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_flavors.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_flavors__.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_login_other_commons_discovery.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_login_other_commons_top_banner.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_placeholder.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_placeholder_guid.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_shutdown_sign_1.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_shutdown_sign_2.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_terminal.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_terminal_download.png
  preprod.healdata.org/dashboard/Public/documentation/img/workspace_terminal_downloaded.png
  preprod.healdata.org/dashboard/Public/documentation/index.css
  preprod.healdata.org/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#3562 set1
  healdata.org/dashboard/Public/documentation/img/data_resources.png
  healdata.org/dashboard/Public/documentation/img/grid_notebooks_color.png
  healdata.org/dashboard/Public/documentation/img/healdataorg_login.png
  healdata.org/dashboard/Public/documentation/img/notebook_browser_run_cell.png
  healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_demo.png
  healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_demo_1.png
  healdata.org/dashboard/Public/documentation/img/static_notebooks_landing.png
  healdata.org/dashboard/Public/documentation/img/workspace_data_folder.png
  healdata.org/dashboard/Public/documentation/img/workspace_flavors.png
  healdata.org/dashboard/Public/documentation/img/workspace_flavors__.png
  healdata.org/dashboard/Public/documentation/img/workspace_login_other_commons_discovery.png
  healdata.org/dashboard/Public/documentation/img/workspace_login_other_commons_top_banner.png
  healdata.org/dashboard/Public/documentation/img/workspace_placeholder.png
  healdata.org/dashboard/Public/documentation/img/workspace_placeholder_guid.png
  healdata.org/dashboard/Public/documentation/img/workspace_shutdown_sign_1.png
  healdata.org/dashboard/Public/documentation/img/workspace_shutdown_sign_2.png
  healdata.org/dashboard/Public/documentation/img/workspace_terminal.png
  healdata.org/dashboard/Public/documentation/img/workspace_terminal_download.png
  healdata.org/dashboard/Public/documentation/img/workspace_terminal_downloaded.png
  healdata.org/dashboard/Public/documentation/index.css
  healdata.org/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#3537 DCF PROD release 1632244017
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-auditServiceTest

#3563 chore : Deploy release 2021.09 and audit-service to IBDGC PROD
  .secrets.baseline
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/fence/fence-config-public.yaml
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#3567 HP-579 - Update aggregate_config.json PREPROD HEAL
  preprod.healdata.org/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#3566 HP-579 - Update aggregate_config.json PROD HEAL
  healdata.org/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#3570 Update manifest.json
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#3569 HP-496 HP-570 feat: deploy tag dropdown
  healdata.org/manifest.json
  healdata.org/portal/gitops.css
  healdata.org/portal/gitops.json
Labels: test-apis-aggMDSTest

#3285 Gen3 Monthly Release 2021.08 va.data-commons.org 1627406194
  va.data-commons.org/manifest.json
Labels: automerge

#3573 HP-571 - Change gitops HEAL to show new tag categories PROD
  healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#3572 heal preprod - use mds version 1.6.1
  preprod.healdata.org/manifest.json
Labels: test-apis-metadataIngestionTest, test-apis-aggMDSTest, test-portal-discoveryPageTest

#3535 Anvil 2021.09 PROD release 1632183642
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-auditServiceTest

#3547 Gen3 Monthly Release 2021.09 va.data-commons.org 1632430540
  va.data-commons.org/manifest.json
Labels: automerge

#3577 update hatchery
  .secrets.baseline
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#3576 update hatchery
  .secrets.baseline
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#3578 HP-538 - docs heal update
  preprod.healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_manifestname.png
  preprod.healdata.org/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#3579 HP-538 - docs heal update
  healdata.org/dashboard/Public/documentation/img/static_notebook_bacpac_manifestname.png
  healdata.org/dashboard/Public/documentation/index.html
Labels: test-portal-homepageTest

#3560 heal prod - update services to 2021.09
  healdata.org/manifest.json
Labels: test-apis-metadataIngestionTest, test-apis-aggMDSTest, test-portal-discoveryPageTest

#3580 feat: heal pp ecs ws and sdk
  .secrets.baseline
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth
