Repository uc-cdis/cdis-manifest, pull requests merged in 2021-01, with the labels that each got.

#2455 BDCat_Preprod_DD_4.0.3
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-dataUploadTest, test-google-googleServiceAccountKeyTest, test-google-googleServiceAccountTest, test-portal-dataUploadTest

#2469 doc(qa) adding release notes for 2021.01
  releases/2021/01/gen3_release_notes.md
  releases/2021/01/manifest.json
Labels: automerge, doc-only

#2474 BDCAT PREPROD Release 2021.01 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1610060791
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-cleverSafeTest, test-apis-dataUploadTest

#2447 deploying 2020.12 to NCT PROD
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-portal-coremetadatapageTest

#2497 added dict to component to resource mapping
  data.midrc.org/portal/gitops.json
Labels: test-portal-homepageTest

#2501 PRC ETLs to 4.6.1 (fix JHU dates)
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-apis-etlTest

#2502 chore(portal): update config to match QA
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-apis-dataUploadTest

#2507 feat: change Anvil "Downloadable" tab to file type
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-apis-dataUploadTest, test-portal-dataUploadTest

#2508 (COV-578): chore/covid19-jupyter-img: update covid19 jupyter image to 1.1.9
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/jupyter-covid19.yaml
Labels: test-apis-cleverSafeTest

#2516 fix: temporarily remove Anvil Downloadable tab
  gen3.theanvil.io/portal/gitops.json
Labels: test-google-googleServiceAccountKeyTest

#2484 Gen3 Monthly Release 2021.01 nci-crdc-staging.datacommons.io 1610095655
  nci-crdc-staging.datacommons.io/manifest.json
Labels: automerge, test-apis-dataUploadTest

#2483 Gen3 Monthly Release 2021.01 internalstaging.theanvil.io 1610092054
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: automerge, test-google-googleServiceAccountRemovalTest

#2481 Gen3 Monthly Release 2021.01 ibdgc.datacommons.io 1610084854
  .secrets.baseline
  ibdgc.datacommons.io/manifest.json
Labels: test-apis-cleverSafeTest, test-apis-dataUploadTest, test-portal-dataUploadTest

#2521 COVID-19 SEIR notebook update
  chicagoland.pandemicresponsecommons.org/dashboard/Public/notebooks/covid19_seir.html
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/jupyter-covid19.yaml
Labels: test-portal-homepageTest

#2528 chore(preprod.heal): dispatcher number
  preprod.healdata.org/manifest.json
Labels: doc-only

#2526 doc(qa) adding release notes for 2021.02
  releases/2021/02/gen3_release_notes.md
  releases/2021/02/manifest.json
Labels: doc-only

#2531 fix: adding Release name to the release notes
  releases/2020/12/gen3_release_notes.md
Labels: doc-only

#2530 Adding release name for 2021.02
  releases/2021/02/gen3_release_notes.md
Labels: doc-only

#2532 Adding release name for 2021.01
  releases/2021/01/gen3_release_notes.md
Labels: doc-only

#2475 Gen3 Monthly Release 2021.01 caninedc.org 1610063251
  caninedc.org/etlMapping.yaml
  caninedc.org/manifest.json
  caninedc.org/manifests/hatchery/hatchery.json
Labels: automerge, test-apis-dataUploadTest, test-apis-drsEndpointsTest, test-portal-dataUploadTest

#2536 Update code owners for Wombat team
  CODEOWNERS
Labels: doc-only

#2554 Gen3 Monthly Release 2021.02 vpodc.org 1611743524
  vpodc.org/manifest.json
  vpodc.org/manifests/hatchery/hatchery.json
Labels: automerge

#2552 Gen3 Monthly Release 2021.02 va-testing.datacommons.io 1611736329
  va-testing.datacommons.io/manifest.json
Labels: automerge

#2555 DCF prod release 1611760303
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-rasIntegrationTest, test-portal-rasAuthN

#2529 deploying 2021.01 to PROD_NCT
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-homepageTest

#2534 chore(portal): update text in config
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest
