Repository uc-cdis/cdis-manifest, pull requests merged in 2022-03, with the labels that each got.

#4214 doc(qa) adding release notes for 2022.03
  releases/2022/03/gen3_release_notes.md
  releases/2022/03/manifest.json
Labels: doc-only, automerge

#4222 SAMHDA Agg MDS
  preprod.healdata.org/manifest.json
  preprod.healdata.org/metadata/aggregate_config.json
Labels: test-portal-discoveryPageTest

#4224 Updating CI env with 2022.02 jcoin.datacommons.io 1646169278
  jcoin.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#4236 HP-638 - preprod HEAL replace 3 field names
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#4241 Revert "Revert "HP-712 - added new PDAPS studies funded by NIDA and on JCOIN - HEAL PROD""
  healdata.org/manifest.json
  healdata.org/metadata/aggregate_config.json
Labels: test-portal-discoveryPageTest

#4245 Updating CI env with 2022.03 gen3staging.kidsfirstdrc.org 1646341466
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-google-googleServiceAccountKeyTest

#4253 Gen3 Monthly Release 2022.03 preprod.healdata.org 1646410660
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#4258 change footer color to HEAL gray 373a3c
  healdata.org/portal/gitops.css
  preprod.healdata.org/portal/gitops.css
Labels: test-portal-homepageTest

#4229 Gen3 Monthly Release 2022.03 genomel.bionimbus.org 1646183226
  genomel.bionimbus.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#4257 Gen3 Monthly Release 2022.03 validate.midrc.org 1646429876
  validate.midrc.org/manifest.json
Labels: test-pidgin-getCoremetadataTest

#4136 Gen3 Monthly Release 2022.02 nci-crdc.datacommons.io 1643918953
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-dbgapTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#4230 Gen3 Monthly Release 2022.03 nci-crdc-staging.datacommons.io 1646187398
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountKeyTest

#4246 Updating CI env with 2022.03 data.kidsfirstdrc.org 1646341509
  data.kidsfirstdrc.org/manifest.json
Labels: gen3-release

#4302 IMPACC DUL
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/IMPACC March 2022 Data Use Limitations.pdf
Labels: test-portal-studyViewerTest

#4303 OADC demo commons update release to 2022.03
  gen3.datacommons.io/manifest.json
Labels: test-apis-cleverSafeTest

#4292 Gen3 Monthly Release 2022.03 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1646856177
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest

#4300 Updating CI env with 2022.03 jcoin.datacommons.io 1646934521
  jcoin.datacommons.io/manifest.json
Labels: test-guppy-guppyTest

#4232 Gen3 Monthly Release 2022.03 nci-crdc.datacommons.io 1646191349
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountKeyTest

#4299 Updating CI env with 2022.03 accessclinicaldata.niaid.nih.gov 1646934353
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#4310 Update manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-dbgapTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#4288 BDCat external staging Release 2022.03 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1646844130
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountKeyTest

#4312 Update bloodpac gitops.json
  data.bloodpac.org/portal/gitops.json
Labels: test-apis-metadataIngestionTest

#4315 fix(portal): remove subject count to avoid bug where query takes too …
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-dbgapTest

#4290 Gen3 Monthly Release 2022.03 internalstaging.theanvil.io 1646848978
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-dataUploadTest

#4323 updated MIDRC staging useryaml and tier access level
  staging.midrc.org/manifest.json
Labels: test-portal-registerUserTest

#4338 Added environments
  CODEOWNERS
Labels: doc-only

#4311 Updating CI env with 2022.03 chicagoland.pandemicresponsecommons.org 1647281018
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-guppy-guppyTest

#4357 doc(qa) adding release notes for 2022.04
  releases/2022/04/gen3_release_notes.md
  releases/2022/04/manifest.json
Labels: doc-only, automerge

#4383 fix host of vpodc
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#4384 Update gitops.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-guppy-guppyTest

#4382 Gen3 Monthly Release 2022.04 gen3.datacommons.io 1648551543
  gen3.datacommons.io/manifest.json
  gen3.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-apis-metadataIngestionTest

#4364 Gen3 Monthly Release 2022.04 dataguids.org 1648502867
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#4353 add new buckets to fence config for release 13
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest
