Repository uc-cdis/cdis-manifest, pull requests merged in 2022-04, with the labels that each got.

#4390 Gen3 Monthly Release 2022.04 externaldata.healdata.org 1648665399
  externaldata.healdata.org/manifest.json
Labels: jenkins-genomel

#4392 Add OADC to dataguids.org
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#4393 Updating CI env with 2022.04 ibdgc.datacommons.io 1648739781
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: gen3-release

#4427 fix(preprod.healdata.org): use use data-portal 3.22.1 (04-01-2022)
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-portal-discoveryPageTest

#4429 fix(staging.gen3.biodatacatalyst.nhlbi.nih.gov): use use data-portal 3.22.1 (04-01-2022)
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-guppy-guppyTest

#4421 fix(nci-crdc.datacommons.io): use use data-portal 3.22.1 (04-01-2022)
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#4366 Gen3 Monthly Release 2022.04 nci-crdc-staging.datacommons.io 1648503447
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountTest

#4399 fix(accessclinicaldata.niaid.nih.gov): use use data-portal 3.22.1 (04-01-2022)
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: test-portal-studyViewerTest

#4463 “occ_changes_VPODC_VADC”
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#4488 NCT tube:0.6.5
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: test-portal-studyViewerTest

#4475 Updating CI env with 2022.04 jcoin.datacommons.io 1649774923
  jcoin.datacommons.io/manifest.json
Labels: gen3-release

#4480 Updating CI env with 2022.04 chicagoland.pandemicresponsecommons.org 1649862131
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: gen3-release

#4484 anvil staging: tube 0.6.5
  staging.theanvil.io/manifest.json
  staging.theanvil.io/portal/gitops.json
Labels: test-apis-dbgapTest

#4482 anvil internalstaging: tube 0.6.5
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountKeyTest

#4476 Update gitops.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-drsEndpointsTest, test-apis-dbgapTest

#4499 feat(access-backend): add new clients
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#4458 Update gitops.json
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/portal/gitops.json
Labels: test-google-googleServiceAccountRemovalTest

#4506 fix(tube): downgrade
  staging.theanvil.io/manifest.json
Labels: test-apis-OAuth2Test, test-apis-etlTest

#4501 fix(tube): update version
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountKeyTest

#4511 update SB PFB export URLs
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#4505 fix(tube): downgrade
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-metadataIngestionTest

#4489 Updating CI env with 2022.04 accessclinicaldata.niaid.nih.gov 1649948821
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#4515 update SB PFB export URLs
  staging.theanvil.io/portal/gitops.json
Labels: test-google-googleServiceAccountTest

#4544 Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-apis-etlTest

#4538 doc(qa) adding release notes for 2022.05
  releases/2022/05/gen3_release_notes.md
  releases/2022/05/manifest.json
Labels: doc-only

#4560 add release name
  releases/2022/05/gen3_release_notes.md
Labels: doc-only
