Repository uc-cdis/cdis-manifest, pull requests merged in 2022-01, with the labels that each got.

#3959 latest HEAL pay models
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-aggMDSTest

#3558 feat(scaling): reduce CPU threshold for scaling based on testing
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-auditServiceTest

#3974 Revert dcf-dataservice version
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#3965 feat(va-testing-gitops): update portal app setting for va test env
  va-testing.datacommons.io/manifest.json
  va-testing.datacommons.io/portal/gitops.json
Labels: K8sReset

#3976 Chore/anvilstaging add properties and hhs link
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-apis-auditServiceTest

#3981 Update manifest with new IL phylogenetic tree
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-guppy-guppyTest

#3973 OCC added dataguid for BloodPac
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#3990 Remove Lea, Add Mikisha.
  CODEOWNERS
Labels: doc-only

#3994 Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-homepageTest, test-apis-OAuth2Test, test-guppy-guppyTest, test-apis-auditServiceTest

#3929 added TSV, CSV table buttons to MIDRC explorer
  data.midrc.org/manifest.json
  data.midrc.org/portal/gitops.json
Labels: test-portal-registerUserTest

#4010 GenoMEL: Add HHS Responsible Disclosure in Footer
  genomel.bionimbus.org/portal/gitops.json
Labels: jenkins-blood, test-portal-homepageTest

#4007 Updating 2022.01 to 2022.01 gen3qa.kidsfirstdrc.org 1642100825
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#4008 Deploying 2022.01 to 2022.01 gen3staging.kidsfirstdrc.org 1642100984
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#4003 nci-crdc-staging.datacommons.io 2021.11 nci-crdc-staging.datacommons.io 1642094373
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#4016 Anvil prod release — deploy HHS link 1642188999
  gen3.theanvil.io/etlMapping.yaml
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/portal/gitops.json
Labels: test-guppy-guppyTest

#4015 BDCat prod release — deploy HHS link 1642188812
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountKeyTest

#4042 fix: footer
  genomel.bionimbus.org/portal/gitops.json
Labels: test-portal-homepageTest

#4046 HP-644 - edit dummy icpsr metadata prefixes
  preprod.healdata.org/metadata/aggregate_config.json
Labels: test-apis-dataUploadTest, test-apis-aggMDSTest

#4041 Deploying 2022.01 data.kidsfirstdrc.org 1642539275
  data.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#4045 Fix Footer
  nci-crdc-staging.datacommons.io/portal/gitops.json
  nci-crdc.datacommons.io/portal/gitops.json
Labels: test-apis-dbgapTest

#3999 Remove world tab fields from chicagoland PRC
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-dataUploadTest

#4057 v0.6.3: adding new modalities and updating annotations
  staging.midrc.org/manifest.json
Labels: jenkins-new, test-portal-registerUserTest

#4058 Deploying 2021.12 ibdgc.datacommons.io 1642692655 -l gen3-release
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-apis-dataUploadTest

#4030 feat(valid-midrc-link): add hhs link to header
  validate.midrc.org/portal/gitops.json
Labels: test-portal-indexingPageTest, test-portal-registerUserTest

#4040 Gen3 Monthly Release 2022.01 staging.midrc.org 1642537584
  staging.midrc.org/manifest.json
  staging.midrc.org/portal/gitops.json
Labels: test-portal-registerUserTest

#4017 Gen3 Monthly Release 2022.01 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1642192342
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest, test-apis-metadataIngestionTest, test-google-googleServiceAccountKeyTest, skip-gen3utils-checks

#4013 Gen3 Monthly Release 2022.01 internalstaging.theanvil.io 1642185141
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#4071 HP-685 - delete dummy icpsr data from heal preprod
  preprod.healdata.org/metadata/aggregate_config.json
Labels: test-apis-dataUploadTest

#4006 nci-crdc-staging.datacommons.io 2021.12 nci-crdc-staging.datacommons.io 1642098671
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#4076 revert dictionary to 4.0.11
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: doc-only

#4081 Downgrade portal to 2021.12 to mitigate explorer issue
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-dbgapTest

#4086 BDCat prod 2021.01 1643387303
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountKeyTest

#4098 PRC ETL to 4.13.0
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-guppy-guppyTest
