Repository uc-cdis/cdis-manifest, pull requests merged in 2022-09, with the labels that each got.

#5080 Midrc staging measurement
  staging.midrc.org/etlMapping.yaml
Labels: test-portal-homepageTest, test-apis-etlTest

#5079 updating gitops.json
  data.bloodpac.org/portal/gitops.css
  data.bloodpac.org/portal/gitops.json
Labels: test-apis-etlTest

#5070 update mds to 1.8.2
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest

#5089 reverting back changes
  data.bloodpac.org/portal/gitops.css
  data.bloodpac.org/portal/gitops.json
Labels: test-apis-etlTest

#5094 updating hatchery.json
  data.bloodpac.org/manifests/hatchery/hatchery.json
Labels: skip-gen3utils-checks

#5103 added loinc and temporal props to imaging study in explorer
  staging.midrc.org/portal/gitops.json
Labels: test-portal-homepageTest

#5044 fix(preprod.gen3.biodatacatalyst.nhlbi.nih.gov): use use fence 2022.07 (08-26-2022)
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-dataUploadTest, test-guppy-guppyTest

#5106 update fence to 6.1.1
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#5121 preprod heal portal to 3.32.1
  preprod.healdata.org/manifest.json
Labels: test-portal-discoveryPageTest

#5122 prod heal portal to 3.32.1
  healdata.org/manifest.json
Labels: jenkins-dcp, test-portal-discoveryPageTest

#4913 Gen3 Monthly Release 2022.08 nci-crdc.datacommons.io 1658867019
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-dbgapTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-google-googleServiceAccountKeyTest

#5146 Updating Env nci-crdc-staging.datacommons.io - 2022.09 1663684921
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountKeyTest

#5167 doc(qa) adding release notes for 2022.10
  releases/2022/10/gen3_release_notes.md
  releases/2022/10/manifest.json
Labels: doc-only, automerge

#5168 Update dictionary url to 4.3.1
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-dataUploadTest, test-google-googleServiceAccountTest, test-google-googleServiceAccountKeyTest

#5163 Readding images ommitted to staging. Revised based on edits requested.
  brhstaging.data-commons.org/dashboard/Public/img/access_box_select_page_datafiles_080322.png
  brhstaging.data-commons.org/dashboard/Public/img/discovery_features_080322.png
  brhstaging.data-commons.org/dashboard/Public/img/download_discovery_prepared_1_080922.png
  brhstaging.data-commons.org/dashboard/Public/img/grid_discovery_color_080322.png
  brhstaging.data-commons.org/dashboard/Public/img/open_data_in_workspace.png
  brhstaging.data-commons.org/dashboard/Public/img/open_in_workspace_datanb.png
  brhstaging.data-commons.org/dashboard/Public/img/open_in_workspace_manifest_path.png
  brhstaging.data-commons.org/dashboard/Public/img/profile_link_accounts.png
  brhstaging.data-commons.org/dashboard/Public/img/profile_login_other_commons.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_access_form.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_access_success.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_data_folder_080322.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_file_new_notebook.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_flavors_080322.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_new_080322.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_notebook_download_080422.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_notebook_save_080322.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_pd_folder_080422.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_terminal_080422.png
  brhstaging.data-commons.org/dashboard/Public/img/workspace_upload_080322.png
  brhstaging.data-commons.org/dashboard/Public/index.html
Labels: test-portal-coremetadatapageTest
