Repository uc-cdis/cdis-manifest, pull requests merged in 2022-10, with the labels that each got.

#5180 Updating Env nci-crdc.datacommons.io - 2022.09 1664556619
  nci-crdc.datacommons.io/manifest.json
Labels: jenkins-niaid, test-apis-dbgapTest

#5190 bumping the version of cedar wrapper service to 0.1.5 and updating secrets baseline
  .secrets.baseline
  preprod.healdata.org/manifest.json
Labels: test-portal-discoveryPageTest

#5217 PXP-10369: Update fence-config-public.yaml
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#5227 Gen3 Monthly Release 2022.10 BDCat Preprodd preprod.gen3.biodatacatalyst.nhlbi.nih.gov - 2022.10 1665524737
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: gen3-release

#5230 Update etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Labels: test-apis-metadataIngestionTest

#5232 remove days_from_study_to_test props from filters in MIDRC explorer (prod)
  data.midrc.org/portal/gitops.json
Labels: test-portal-homepageTest

#5244 Update DCFPROD dataservice manifest.json
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#5236 chorusprod manifest
  chorus.data-commons.org/dashboard/Public/maintenance-page/img/createdby.png
  chorus.data-commons.org/dashboard/Public/maintenance-page/img/error.svg
  chorus.data-commons.org/dashboard/Public/maintenance-page/img/gen3.png
  chorus.data-commons.org/dashboard/Public/maintenance-page/img/header-logo.png
  chorus.data-commons.org/dashboard/Public/maintenance-page/index.css
  chorus.data-commons.org/dashboard/Public/maintenance-page/index.html
  chorus.data-commons.org/etlMapping.yaml
  chorus.data-commons.org/gitops-logo.png
  chorus.data-commons.org/manifest.json
  chorus.data-commons.org/portal/gitops-sponsors/ICGC.png
  chorus.data-commons.org/portal/gitops.json
Labels: test-apis-etlTest

#5239 Updating Env gen3qa.kidsfirstdrc.org - 2022.10 1665767376
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: test-google-googleServiceAccountTest

#5241 Updating Env gen3staging.kidsfirstdrc.org - 2022.10 1665767392
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: gen3-release

#5238 Updating Env accessclinicaldata.niaid.nih.gov - 2022.10 1665767330
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountKeyTest

#5243 replace file_id with _file_id
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-metadataIngestionTest

#5240 Updating Env data.kidsfirstdrc.org - 2022.10 1665767378
  data.kidsfirstdrc.org/manifest.json
Labels: test-google-googleServiceAccountTest

#5139 HP-915 change config to use the new registration flow
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#5259 Update manifest.json
  healdata.org/manifest.json
  preprod.healdata.org/manifest.json
Labels: test-apis-centralizedAuth

#5263 update the release notes for 2022.10
  releases/2022/10/gen3_release_notes.md
Labels: doc-only

#5273 Updating Env ibdgc.datacommons.io - 2022.10 1666296736
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountRemovalTest

#5294 Gen3 Monthly Release 2022.10 preprod.healdata.org 1666635721
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#5235 Remove duplicate props
  gen3.theanvil.io/etlMapping.yaml
Labels: test-apis-etlTest

#5296 Delete dcf-interop.kidsfirstdrc.org directory
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst-kidsfirst-aggs-state__data.json
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst-kidsfirst-aggs-state__mapping.json
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst-kidsfirst-columns-state__data.json
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst-kidsfirst-columns-state__mapping.json
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst-kidsfirst-matchbox-state__data.json
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst-kidsfirst-matchbox-state__mapping.json
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst-kidsfirst__data.json
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst-kidsfirst__mapping.json
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst__data.json
  dcf-interop.kidsfirstdrc.org/arrangerProjects/kidsfirst/arranger-projects-kidsfirst__mapping.json
  dcf-interop.kidsfirstdrc.org/manifest.json
  dcf-interop.kidsfirstdrc.org/portal/gitops.json
Labels: decommission-environment

#5264 Gen3 Monthly Release 2022.10 dataguids.org 1666284725
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#5288 Gen3 Monthly Release 2022.10 AnVIL internalstaging internalstaging.theanvil.io - 2022.10 1666377563
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-dataUploadTest

#5298 Gen3 Monthly Release 2022.10 externaldata.healdata.org 1666716194
  externaldata.healdata.org/manifest.json
Labels: test-pidgin-getCoremetadataTest

#5285 Updating Env jcoin.datacommons.io - 2022.10 1666369754
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest, test-portal-dataUploadTest

#5306 Removing 2 unused directories.
  spoke1.workspace.occ-pla.net/dashboard/Public/index.html
  spoke1.workspace.occ-pla.net/dashboard/Public/maintenance-page/index.html
  spoke1.workspace.occ-pla.net/manifest.json
  spoke1.workspace.occ-pla.net/manifests/hatchery/.env
  spoke1.workspace.occ-pla.net/manifests/hatchery/README.md
  spoke1.workspace.occ-pla.net/manifests/hatchery/hatchery.json
  spoke1.workspace.occ-pla.net/manifests/hatchery/jupyterslim.yaml
  spoke1.workspace.occ-pla.net/portal/gitops-createdby.png
  spoke1.workspace.occ-pla.net/portal/gitops-favicon.ico
  spoke1.workspace.occ-pla.net/portal/gitops-logo.png
  spoke1.workspace.occ-pla.net/portal/gitops-sponsors/niaid.png
  spoke1.workspace.occ-pla.net/portal/gitops.css
  spoke1.workspace.occ-pla.net/portal/gitops.json
  workspace.occ-pla.net/dashboard/Public/favicon.ico
  workspace.occ-pla.net/dashboard/Public/index.html
  workspace.occ-pla.net/dashboard/Public/maintenance-page/index.html
  workspace.occ-pla.net/manifest.json
Labels: decommission-environment

#5269 Gen3 Monthly Release 2022.10 nci-crdc-staging.datacommons.io 1666291918
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#5305 remove duplicate props - internalstaging
  internalstaging.theanvil.io/etlMapping.yaml
Labels: test-google-googleDataAccessTest

#5284 Updating Env chicagoland.pandemicresponsecommons.org - 2022.10 1666369665
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: gen3-release

#5315 doc(qa) adding release notes for 2022.11
  releases/2022/11/gen3_release_notes.md
  releases/2022/11/manifest.json
Labels: doc-only, automerge

#5270 testing the mds branch + agg_config.json in preprod Heal
  preprod.healdata.org/manifest.json
  preprod.healdata.org/metadata/aggregate_config.json
Labels: test-portal-discoveryPageTest

#5309 AnVIL 2022.10 staging 1666979258
  staging.theanvil.io/etlMapping.yaml
  staging.theanvil.io/manifest.json
  staging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest

#5297 Gen3 Monthly Release 2022.10 healdata.org 1666715391
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
  healdata.org/portal/gitops.json
Labels: jenkins-blood, test-portal-discoveryPageTest
