Repository uc-cdis/cdis-manifest, pull requests merged in 2022-02, with the labels that each got.

#4089 dataguids manifest file updated
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#4005 nci-crdc.datacommons.io 2021.12 nci-crdc.datacommons.io 1642095545
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#3988 Gen3 Monthly Release 2022.01 nci-crdc-staging.datacommons.io 1641870995
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#4107 doc(qa) adding release notes for 2022.02
  releases/2022/02/gen3_release_notes.md
  releases/2022/02/manifest.json
Labels: doc-only, automerge

#4103 BDcat.v4.1.2: Uploading blood_pressure_test to allow more than one test per subject
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-dbgapTest

#4124 Fix: Update dictionary to 4.2.0
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-dbgapTest

#4142 HEAL PREPROD: Fix HHS URL
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#4137 PRC: portal 3.19.2 + ETL 5.0.0 + releaseVersion 2022.01
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest

#4143 HEAL PROD: Fix HHS URL
  healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#4127 Updating CI env with 2022.01 jcoin.datacommons.io 1643912611
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/portal/gitops.json
Labels: gen3-release

#4133 Updating CI env with 2022.02 ibdgc.datacommons.io 1643916505
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
  ibdgc.datacommons.io/portal/gitops.json
Labels: gen3-release

#4135 Increment NIAID Portal version
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: test-guppy-guppyTest

#4144 PRC portal to 3.19.4 (fix charts tooltip)
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#4154 “Dataguids_manifest_file_update”
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#4158 PRC: covid19-etl:5.0.1
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#4172 Updating CI env with 2022.02 gen3qa.kidsfirstdrc.org 1644870991
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: test-apis-dbgapTest, test-google-googleServiceAccountKeyTest

#4173 Updating CI env with 2022.02 gen3staging.kidsfirstdrc.org 1644871044
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-apis-dbgapTest

#4176 Add new buckets to public fence config for BDC release 12
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-guppy-guppyTest

#4174 Updating CI env with 2022.02 data.kidsfirstdrc.org 1644876566
  data.kidsfirstdrc.org/manifest.json
Labels: gen3-release

#4184 Update CODEOWNERS
  CODEOWNERS
Labels: doc-only

#4181 HEAL prod switch to jupyter lab
  .secrets.baseline
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#4195 Update hatchery.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#4189 Updating CI env with 2022.02 nci-crdc-staging.datacommons.io 1645115855
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountTest

#4198 HEAL External Data - update 2022.02
  externaldata.healdata.org/manifest.json
Labels: test-pidgin-getCoremetadataTest

#4197 HEAL PROD update 2022.02
  .secrets.baseline
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#4177 Chore/release 12 bdc prod new buckets
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-dataUploadTest

#4203 fix(tube): fix _file_id for explorer page
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountKeyTest

#4210 update text heal preprod
  preprod.healdata.org/portal/gitops.json
Labels: jenkins-new, test-portal-discoveryPageTest

#4205 Updating CI env with 2022.02 accessclinicaldata.niaid.nih.gov 1645648313
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-studyViewerTest

#4211 update button text heal prod
  healdata.org/portal/gitops.json
Labels: jenkins-new, test-portal-discoveryPageTest

#4218 HEAL: add static nb to (pre)prod
  .secrets.baseline
  healdata.org/dashboard/Public/notebooks/JCOIN-MOUD_accessibility_analysis_02092022.html
  healdata.org/dashboard/Public/notebooks/jcoin_moud_analysis.png
  healdata.org/portal/gitops.json
  preprod.healdata.org/dashboard/Public/notebooks/JCOIN-MOUD_accessibility_analysis_02092022.html
  preprod.healdata.org/dashboard/Public/notebooks/jcoin_moud_analysis.png
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#4220 update versions
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest
