Repository uc-cdis/cdis-manifest, pull requests merged in 2022-12, with the labels that each got.

#5404 updated dd in midrc validatestaging to 1.0.0
  validatestaging.midrc.org/manifest.json
Labels: test-apis-dataUploadTest, test-portal-indexingPageTest, test-portal-dataUploadTest

#5376 (HP-992) Set up workspace registration for preprod HEAL
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#5383 Gen3 Monthly Release 2022.11 nci-crdc-staging.datacommons.io 1669061281
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#5387 Gen3 Monthly Release 2022.11 caninedc.org 1669064758
  caninedc.org/etlMapping.yaml
  caninedc.org/manifest.json
  caninedc.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-apis-etlTest, test-portal-dataUploadTest

#5421 Add doc pages to the portal
  staging.midrc.org/dashboard/Public/documentation/DUA.html
  staging.midrc.org/dashboard/Public/documentation/Gen3_MIDRC_GetStarted.pdf
  staging.midrc.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest

#5436 Add doc pages to the portal
  data.midrc.org/dashboard/Public/documentation/DUA.html
  data.midrc.org/dashboard/Public/documentation/Gen3_MIDRC_GetStarted.pdf
  data.midrc.org/portal/gitops.json
Labels: test-portal-coremetadatapageTest, test-guppy-guppyTest

#5426 Gen3 Monthly Release 2022.11 BDCat Preprod preprod.gen3.biodatacatalyst.nhlbi.nih.gov - 2022.11 1670267983
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: gen3-release

#5433 Updating Env gen3qa.kidsfirstdrc.org - 2022.11 1670367496
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: gen3-release

#5442 feat: add secure env var for GITHUB_TOKEN
  .travis.yml
Labels: doc-only

#5371 Gen3 Monthly Release 2022.11 healdata.org 1668744377
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#5432 Updating Env gen3staging.kidsfirstdrc.org - 2022.11 1670367495
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: gen3-release

#5434 Updating Env data.kidsfirstdrc.org - 2022.11 1670370270
  data.kidsfirstdrc.org/manifest.json
Labels: test-google-googleServiceAccountRemovalTest, test-apis-userTokenTest

#5474 Updating Env accessclinicaldata.niaid.nih.gov - 2022.11 1670967422
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#5476 Updating Env jcoin.datacommons.io - 2022.11 1670978349
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountRemovalTest

#5479 PXP-10561: Update GDC_project_map.json
  nci-crdc.datacommons.io/manifests/datarefresh/GDC_project_map.json
Labels: test-portal-homepageTest, automerge

#5489 chore(rampdown): ramp down AnVIL
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
  internalstaging.theanvil.io/portal/gitops.json
Labels: test-apis-etlTest

#5484 deploy heal filter update to preprod
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops.css
  preprod.healdata.org/portal/gitops.json
Labels: jenkins-genomel, test-portal-discoveryPageTest, test-apis-requestorTest
