Repository uc-cdis/cdis-manifest, pull requests merged in 2022-11, with the labels that each got.

#5317 Feat/brh prisma
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-apis-requestorTest, test-apis-requestorNewTest

#5272 Gen3 Monthly Release 2022.10 nci-crdc.datacommons.io 1666295523
  nci-crdc.datacommons.io/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#5314 Updating Env ibdgc.datacommons.io - 2022.11 1667229891
  ibdgc.datacommons.io/etlMapping.yaml
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#5334 Feat/heal uid
  .secrets.baseline
  healdata.org/manifest.json
  healdata.org/metadata/aggregate_config.json
  healdata.org/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-portal-discoveryPageTest, test-portal-gen3ffLandingPageTest

#5344 update GA4 tag for BRH Staging
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#5345 GA4 Tag for BRH Prod
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#5403 updated MIDRC prod data dict to v 1.0.0
  data.midrc.org/manifest.json
Labels: test-portal-homepageTest

#5389 Gen3 Monthly Release 2022.11 dataguids.org 1669068356
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#5360 Update hatchery.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest
