Repository uc-cdis/cdis-manifest, pull requests merged in 2022-06, with the labels that each got.

#4695 update services
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-portal-discoveryPageTest

#4669 updated diseasedatahub to remove NIAID
  diseasedatahub.org/portal/gitops-favicon.ico
  diseasedatahub.org/portal/gitops-logo.png
  diseasedatahub.org/portal/gitops-sponsors/actg-logo.png
  diseasedatahub.org/portal/gitops-sponsors/macs-wihs-logo.png
  diseasedatahub.org/portal/gitops-sponsors/niaid.png
  diseasedatahub.org/portal/gitops-sponsors/patric-logo.png
  diseasedatahub.org/portal/gitops-sponsors/tb-logo.png
  diseasedatahub.org/portal/gitops.json
Labels: test-portal-homepageTest

#4705 BDCat staging service release 1654271637
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-dataUploadTest, test-portal-dataUploadTest

#4697 Updating CI env with 2022.05 chicagoland.pandemicresponsecommons.org 1654100080
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountKeyTest

#4706 Gen3 Monthly Release AnVIL internal staging 2022.05 internalstaging.theanvil.io 1654272517
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-sheepdogAndPeregrine-submitFileTest

#4718 Gen3 Monthly Release 2022.06 preprod.healdata.org 1654612076
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-portal-discoveryPageTest

#4696 Add STRIDES to heal production
  .secrets.baseline
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
  healdata.org/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-portal-discoveryPageTest

#4723 Gen3 Monthly Release 2022.06 healdata.org 1654699983
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#4727 PRC ETL to 5.2.1 (cityofchicago ETL)
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#4730 nci-crdc PROD, dcf-dataservice
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountTest

#4753 Update gitops.json
  aids.diseasedatahub.org/portal/gitops-favicon.ico
  aids.diseasedatahub.org/portal/gitops-logo.png
  aids.diseasedatahub.org/portal/gitops-sponsors/niaid.png
  aids.diseasedatahub.org/portal/gitops.json
Labels: test-apis-drsEndpointsTest, test-apis-etlTest, test-guppy-guppyTest

#4807 doc(qa) adding release notes for 2022.07
  releases/2022/07/gen3_release_notes.md
  releases/2022/07/manifest.json
Labels: doc-only, automerge

#4771 Updating CI env with 2022.06 gen3qa.kidsfirstdrc.org 1655840620
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: test-apis-dbgapTest

#4747 [PXP-9175] Add `dd_enabled : true` flag to NIAID Commons
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: test-portal-studyViewerTest

#4785 Increment portal version to `3.27.0`
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-apis-etlTest

#4782 Gen3 Monthly Release 2022.06 nci-crdc.datacommons.io 1655926264
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-dbgapTest
