Repository uc-cdis/cdis-manifest, pull requests merged in 2022-05, with the labels that each got.

#4586 BDCat data release-14 1651502005
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-dbgapTest, test-guppy-guppyTest

#4567 Gen3 Monthly Release 2022.05 nci-crdc-staging.datacommons.io 1651277331
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountTest

#4593 NCT_DD_0.5.2
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: test-portal-homepageTest

#4591 Update brh nbs
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-apis-rasDRSTest

#4601 updated staging dd to 0.7.3
  staging.midrc.org/manifest.json
Labels: test-apis-rasDRSTest

#4605 PXP-9834
  accessclinicaldata.niaid.nih.gov/etlMapping.yaml
Labels: test-portal-studyViewerTest

#4596 Update to nci.crdc use copy branch
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#4564 Gen3 Monthly Release 2022.05 dataguids.org 1651270137
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#4569 Gen3 Monthly Release 2022.05 internal-icgc.bionimbus.org 1651284533
  internal-icgc.bionimbus.org/etlMapping.yaml
  internal-icgc.bionimbus.org/manifest.json
Labels: test-apis-etlTest

#4562 Gen3 Monthly Release 2022.05 caninedc.org 1651266536
  caninedc.org/etlMapping.yaml
  caninedc.org/manifest.json
  caninedc.org/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#4617 NCI.CRDC PROD Change datareplication branch
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#4623 adding file_name and object_id to explorerConfig
  staging.midrc.org/etlMapping.yaml
  staging.midrc.org/portal/gitops.json
Labels: test-portal-registerUserTest

#4624 deploy gen3ff and portal
  preprod.healdata.org/manifest.json
Labels: test-portal-discoveryPageTest

#4629 updating Tube to v0.6.9
  staging.midrc.org/manifest.json
Labels: test-apis-etlTest

#4630 update services
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
  preprod.healdata.org/portal/gitops.json
Labels: test-apis-etlTest

#4610 Gen3 Monthly Release 2022.05 preprod.healdata.org 1652278546
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-portal-discoveryPageTest

#4616 PXP-9923 on Prod
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest

#4636 added Canine DC FASTQ Reader notebook to resource-browser
  brh.data-commons.org/dashboard/Public/notebooks/canine_datacommons_fastq_reader.html
  brh.data-commons.org/dashboard/Public/notebooks/canine_datacommons_fastq_reader.png
  brh.data-commons.org/portal/gitops.json
Labels: jenkins-new

#4635 Update nci-crdc env
  nci-crdc.datacommons.io/manifest.json
Labels: test-pidgin-getCoremetadataTest

#4638 added OADC CCLE notebook to BRH
  brh.data-commons.org/dashboard/Public/notebooks/OADC_CCLE_gene_expression_data_analysis.html
  brh.data-commons.org/dashboard/Public/notebooks/OADC_CCLE_gene_expression_data_analysis.png
  brh.data-commons.org/portal/gitops.json
Labels: jenkins-dcp

#4622 MIDRC staging: fix DICOM viewer link
  staging.midrc.org/portal/gitops.json
Labels: test-portal-homepageTest

#4618 Updating CI env with 2022.05 gen3qa.kidsfirstdrc.org 1652299481
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: test-apis-dbgapTest

#4641 Midrc staging explorer
  staging.midrc.org/etlMapping.yaml
Labels: test-apis-etlTest, test-portal-registerUserTest

#4619 Updating CI env with 2022.05 gen3staging.kidsfirstdrc.org 1652299574
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-apis-dbgapTest

#4620 Updating CI env with 2022.05 data.kidsfirstdrc.org 1652299630
  data.kidsfirstdrc.org/manifest.json
Labels: test-apis-dbgapTest

#4614 Updating CI env with 2022.05 ibdgc.datacommons.io 1652284881
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#4652 MIDRC staging DICOM server to 0.1.1
  staging.midrc.org/manifest.json
Labels: test-portal-homepageTest

#4654 add release-15 buckets
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-apis-dbgapTest

#4662 MIDRC staging: fix Imaging Series manifest
  staging.midrc.org/portal/gitops.json
Labels: test-portal-registerUserTest

#4672 doc(qa) adding release notes for 2022.06
  releases/2022/06/gen3_release_notes.md
  releases/2022/06/manifest.json
Labels: doc-only, automerge

#4644 Updating CI env with 2022.05 jcoin.datacommons.io 1653072422
  jcoin.datacommons.io/manifest.json
Labels: gen3-release

#4643 Updating CI env with 2022.05 accessclinicaldata.niaid.nih.gov 1653072379
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest, test-portal-homepageTest, test-sheepdogAndPeregrine-submitFileTest, test-google-googleServiceAccountTest, test-portal-coremetadatapageTest, test-google-googleServiceAccountRemovalTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-google-googleServiceAccountKeyTest, test-guppy-guppyTest

#4682 Updating CI env with 2022.06 ibdgc.datacommons.io 1654004133
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-google-googleServiceAccountTest
