Repository uc-cdis/cdis-manifest, pull requests merged in 2022-07, with the labels that each got.

#4816 accessclinicaldata.niaid.nih.gov - 2022.06 and requestor 1.6.0
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-sheepdogAndPeregrine-submitFileTest

#4819 Update GDC_project_map.json
  nci-crdc.datacommons.io/manifests/datarefresh/GDC_project_map.json
Labels: test-google-googleServiceAccountTest

#4827 Updating Env nci-crdc-staging.datacommons.io - 2022.07 1657118076
  nci-crdc-staging.datacommons.io/manifest.json
Labels: gen3-release

#4828 Updating Env jcoin.datacommons.io - 2022.06 1657119531
  jcoin.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountTest

#4777 Gen3 Monthly Release 2022.06 dataguids.org 1655916246
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#4829 Updating Env chicagoland.pandemicresponsecommons.org - 2022.06 1657119533
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: gen3-release

#4847 add new bucket to fence config for release-16
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleServiceAccountTest

#4849 add new bucket to fence config for release-16
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountKeyTest

#4865 AnVIL 2022.07 production 1658165730
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#4878 Updating Env accessclinicaldata.niaid.nih.gov - 2022.07 1658434051
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: gen3-release

#4877 Updating Env chicagoland.pandemicresponsecommons.org - 2022.07 1658434050
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: gen3-release

#4886 doc(qa) adding release notes for 2022.08
  releases/2022/08/gen3_release_notes.md
  releases/2022/08/manifest.json
Labels: doc-only, automerge

#4880 adding arborist UI to OADC
  gen3.datacommons.io/etlMapping.yaml
  gen3.datacommons.io/manifest.json
  gen3.datacommons.io/portal/gitops.json
Labels: test-apis-etlTest

#4905 Updating Env ibdgc.datacommons.io - 2022.08 1658850183
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: gen3-release

#4906 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: test-portal-discoveryPageTest

#4909 Gen3 Monthly Release 2022.08 dataguids.org 1658856218
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest
