Repository uc-cdis/cdis-manifest, pull requests merged in 2023-06, with the labels that each got.

#6145 Adding Pod Disruption Budgets
  .secrets.baseline
  accessclinicaldata.niaid.nih.gov/manifest.json
  aids.diseasedatahub.org/manifest.json
  brh.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
  data.bloodpac.org/manifest.json
  data.kidsfirstdrc.org/manifest.json
  data.midrc.org/manifest.json
  dataguids.org/manifest.json
  diseasedatahub.org/manifest.json
  externaldata.healdata.org/manifest.json
  flu.diseasedatahub.org/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3qa.kidsfirstdrc.org/manifest.json
  gen3staging.kidsfirstdrc.org/manifest.json
  genomel.bionimbus.org/manifest.json
  healdata.org/manifest.json
  ibdgc.datacommons.io/manifest.json
  icgc.bionimbus.org/manifest.json
  jcoin.datacommons.io/manifest.json
  microbiome.diseasedatahub.org/manifest.json
  nci-crdc-staging.datacommons.io/manifest.json
  nci-crdc.datacommons.io/manifest.json
  nightly.planx-pla.net/manifest.json
  portal.occ-data.org/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.healdata.org/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.midrc.org/manifest.json
  tb.diseasedatahub.org/manifest.json
  va-testing.data-commons.org/manifest.json
  va.data-commons.org/manifest.json
  validate.midrc.org/manifest.json
  validatestaging.midrc.org/manifest.json
  vpodc.data-commons.org/manifest.json
Labels: test-portal-dataguidOrgTest

#6143 add fhir tab to preprod portal config
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountKeyTest

#6147 JCOIN Data dictionary 3.1 and corresponding ETL mapping
  jcoin.datacommons.io/etlMapping.yaml
  jcoin.datacommons.io/manifest.json
Labels: test-apis-etlTest

#6148 JCOIN Gitops config consistent with 3.1 DD
  jcoin.datacommons.io/portal/gitops.json
Labels: test-portal-coremetadatapageTest

#6154 Updating Env gen3qa.kidsfirstdrc.org - 2023.05 1685739095
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#6155 Updating Env gen3staging.kidsfirstdrc.org - 2023.05 1685739117
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#6134 update study name reference to short_name
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#6140 Update fence in BRH prod
  brh.data-commons.org/manifest.json
Labels: test-portal-discoveryPageTest

#6174 BDCat prod Data Release 21 1686159605
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleDataAccessTest

#6156 Updating Env chicagoland.pandemicresponsecommons.org - 2023.05 1685739270
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest

#6157 Updating Env data.kidsfirstdrc.org - 2023.05 1685739309
  data.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#6188 Staging - update indexd
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#6189 Prod - update indexd
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-indexingPageTest, test-portal-dataUploadTest

#6166 Gen3 Monthly Release 2023.06 nci-crdc-staging.datacommons.io 1686074789
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#6199 Add new bucket cds-295-phs003155
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest

#6191 Update image for Gen3 licensed Stata workspace
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-studyRegistrationTest

#6187 Gen3 Monthly Release 2023.06 brh.data-commons.org 1686588175
  brh.data-commons.org/manifest.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#6208 Updating Env jcoin.datacommons.io - 2023.05 1687358610
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#6223 BDC Preprod Fence 9.1.4
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-homepageTest

#6153 Updating Env accessclinicaldata.niaid.nih.gov - 2023.05 1685739077
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-studyViewerTest

#6168 Gen3 Monthly Release 2023.06 nci-crdc.datacommons.io 1686078344
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-drsEndpointsTest, test-apis-dbgapTest, test-apis-presignedUrlTest, test-apis-oidcClientTest

#6221 Gen3 Monthly Release 2023.06 preprod.healdata.org 1687487668
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest
