Repository uc-cdis/cdis-manifest, pull requests merged in 2023-01, with the labels that each got.

#5518 doc(qa) adding release notes for 2023.01
  releases/2023/01/gen3_release_notes.md
  releases/2023/01/manifest.json
Labels: doc-only, automerge

#5519 Updating Env ibdgc.datacommons.io - 2023.01 1672869642
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-apis-etlTest

#5528 update documentation link
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#5522 deploy vlmd sub to preprod heal
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops.json
Labels: test-apis-presignedUrlTest, test-portal-discoveryPageTest, test-apis-requestorTest

#5520 heal_preprod - remove unneeded sower jobs
  .secrets.baseline
  preprod.healdata.org/manifest.json
Labels: test-portal-discoveryPageTest

#5574 Updating Env accessclinicaldata.niaid.nih.gov - 2023.01 1674096594
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: gen3-release

#5568 Remove staging.theanvil.io
  staging.theanvil.io/README.md
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-etl_anvil-aggs-state__data.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-etl_anvil-aggs-state__mapping.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-etl_anvil-columns-state__data.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-etl_anvil-columns-state__mapping.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-etl_anvil-matchbox-state__data.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-etl_anvil-matchbox-state__mapping.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-etl_anvil__data.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-etl_anvil__mapping.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-file_anvil-aggs-state__data.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-file_anvil-aggs-state__mapping.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-file_anvil-columns-state__data.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-file_anvil-columns-state__mapping.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-file_anvil-matchbox-state__data.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-file_anvil-matchbox-state__mapping.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-file_anvil__data.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil-file_anvil__mapping.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil__data.json
  staging.theanvil.io/arrangerProject/arranger-projects-etl_anvil__mapping.json
  staging.theanvil.io/etlMapping.yaml
  staging.theanvil.io/manifest.json
  staging.theanvil.io/manifests/hatchery/hatchery.json
  staging.theanvil.io/portal/gitops-favicon.ico
  staging.theanvil.io/portal/gitops-logo.png
  staging.theanvil.io/portal/gitops.css
  staging.theanvil.io/portal/gitops.json
Labels: decommission-environment

#5575 Updating Env jcoin.datacommons.io - 2023.01 1674096615
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/hatchery/hatchery.json
Labels: gen3-release

#5576 Remove unneeded jobs for HEAL PROD
  .secrets.baseline
  healdata.org/manifest.json
Labels: test-portal-discoveryPageTest

#5339 Updating Env chicagoland.pandemicresponsecommons.org - 2022.11 1668114186
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-apis-OAuth2Test

#5536 Verify WTS at login in BRH Staging
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-apis-requestorTest

#5556 Gen3 Monthly Release 2023.01 dataguids.org 1673986941
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#5589 Delete internal-icgc.bionimbus.org directory
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/createdby.png
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/error.svg
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/gen3.png
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/header-logo.png
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/index.css
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/index.html
  internal-icgc.bionimbus.org/etlMapping.yaml
  internal-icgc.bionimbus.org/gitops-logo.png
  internal-icgc.bionimbus.org/manifest.json
  internal-icgc.bionimbus.org/portal/gitops-sponsors/ICGC.png
  internal-icgc.bionimbus.org/portal/gitops.json
Labels: decommission-environment

#5590 adding Argocd and WAF flags to all commons manifest.json to make them…
  .secrets.baseline
  acct.bionimbus.org/manifest.json
  brh.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifest.json
  caninedc.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
  chorus.data-commons.org/manifest.json
  data.bloodpac.org/manifest.json
  data.kidsfirstdrc.org/manifest.json
  data.midrc.org/manifest.json
  dataguids.org/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.datacommons.io/manifest.json
  gen3.theanvil.io/manifest.json
  gen3qa.kidsfirstdrc.org/manifest.json
  gen3staging.kidsfirstdrc.org/manifest.json
  genomel.bionimbus.org/manifest.json
  healdata.org/manifest.json
  ibdgc.datacommons.io/manifest.json
  icgc.bionimbus.org/manifest.json
  internalstaging.theanvil.io/manifest.json
  jcoin.datacommons.io/manifest.json
  login.bionimbus.org/manifest.json
  nci-crdc-staging.datacommons.io/manifest.json
  nci-crdc.datacommons.io/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.healdata.org/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  va-testing.data-commons.org/manifest.json
  va.data-commons.org/manifest.json
  validate.midrc.org/manifest.json
  validatestaging.midrc.org/manifest.json
  vpodc.data-commons.org/manifest.json
Labels: test-portal-dataguidOrgTest

#5585 Chore/brh prod wts at login
  brh.data-commons.org/manifest.json
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-apis-requestorTest

#5587 Gen3 Monthly Release 2023.01 brhstaging.data-commons.org 1674499973
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-apis-centralizedAuth

#5546 BRH-371
  brhstaging.data-commons.org/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#5600 HP-1036 udpate disclaimer
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#5607 doc(qa) adding release notes for 2023.02
  releases/2023/02/gen3_release_notes.md
  releases/2023/02/manifest.json
Labels: doc-only, automerge

#5627 Gen3 Monthly Release 2023.02 dataguids.org 1674851633
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#5623 Update portal from 2023.02 to 5.3.0
  staging.midrc.org/manifest.json
  validatestaging.midrc.org/manifest.json
Labels: test-pidgin-getCoremetadataTest

#5604 update heal preprod ws
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#5620 Gen3 Monthly Release 2023.02 BDCat Preprod preprod.gen3.biodatacatalyst.nhlbi.nih.gov - 2023.02 1674838788
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountRemovalTest

#5612 Gen3 Monthly Release 2023.02 nci-crdc-staging.datacommons.io 1674781047
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-pidgin-getCoremetadataTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest
