Repository uc-cdis/cdis-manifest, pull requests merged in 2023-10, with the labels that each got.

#6623 re-add IODC buckets
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#6626 Update VA GA tracking id
  va.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#6625 Gen3 Monthly Release BDCat Preprod 2023.09 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1696434029
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-indexingPageTest, test-apis-metadataIngestionTest

#6633 update tutorial ws image
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#6647 BDCat prod Data Release 23 1696869220
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#6671 Update GA tracking id to the GA4 measurement id
  healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#6651 new brh ws image
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-apis-userTokenTest

#6666 HP-1231 heal tou prod
  healdata.org/portal/gitops.json
Labels: test-portal-dataUploadTest, test-apis-requestorTest, test-apis-clientCredGrantTest

#6639 Gen3 Monthly Release 2023.10 staging.midrc.org 1696708478
  staging.midrc.org/manifest.json
Labels: test-apis-oidcClientTest

#6661 Gen3 Monthly Release 2023.10 chicagoland.pandemicresponsecommons.org 1696922845
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-apis-oidcClientTest

#6683 staging.chordshealth.org - update dictionary to 0.1.0
  staging.chordshealth.org/manifest.json
Labels: test-portal-homepageTest, test-apis-metadataIngestionTest

#6664 Remove bucket_path from BDC Preprod
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-coremetadatapageTest, test-guppy-guppyTest

#6685 new tutorial ws image
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-coremetadatapageTest, test-apis-requestorTest, test-coremetadata-getCoremetadataTest

#6636 Gen3 Monthly Release 2023.10 nci-crdc-staging.datacommons.io 1696697727
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#6675 Gen3 Monthly Release ANViL internal staging 2023.09 internalstaging.theanvil.io 1697055402
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-dbgapTest, test-portal-indexingPageTest, test-apis-metadataIngestionTest

#6697 AnVIL Production Services Update 1697698433
  gen3.theanvil.io/manifest.json
Labels: test-apis-presignedUrlTest, test-apis-oidcClientTest, test-coremetadata-getCoremetadataTest

#6695 BDCat prod remove bucket_path 1697663636
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest

#6714 Update static notebook
  brhstaging.data-commons.org/dashboard/Public/notebooks/How_to_access_data.html
  brhstaging.data-commons.org/dashboard/Public/notebooks/OADC_CCLE_gene_expression_data_analysis.html
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-apis-oidcClientTest

#6720 KF add bucket
  data.kidsfirstdrc.org/manifests/fence/fence-config-public.yaml
Labels: test-apis-presignedUrlTest

#6719 release notes 2023.11
  releases/2023/11/gen3_release_notes.md
  releases/2023/11/manifest.json
Labels: doc-only
