Repository uc-cdis/cdis-manifest, pull requests merged in 2023-12, with the labels that each got.

#6822 Updating Canine to release 2023.12 in preparation for ES7 changes.
  caninedc.org/manifest.json
Labels: skip-k8s-cleanup, jenkins-new-4

#6821 Updating Elwazi to release 2023.12 in preparation for ES7 changes.
  elwazi-demo.planx-pla.net/manifest.json
Labels: skip-k8s-cleanup, jenkins-new-3

#6847 ACCOuNT prefix
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#6846 MIDRC deploy fence 9.3.3
  data.midrc.org/manifest.json
  staging.midrc.org/manifest.json
  validate.midrc.org/manifest.json
  validatestaging.midrc.org/manifest.json
Labels: jenkins-dcp, test-apis-etlTest

#6857 staging.midrc.org 2023.12 + ES7
  staging.midrc.org/manifest.json
Labels: jenkins-dcp

#6843 Midrc staging etl
  staging.midrc.org/etlMapping.yaml
Labels: test-portal-indexingPageTest, test-apis-etlTest

#6860 validatestaging.midrc.org 2023.12 + ES7
  validatestaging.midrc.org/manifest.json
Labels: test-apis-etlTest, test-apis-oidcClientTest, skip-k8s-cleanup, skip-gen3utils, test-portal-exportToWorkspaceTes, jenkins-new-1

#6826 Updating Jcoin to release 2023.12 in preparation for ES7 changes.
  .secrets.baseline
  jcoin.datacommons.io/manifest.json
Labels: skip-k8s-cleanup, jenkins-new-4

#6832 Midrc validate 2023.12 + ES7
  validate.midrc.org/manifest.json
Labels: test-apis-etlTest, test-portal-exportToWorkspaceTest

#6894 BRH-690
  brh.data-commons.org/metadata/aggregate_config.json
  brhstaging.data-commons.org/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#6835 Updating Bloodv2 to release 2023.12 in preparation for ES7 changes.
  .secrets.baseline
  data.bloodpac.org/manifest.json
Labels: skip-k8s-cleanup, jenkins-new-1

#6872 Updating Healprod to release 2023.12 in preparation for ES7 changes.
  healdata.org/manifest.json
Labels: skip-k8s-cleanup, jenkins-new-4

#6903 Add static notebook
  preprod.healdata.org/dashboard/Public/notebooks/Monitoring_The_Future_Part2.html
  preprod.healdata.org/dashboard/Public/notebooks/Monitoring_The_Future_Part2.png
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-discoveryPageTest
