Repository uc-cdis/cdis-manifest, pull requests merged in 2023-11, with the labels that each got.

#6637 Gen3 Monthly Release 2023.10 nci-crdc.datacommons.io 1696701280
  .secrets.baseline
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-indexingPageTest

#6638 Gen3 Monthly Release 2023.10 data.midrc.org 1696704880
  .secrets.baseline
  data.midrc.org/manifest.json
  data.midrc.org/portal/gitops.json
Labels: test-apis-etlTest

#6738 changed Open Access DC to Gen3 Data Hub
  gen3.datacommons.io/etlMapping.yaml
  gen3.datacommons.io/manifest.json
  gen3.datacommons.io/portal/gitops.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-coremetadata-getCoremetadataTest

#6753 MIDRC prod release
  data.midrc.org/etlMapping.yaml
  data.midrc.org/manifest.json
  data.midrc.org/portal/gitops.json
Labels: test-portal-indexingPageTest, test-apis-etlTest

#6755 Updating services to include bugfixes
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-etlTest

#6758 gen3qa.kidsfirstdrc.org 2023.11 gen3qa.kidsfirstdrc.org 1699385679
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: test-apis-oidcClientTest

#6641 Gen3 Monthly Release 2023.10 validatestaging.midrc.org 1696715680
  validatestaging.midrc.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-apis-dataUploadTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-coremetadata-getCoremetadataTest

#6640 Gen3 Monthly Release 2023.10 validate.midrc.org 1696712082
  validate.midrc.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-apis-dataUploadTest, test-portal-coremetadatapageTest, test-portal-indexingPageTest, test-coremetadata-getCoremetadataTest

#6762 MIDRC dicom-server version gen3-0.1.2
  data.midrc.org/manifest.json
  staging.midrc.org/manifest.json
Labels: test-portal-homepageTest

#6594 Updating freez9 -> topmed-freeze9 for bdc
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest

#6736 Gen3 Monthly Release BDC Prod 2023.10 gen3.biodatacatalyst.nhlbi.nih.gov 1698702635
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: jenkins-dcp

#6770 Gen3 Monthly Release 2023.11 nci-crdc-staging.datacommons.io 1699977501
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-dataUploadTest

#6773 Gen3 Monthly Release 2023.11 staging.midrc.org 1699988255
  staging.midrc.org/manifest.json
Labels: jenkins-dcp, test-portal-coremetadatapageTest

#6775 Gen3 Monthly Release 2023.11 validatestaging.midrc.org 1699995455
  validatestaging.midrc.org/manifest.json
Labels: jenkins-dcp, test-apis-etlTest

#6781 Update manifest.json
  accessclinicaldata.niaid.nih.gov/manifest.json
Labels: jenkins-dcp, test-portal-exportToWorkspaceTest

#6783 Prod BDC Fence 9.3.2
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: jenkins-dcp

#6782 Preprod BDC Fence 9.3.2
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: jenkins-dcp

#6779 Update fence-config-public.yaml release-24
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: jenkins-dcp

#6790 MIDRC staging: pin OHIF viewer
  staging.midrc.org/manifest.json
Labels: jenkins-dcp, test-portal-homepageTest

#6791 MIDRC prod: pin OHIF viewer
  .secrets.baseline
  data.midrc.org/manifest.json
Labels: jenkins-dcp, test-portal-homepageTest

#6800 Update DCF fence-config
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: jenkins-dcp

#6797 add pfb export to account
  .secrets.baseline
  acct.bionimbus.org/manifest.json
  acct.bionimbus.org/portal/gitops.json
Labels: jenkins-dcp

#6798 chore: Release Notes 2023.12
  releases/2023/12/gen3_release_notes.md
  releases/2023/12/manifest.json
Labels: doc-only

#6814 Gen3 Monthly Release 2023.12 preprod.healdata.org 1701272843
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-auditServiceTest

#6817 Gen3 Monthly Release 2023.12 brhstaging.data-commons.org 1701283464
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-apis-clientCredGrantTest, test-apis-oidcClientTest
