Repository uc-cdis/cdis-manifest, pull requests merged in 2023-03, with the labels that each got.

#5780 Chore/brh ws update
  brh.data-commons.org/dashboard/Public/notebooks/How_to_access_data.html
  brh.data-commons.org/dashboard/Public/notebooks/How_to_access_data.png
  brh.data-commons.org/manifests/hatchery/hatchery.json
  brh.data-commons.org/portal/gitops.json
  brhstaging.data-commons.org/dashboard/Public/notebooks/How_to_access_data.html
  brhstaging.data-commons.org/dashboard/Public/notebooks/How_to_access_data.png
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#5741 BRH-410
  brh.data-commons.org/metadata/aggregate_config.json
  brhstaging.data-commons.org/metadata/aggregate_config.json
Labels: test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-apis-presignedUrlTest, test-apis-aggMDSTest

#5792 doc(qa) adding release notes for 2023.03
  releases/2023/03/gen3_release_notes.md
  releases/2023/03/manifest.json
Labels: doc-only, automerge

#5797 Add fence release notes for PR #1075 cherry picked
  releases/2023/03/gen3_release_notes.md
Labels: doc-only

#5807 Feat: update VA-test data-portal to VA-2023.03
  va-testing.data-commons.org/manifest.json
Labels: automerge

#5784 PXP-10746: Update fence-config-public.yaml
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#5775 BDC Staging - Fhir metadata in discovery page
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops-logo.png
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-dbgapTest

#5836 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: test-portal-loginPageTest

#5837 Update manifest.json
  healdata.org/manifest.json
Labels: test-portal-loginPageTest

#5832 (HP-1062): add cronjob config for agg-mds-sync for preprod heal
  preprod.healdata.org/manifests/cronjobs/cronjobs.json
Labels: test-portal-dataUploadTest

#5845 PRC remove pidgin
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#5795 (HP-1062): add agg-mds-sync cron config json
  healdata.org/manifests/cronjobs/cronjobs.json
Labels: test-apis-clientCredGrantTest

#5851 Change link to DUA file
  Jenkinsfile
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-portal-studyViewerTest

#5849 new ws iamge
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#5864 covid19-etl:5.2.3
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#5866 Update authz path midrc brhstaging
  brhstaging.data-commons.org/metadata/aggregate_config.json
Labels: test-apis-oidcClientTest

#5861 doc(qa) adding release notes for 2023.04
  releases/2023/04/gen3_release_notes.md
  releases/2023/04/manifest.json
Labels: doc-only, automerge

#5788 BDCat prod style guide updates 1677869188
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops-logo.png
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.css
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountRemovalTest

#5880 Update Jenkinsfile
  Jenkinsfile
Labels: test-portal-homepageTest

#5857 Adding new CDS bucket
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#5867 Gen3 Monthly Release 2023.04 acct.bionimbus.org 1680037590
  acct.bionimbus.org/manifest.json
Labels: test-portal-coremetadatapageTest

#5883 gen3.datacommons.io 2023.04 gen3.datacommons.io 1680126504
  gen3.datacommons.io/manifest.json
Labels: test-portal-indexingPageTest

#5800 Gen3 Monthly Release 2023.03 nci-crdc.datacommons.io 1678172257
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#5869 Gen3 Monthly Release 2023.04 dataguids.org 1680044748
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest
