Repository uc-cdis/cdis-manifest, pull requests merged in 2023-02, with the labels that each got.

#5614 Gen3 Monthly Release 2023.02 nci-crdc.datacommons.io 1674784646
  nci-crdc.datacommons.io/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#5586 Gen3 Monthly Release 2023.01 brh.data-commons.org 1674496424
  brh.data-commons.org/manifest.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-sheepdogAndPeregrine-submitFileTest

#5670 brh staging tutorial ws
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-discoveryPageTest

#5678 Add topbar links to Cite BRH and Email Support
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-apis-presignedUrlTest, test-apis-userTokenTest, test-apis-aggMDSTest, test-portal-discoveryPageTest, test-apis-requestorTest, test-apis-clientCredGrantTest

#5658 Gen3 Monthly Release 2023.02 healdata.org 1675197978
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#5686 Fix email support link and inactive contact site
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#5653 Gen3 Monthly Release 2023.02 chicagoland.pandemicresponsecommons.org 1675190777
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest, test-guppy-guppyTest

#5646 Gen3 Monthly Release 2023.02 ibdgc.datacommons.io 1675183575
  ibdgc.datacommons.io/manifest.json
  ibdgc.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-pidgin-getCoremetadataTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-guppy-guppyTest

#5689 Remove mailto:
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#5680 Updating Env gen3qa.kidsfirstdrc.org - 2023.02 1675365890
  gen3qa.kidsfirstdrc.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest

#5687 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: test-apis-dataUploadTest, test-portal-dataUploadTest

#5679 Updating Env gen3staging.kidsfirstdrc.org - 2023.02 1675365890
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-apis-dbgapTest

#5652 Gen3 Monthly Release 2023.02 jcoin.datacommons.io 1675187180
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-guppy-guppyTest

#5688 Update manifest.json
  healdata.org/manifest.json
Labels: test-apis-clientCredGrantTest

#5667 BDCat prod release 1675275277
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest, test-apis-presignedUrlTest

#5681 Updating Env data.kidsfirstdrc.org - 2023.02 1675365957
  data.kidsfirstdrc.org/manifest.json
Labels: test-apis-userTokenTest, test-apis-oidcClientTest

#5690 Add Cite BRH and Email Support links
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#5654 Gen3 Monthly Release 2023.02 accessclinicaldata.niaid.nih.gov 1675194378
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-presignedUrlTest

#5693 Gen3 Monthly Release 2023.02 brh.data-commons.org 1675465720
  brh.data-commons.org/manifest.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#5697 Gen3 Monthly Release 2023.02 AnVIL internalstaging internalstaging.theanvil.io - 2023.02 1675640711
  internalstaging.theanvil.io/manifest.json
Labels: test-apis-presignedUrlTest

#5668 BDCat staging release 1675275499
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-apis-presignedUrlTest

#5706 chore add CDS S3 bucket to DCF
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#5707 AnVIL 2023.02 production 1675796785
  gen3.theanvil.io/manifest.json
Labels: test-apis-etlTest

#5651 CHoRUS 2023.02 2023.02 chorus.data-commons.org 1675186471
  chorus.data-commons.org/manifest.json
Labels: test-apis-etlTest

#5704 Update row uid from `frontend_uid` to `_unique_id`
  brh.data-commons.org/portal/gitops.json
Labels: test-apis-aggMDSTest

#5718 chore(fluentd-version): Updated fluentd versions for karpenter
  .secrets.baseline
  README.md
  accessclinicaldata.niaid.nih.gov/manifest.json
  acct.bionimbus.org/manifest.json
  aids.diseasedatahub.org/manifest.json
  brh.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
  chorus.data-commons.org/manifest.json
  covid19.occ-pla.net/manifest.json
  data.bloodpac.org/manifest.json
  data.kidsfirstdrc.org/manifest.json
  data.midrc.org/manifest.json
  dataguids.org/manifest.json
  diseasedatahub.org/manifest.json
  flu.diseasedatahub.org/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.datacommons.io/manifest.json
  gen3qa.kidsfirstdrc.org/manifest.json
  gen3staging.kidsfirstdrc.org/manifest.json
  healdata.org/manifest.json
  ibdgc.datacommons.io/manifest.json
  jcoin.datacommons.io/manifest.json
  microbiome.diseasedatahub.org/manifest.json
  nci-crdc-staging.datacommons.io/manifest.json
  nci-crdc.datacommons.io/manifest.json
  nightly.planx-pla.net/manifest.json
  portal.occ-data.org/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.healdata.org/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.midrc.org/manifest.json
  tb.diseasedatahub.org/manifest.json
  va-testing.data-commons.org/manifest.json
  va.data-commons.org/manifest.json
  validate.midrc.org/manifest.json
  validatestaging.midrc.org/manifest.json
  vpodc.data-commons.org/manifest.json
Labels: test-portal-dataguidOrgTest

#5664 homepageChartNodesExcludeFiles true
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest, test-apis-etlTest, test-apis-presignedUrlTest

#5710 chore PXP-10710 Adding CDS buckets to DCF
  .gitignore
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#5705 Feat/crdc adapters brhprod
  brh.data-commons.org/metadata/aggregate_config.json
Labels: test-portal-discoveryPageTest

#5726 JCOIN Tube back to 0.7.1
  jcoin.datacommons.io/manifest.json
Labels: test-portal-dataUploadTest

#5739 Update manifest.json
  healdata.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-portal-dataUploadTest, test-apis-requestorTest

#5732 deploy vlmd sub
  healdata.org/manifest.json
  healdata.org/portal/gitops.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-apis-presignedUrlTest

#5754 Chore/brh ws update
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#5749 Feat/bdc style updates
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops-logo.png
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-sheepdogAndPeregrine-submitFileTest
