Repository uc-cdis/cdis-manifest, pull requests merged in 2023-09, with the labels that each got.

#6336 Update BDC staging hatchery.json to match BDC prod
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest

#6507 updating global dictionary url to latest release 4.4.3
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-homepageTest

#6514 (HP-1059): set fence version allowing client credentials for VLMD
  preprod.healdata.org/manifest.json
Labels: test-portal-discoveryPageTest, test-portal-studyRegistrationTest, test-portal-exportToWorkspaceTest, jenkins-new-2

#6542 Add IODC Buckets
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#6530 DR38 update GDC_project_map
  nci-crdc.datacommons.io/manifests/datarefresh/GDC_project_map.json
Labels: test-portal-homepageTest

#6518 Gen3 Monthly Release 2023.09 preprod.healdata.org 1694110162
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-oidcClientTest

#6549 Gen3 Monthly Release 2023.09 nci-crdc-staging.datacommons.io 1694540457
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest

#6532 Gen3 Monthly Release 2023.09 caninedc.org 1694445476
  caninedc.org/manifest.json
Labels: test-apis-oidcClientTest

#6548 Gen3 Monthly Release 2023.09 gen3.datacommons.io 1694503078
  gen3.datacommons.io/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest

#6566 add new static nbs
  brh.data-commons.org/dashboard/Public/notebooks/JCOIN_PDAPS_Public_Policy_Changes_v2.html
  brh.data-commons.org/dashboard/Public/notebooks/Predicting_Insights_Into_Heart_Health.html
  brh.data-commons.org/dashboard/Public/notebooks/Predicting_Insights_Into_Heart_Health.png
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#6575 new generic workspace image with healdata utils
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#6533 Gen3 Monthly Release 2023.09 dataguids.org 1694449076
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#6585 doc(qa) adding release notes for 2023.10
  releases/2023/10/gen3_release_notes.md
  releases/2023/10/manifest.json
Labels: doc-only, automerge
