Repository uc-cdis/cdis-manifest, pull requests merged in 2023-08, with the labels that each got.

#6345 doc(qa) adding release notes for 2023.08
  releases/2023/08/gen3_release_notes.md
  releases/2023/08/manifest.json
Labels: doc-only, automerge

#6356 Corrections to feat/redirect
  nci-crdc-staging.datacommons.io/dashboard/Public/docs/img/logo.png
  nci-crdc-staging.datacommons.io/dashboard/Public/docs/redir_gen3.html
  nci-crdc-staging.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest

#6369 Gen3 Monthly Release 2023.08 dataguids.org 1690998904
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#6363 feat/redirect more changes
  nci-crdc-staging.datacommons.io/dashboard/Public/docs/redir_gen3.html
  nci-crdc-staging.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest, test-google-googleServiceAccountTest, test-portal-coremetadatapageTest, test-apis-OAuth2Test, test-portal-indexingPageTest, test-google-googleServiceAccountRemovalTest, test-portal-dataUploadTest, test-apis-auditServiceTest

#6370 Gen3 Monthly Release 2023.08 genomel.bionimbus.org 1691002506
  genomel.bionimbus.org/manifest.json
Labels: test-coremetadata-getCoremetadataTest

#6372 Update gitops.json
  nci-crdc-staging.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest

#6382 BDCat prod Data Release 21 1691072905
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest

#6385 add rediret links to dcf production
  nci-crdc.datacommons.io/dashboard/Public/docs/img/gen3.png
  nci-crdc.datacommons.io/dashboard/Public/docs/img/logo.png
  nci-crdc.datacommons.io/dashboard/Public/docs/index.css
  nci-crdc.datacommons.io/dashboard/Public/docs/redir_ctds.html
  nci-crdc.datacommons.io/dashboard/Public/docs/redir_gen3.html
  nci-crdc.datacommons.io/dashboard/Public/docs/redir_gen3_ctds.html
  nci-crdc.datacommons.io/portal/gitops.json
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest

#6323 replace n/a for study name with full name
  brhstaging.data-commons.org/metadata/aggregate_config.json
Labels: test-portal-homepageTest

#6412 add soren's nextflow notebook into Example Analysis
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-apis-requestorTest

#6424 Update kayako to `0.2.0` in BRH Staging and prod
  brh.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifest.json
Labels: test-portal-discoveryPageTest, test-portal-exportToWorkspaceTest

#6420 update IBD portal to 5.11.1
  .secrets.baseline
  ibdgc.datacommons.io/manifest.json
Labels: test-portal-exportToWorkspaceTest

#6452 VA Production GWAS Results Doc
  .secrets.baseline
  va.data-commons.org/dashboard/Public/documentation/.buildinfo
  va.data-commons.org/dashboard/Public/documentation/.doctrees/environment.pickle
  va.data-commons.org/dashboard/Public/documentation/.doctrees/index.doctree
  va.data-commons.org/dashboard/Public/documentation/_images/068-select-cohort.png
  va.data-commons.org/dashboard/Public/documentation/_images/069-continuous-dichotomous.png
  va.data-commons.org/dashboard/Public/documentation/_images/070-continuous.png
  va.data-commons.org/dashboard/Public/documentation/_images/071-continuous-covariate.png
  va.data-commons.org/dashboard/Public/documentation/_images/072-continuous-covariate.png
  va.data-commons.org/dashboard/Public/documentation/_images/073-dichotomous-covariate.png
  va.data-commons.org/dashboard/Public/documentation/_images/074-dichotomous-covariate.png
  va.data-commons.org/dashboard/Public/documentation/_images/075-attrition-table.png
  va.data-commons.org/dashboard/Public/documentation/_images/076-configure-GWAS.png
  va.data-commons.org/dashboard/Public/documentation/_images/077-submit.png
  va.data-commons.org/dashboard/Public/documentation/_sources/index.rst.txt
  va.data-commons.org/dashboard/Public/documentation/_static/068-select-cohort.png
  va.data-commons.org/dashboard/Public/documentation/_static/069-continuous-dichotomous.png
  va.data-commons.org/dashboard/Public/documentation/_static/070-continuous.png
  va.data-commons.org/dashboard/Public/documentation/_static/071-continuous-covariate.png
  va.data-commons.org/dashboard/Public/documentation/_static/072-continuous-covariate.png
  va.data-commons.org/dashboard/Public/documentation/_static/073-dichotomous-covariate.png
  va.data-commons.org/dashboard/Public/documentation/_static/074-dichotomous-covariate.png
  va.data-commons.org/dashboard/Public/documentation/_static/075-attrition-table.png
  va.data-commons.org/dashboard/Public/documentation/_static/076-configure-GWAS.png
  va.data-commons.org/dashboard/Public/documentation/_static/077-submit.png
  va.data-commons.org/dashboard/Public/documentation/_static/alabaster.css
  va.data-commons.org/dashboard/Public/documentation/_static/basic.css
  va.data-commons.org/dashboard/Public/documentation/_static/documentation_options.js
  va.data-commons.org/dashboard/Public/documentation/_static/pygments.css
  va.data-commons.org/dashboard/Public/documentation/genindex.html
  va.data-commons.org/dashboard/Public/documentation/index.html
  va.data-commons.org/dashboard/Public/documentation/search.html
  va.data-commons.org/dashboard/Public/documentation/searchindex.js
Labels: test-portal-homepageTest

#6391 Gen3 Monthly Release 2023.08 brhstaging.data-commons.org 1691417082
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-exportToWorkspaceTest

#6466 Update gitops.json
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-discoveryPageTest, jenkins-new-2

#6465 Add IDC s3 buckets
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#6469 feat/Discovery_Config
  elwazi-demo.planx-pla.net/manifest.json
  elwazi-demo.planx-pla.net/portal/gitops.json
Labels: test-portal-exportToWorkspaceTest

#6459 Gen3 Monthly Release 2023.08 nci-crdc.datacommons.io 1692669539
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleServiceAccountRemovalTest, test-google-googleServiceAccountKeyTest

#6488 add release notes for release 23.09
  releases/2023/09/gen3_release_notes.md
  releases/2023/09/manifest.json
Labels: doc-only

#6496 Update gitops.json
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-discoveryPageTest
