Repository uc-cdis/cdis-manifest, pull requests merged in 2023-07, with the labels that each got.

#6247 fix: update post-command in user-license
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#6243 Notebook versioning
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
  brhstaging.data-commons.org/portal/gitops.json
  preprod.healdata.org/dashboard/Public/notebooks/Monitoring_The_Future_Part1.html
  preprod.healdata.org/dashboard/Public/notebooks/Monitoring_The_Future_Part1.png
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#6256 remove tcga-prad nb
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#6222 Gen3 Monthly Release 2023.06 externaldata.healdata.org 1687491268
  externaldata.healdata.org/manifest.json
Labels: test-apis-aggMDSTest

#6242 Add CDS buckets and alpha sort buckets
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#6267 Update Kayako in BRH Staging
  brhstaging.data-commons.org/manifest.json
Labels: test-portal-discoveryPageTest

#6266 Update Kayako wrapper in BRH Prod
  brh.data-commons.org/manifest.json
Labels: test-portal-discoveryPageTest

#6278 Increment wts in brhstaging 0.4.3 release
  brhstaging.data-commons.org/manifest.json
Labels: test-portal-discoveryPageTest

#6206 Update DCF PROD for validation test/change
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#6280 chore/update jupyter pystata repo name
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest, test-portal-studyRegistrationTest

#6258 Gen3 Monthly Release 2023.06 AnVIL internalstaging internalstaging.theanvil.io - 2023.06 1688661830
  internalstaging.theanvil.io/manifest.json
Labels: test-google-googleServiceAccountTest

#6294 update preprod for new metadat format
  .secrets.baseline
  preprod.healdata.org/manifest.json
  preprod.healdata.org/metadata/aggregate_config.json
  preprod.healdata.org/portal/gitops.json
Labels: test-apis-aggMDSTest

#6292 Update manifest.json .
  brh.data-commons.org/manifest.json
Labels: test-apis-exportToWorkspaceTest, jenkins-new, test-portal-discoveryPageTest

#6293 AnVIL services update 1689707829
  gen3.theanvil.io/manifest.json
Labels: test-portal-homepageTest

#6283 minor discovery page updates
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleDataAccessTest, test-google-googleServiceAccountRemovalTest

#6309 update generic workspace image
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: jenkins-new, test-portal-discoveryPageTest

#6319 update tutorial ws image
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#6322 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: test-portal-dataUploadTest, jenkins-new, test-portal-discoveryPageTest, test-portal-studyRegistrationTest, skip-k8s-cleanup

#6318 BDCat prod Data Release 22 1690389808
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-google-googleServiceAccountTest, test-google-googleServiceAccountRemovalTest

#6327 update tutorial ws image
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#6326 Update bdc staging scaling to match bdc production
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-homepageTest

#6340 doc(qa) adding release notes for 2023.08
  releases/2023/08/gen3_release_notes.md
  releases/2023/08/manifest.json
Labels: doc-only, automerge
