Repository uc-cdis/cdis-manifest, pull requests merged in 2023-05, with the labels that each got.

#6013 Update manifest.json
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#5998 BDCat prod release 1682606889
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-oidcClientTest

#6018 Update dcf-staging to test fence usersync
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#5995 Updating Env chicagoland.pandemicresponsecommons.org - 2023.04 1682532240
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#5984 Update fence-config-public.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-apis-etlTest

#6014 feat/ibdGuppy: PXP-7121
  ibdgc.datacommons.io/manifest.json
Labels: test-apis-clientCredGrantTest

#6024 Update data-portal in brh staging
  brhstaging.data-commons.org/manifest.json
Labels: test-apis-clientCredGrantTest

#6026 Update manifest.json
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#6035 doc(qa) adding release notes for 2023.05
  releases/2023/05/gen3_release_notes.md
  releases/2023/05/manifest.json
Labels: doc-only, automerge

#6042 update IBD guppy to 0.15.7 to add cardinality support
  ibdgc.datacommons.io/manifest.json
Labels: test-apis-clientCredGrantTest

#6047 Gen3 Monthly Release 2023.05 genomel.bionimbus.org 1683319699
  genomel.bionimbus.org/manifest.json
Labels: test-apis-etlTest

#6043 Gen3 Monthly Release 2023.05 caninedc.org 1683312502
  caninedc.org/manifest.json
Labels: test-apis-etlTest, test-portal-dataUploadTest

#6031 new brh tutorial ws image
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#6076 Remove automerge
  .github/workflows/automerge.yml
Labels: test-portal-homepageTest

#6060 Gen3 Monthly Release 2023.05 nci-crdc-staging.datacommons.io 1683407867
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#6084 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: test-apis-oidcClientTest

#6087 PXP-10903 PRC citation link
  CODEOWNERS
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-portal-homepageTest

#6072 Gen3 Monthly Release 2023.05 brh.data-commons.org 1683640042
  brh.data-commons.org/manifest.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#6079 Gen3 Monthly Release 2023.04 BDCat Staging staging.gen3.biodatacatalyst.nhlbi.nih.gov - 2023.04 1683826108
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#6096 new tutorial ws image
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#6100 PXP-7121: add consortium_id to etlMapping for testing and in preparation of chart changes
  ibdgc.datacommons.io/etlMapping.yaml
Labels: test-apis-etlTest

#6085 Update manifest.json.
  healdata.org/manifest.json
Labels: test-portal-dataUploadTest

#6106 KF staging fence 9.1.0
  gen3qa.kidsfirstdrc.org/manifest.json
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-apis-auditServiceTest

#6105 KF prod fence 9.1.0
  data.kidsfirstdrc.org/manifest.json
Labels: test-apis-oidcClientTest

#6107 Gen3 Monthly Release 2023.05 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1684442815
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-OAuth2Test, test-coremetadata-getCoremetadataTest

#6101 Added JSON as enum to reference_file node, v4.4.2 release
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: jenkins-brain, test-apis-exportToWorkspaceTest

#6108 Gen3 Monthly Release BDCat Preprod 2023.05 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1684443708
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-auditServiceTest

#6115 BDCat prod release 1684776828
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#6120 PXP-7121: IBD update guppy to 0.16.0
  ibdgc.datacommons.io/manifest.json
Labels: test-apis-etlTest

#6125 Update fence-config-public.yaml
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#6127 BDC Preprod Fence 9.1.2
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-homepageTest

#6126 BDC Prod Fence 9.1.2 Changes
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-homepageTest

#6044 Gen3 Monthly Release 2023.05 nci-crdc.datacommons.io 1683312967
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-OAuth2Test

#6137 Update fence-config-public.yaml - release 21
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleServiceAccountRemovalTest
