Repository uc-cdis/cdis-manifest, pull requests merged in 2024-08, with the labels that each got.

#7590 Gen3 Monthly Release BDC Preprod 2024.07 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1720538637
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-oidcClientTest

#7686 Gen3 Monthly Release 2024.08 nci-crdc-staging.datacommons.io 1722880261
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-OAuth2Test

#7705 Gen3 Monthly Release 2024.08 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1723171362
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest

#7704 Gen3 Monthly Release 2024.08 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1723167761
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-google-googleDataAccessTest, test-portal-pfbExportTest

#7714 feat(heal-prod-metrics): Updated fence to expose metrics
  healdata.org/manifest.json
Labels: test-apis-oidcClientTest

#7729 Fence to 10.1.0
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-OAuth2Test, test-apis-auditServiceTest, test-portal-pfbExportTest

#7728 Add CDS Bucket
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-apis-auditServiceTest

#7747 Gen3 Monthly Release 2024.08 caninedc.org 1723820202
  caninedc.org/manifest.json
Labels: test-portal-pfbExportTest

#7723 Gen3 Monthly Release 2024.08 brh.data-commons.org 1723502164
  brh.data-commons.org/manifest.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
  brh.data-commons.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#7753 doc(qa) adding release notes for 2024.09
  releases/2024/09/gen3-release-notes.md
  releases/2024/09/manifest.json
Labels: doc-only

#7703 Gen3 Monthly Release 2024.08 gen3.biodatacatalyst.nhlbi.nih.gov 1723164163
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest, test-coremetadata-getCoremetadataTest

#7690 Gen3 Monthly Release 2024.08 data.kidsfirstdrc.org 1722894582
  data.kidsfirstdrc.org/manifest.json
Labels: test-portal-homepageTest

#7687 Gen3 Monthly Release 2024.08 nci-crdc.datacommons.io 1722883784
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#7789 BDC Prod Portal to 5.30.0
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#7618 updated BIH data dictionary to 0.1.0
  imaging-hub.data-commons.org/etlMapping.yaml
  imaging-hub.data-commons.org/manifest.json
  imaging-hub.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#7734 Updated fence to expose metrics
  imaging-hub.data-commons.org/manifest.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest

#7794 add release-30 buckets to fence-config-public.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-apis-dbgapTest, test-portal-pfbExportTest

#7697 Gen3 Monthly Release 2024.08 validate.midrc.org 1723094558
  validate.midrc.org/manifest.json
Labels: test-portal-exportToWorkspaceTest

#7792 Update manifest.json
  preprod.healdata.org/manifest.json
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-studyRegistrationTest

#7807 add release-30 buckets to fence-config-public.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-portal-pfbExportTest
