Repository uc-cdis/cdis-manifest, pull requests merged in 2024-07, with the labels that each got.

#7548 add file count
  data.midrc.org/etlMapping.yaml
  data.midrc.org/portal/gitops.json
Labels: test-portal-exportToWorkspaceTest

#7556 deploy portal change
  healdata.org/manifest.json
  healdata.org/portal/gitops.json
Labels: test-portal-dataUploadTest, test-apis-aggMDSTest

#7568 (VADC-1221 VADC-1228): VA Update Atlas and Data Portal add access-denied page
  va.data-commons.org/manifest.json
  va.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-portal-exportToWorkspaceTest

#7543 Adding release notes for 2024.07
  releases/2024/07/gen3-release-notes.md
  releases/2024/07/manifest.json
Labels: doc-only

#7584 Gen3 Monthly Release 2024.07 caninedc.org 1720533386
  caninedc.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-portal-dataUploadTest, test-apis-presignedUrlTest, test-portal-pfbExportTest, test-apis-oidcClientTest, test-coremetadata-getCoremetadataTest

#7596 Gen3 Monthly Release 2024.07 jcoin.datacommons.io 1720551332
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-portal-exportToWorkspaceTest

#7444 vmidrc_052824: Adding image modification properties to the explorer config file.
  staging.midrc.org/etlMapping.yaml
  staging.midrc.org/manifest.json
  staging.midrc.org/portal/gitops.json
Labels: test-apis-etlTest, test-portal-exportToWorkspaceTest

#7625 MIDRC-536 MIDRC-653 MIDRC-711 BRH stg and prod: hatchery 2.2.0
  brh.data-commons.org/manifest.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: @requires-hatchery

#7587 Gen3 Monthly Release BDC Staging 2024.07 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1720538386
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-oidcClientTest

#7660 Add IDC bucket
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#7658 Update fence-config-public.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-portal-pfbExportTest

#7657 Update fence-config-public.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest, test-portal-pfbExportTest

#7651 doc(qa) adding release notes for 2024.08
  releases/2024/08/gen3-release-notes.md
  releases/2024/08/manifest.json
Labels: doc-only
