Repository uc-cdis/cdis-manifest, pull requests merged in 2024-05, with the labels that each got.

#7343 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: test-coremetadata-getCoremetadataTest

#7344 Update manifest.json
  healdata.org/manifest.json
Labels: test-portal-dataUploadTest, test-portal-discoveryPageTest

#7304 Update GDC_project_map.json
  nci-crdc.datacommons.io/manifests/datarefresh/GDC_project_map.json
Labels: test-portal-homepageTest

#7305 Fix misnamed bucket
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#7347 MIDRC staging DICOM viewer to 3.8.0
  data.midrc.org/manifest.json
  staging.midrc.org/manifest.json
Labels: test-portal-homepageTest

#7350 BIH remove ecr-access-job-role-arn
  imaging-hub.data-commons.org/manifest.json
Labels: test-portal-homepageTest

#7360 correct bucket name
  nci-crdc.datacommons.io/manifests/datarefresh/GDC_project_map.json
Labels: test-portal-homepageTest

#7374 Update fence-config-public.yaml
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-coremetadatapageTest, test-apis-presignedUrlTest, test-apis-oidcClientTest

#7417 doc(qa) adding release notes for 2024.06
  releases/2024/06/gen3-release-notes.md
  releases/2024/06/manifest.json
Labels: doc-only

#7426 BRH staging: test nextflow KMS encryption
  brhstaging.data-commons.org/manifest.json
Labels: test-portal-homepageTest

#7442 KF add bucket
  data.kidsfirstdrc.org/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest

#7361 Gen3 Monthly Release 2024.05 data.midrc.org 1715021943
  data.midrc.org/manifest.json
Labels: test-apis-etlTest
