Repository uc-cdis/cdis-manifest, pull requests merged in 2024-04, with the labels that each got.

#7217 (MIDRC-666): update portal to 5.24.0
  data.midrc.org/manifest.json
Labels: test-apis-oidcClientTest

#7227 MIDRC-692 BRH Hatchery 2.1.2 bugfix
  brh.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifest.json
Labels: @requires-hatchery

#7142 Gen3 Monthly Release 2024.03 accessclinicaldata.niaid.nih.gov 1709587572
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-studyViewerTest

#7222 add release 26 s3 buckets
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-apis-etlTest

#7255 -Add the MARM-TB-FDT DUL document for NIAID
  accessclinicaldata.niaid.nih.gov/dashboard/Public/files/MARM-TB-FDT Data Use Limitations.pdf
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-portal-studyViewerTest

#7262 Gen3 Monthly Release BDC Prod 2024.04 gen3.biodatacatalyst.nhlbi.nih.gov 1712759988
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-auditServiceTest, test-portal-pfbExportTest

#7274 Gen3 Monthly Release BDC Staging 2024.04 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1713144385
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-auditServiceTest

#7287 Update GDC_project_map.json
  nci-crdc.datacommons.io/manifests/datarefresh/GDC_project_map.json
Labels: test-portal-homepageTest

#7267 Update manifest.json to Turn of Networkpolicies
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-coremetadatapageTest, test-portal-exportToWorkspaceTest

#7284 Gen3 Monthly Release AnVIL Staging 2024.04 internalstaging.theanvil.io 1713230370
  internalstaging.theanvil.io/manifest.json
Labels: test-portal-homepageTest, test-portal-dataUploadTest

#7275 Updated ami to 1.28
  brh.data-commons.org/manifests/karpenter/awsnodetemplate.yaml
  chicagoland.pandemicresponsecommons.org/manifests/karpenter/awsnodetemplate.yaml
  chordshealth.org/manifests/karpenter/awsnodetemplate.yaml
  data.bloodpac.org/manifests/karpenter/awsnodetemplate.yaml
  data.kidsfirstdrc.org/manifests/karpenter/awsnodetemplate.yaml
  data.midrc.org/manifests/karpenter/awsnodetemplate.yaml
  dataguids.org/manifests/karpenter/awsnodetemplate.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/karpenter/awsnodetemplate.yaml
  gen3.theanvil.io/manifests/karpenter/awsnodetemplate.yaml
  gen3qa.kidsfirstdrc.org/manifests/karpenter/awsnodetemplate.yaml
  gen3staging.kidsfirstdrc.org/manifests/karpenter/awsnodetemplate.yaml
  genomel.bionimbus.org/manifests/karpenter/awsnodetemplate.yaml
  healdata.org/manifests/karpenter/awsnodetemplate.yaml
  icgc.bionimbus.org/manifests/karpenter/awsnodetemplate.yaml
  jcoin.datacommons.io/manifests/karpenter/awsnodetemplate.yaml
  nci-crdc-staging.datacommons.io/manifests/karpenter/awsnodetemplate.yaml
  nci-crdc.datacommons.io/manifests/karpenter/awsnodetemplate.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/karpenter/awsnodetemplate.yaml
  validate.midrc.org/manifests/karpenter/awsnodetemplate.yaml
  validatestaging.midrc.org/manifests/karpenter/awsnodetemplate.yaml
  vpodc.data-commons.org/manifests/karpenter/awsnodetemplate.yaml
Labels: test-portal-dataguidOrgTest

#7253 Updating manifest for PROD, incorporating changes that enable agg wts in heal discovery
  .secrets.baseline
  healdata.org/metadata/aggregate_config.json
  healdata.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#7301 fix source_node with None Type in ES
  data.midrc.org/manifest.json
  staging.midrc.org/manifest.json
Labels: test-apis-etlTest

#7300 Update ValidateStaging to DD v1.3.0
  validatestaging.midrc.org/etlMapping.yaml
  validatestaging.midrc.org/manifest.json
Labels: test-apis-etlTest

#7278 Gen3 Monthly Release 2024.04 data.midrc.org 1713206914
  data.midrc.org/manifest.json
  staging.midrc.org/manifest.json
Labels: test-apis-etlTest

#7311 Gen3 Monthly Release 2024.04 preprod.healdata.org 1714075872
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-dataUploadTest, test-portal-dataUploadTest, test-apis-auditServiceTest

#7310 Gen3 Monthly Release 2024.04 healdata.org 1714072294
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#7319 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest

#7333 Update fence-config-public.yaml
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-coremetadata-getCoremetadataTest

#7257 Gen3 Monthly Release 2024.04 nci-crdc.datacommons.io 1712693506
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-presignedUrlTest, test-coremetadata-getCoremetadataTest
