Repository uc-cdis/cdis-manifest, pull requests merged in 2024-03, with the labels that each got.

#7116 Gen3 Monthly Release 2024.03 nci-crdc-staging.datacommons.io 1709038978
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-oidcClientTest

#7137 Gen3 Monthly Release 2024.03 caninedc.org 1709566033
  caninedc.org/manifest.json
Labels: test-apis-etlTest

#7139 Gen3 Monthly Release 2024.03 genomel.bionimbus.org 1709573224
  genomel.bionimbus.org/manifest.json
Labels: test-apis-etlTest

#7140 Gen3 Monthly Release 2024.03 icgc.bionimbus.org 1709576827
  icgc.bionimbus.org/manifest.json
Labels: test-apis-etlTest

#7141 Gen3 Monthly Release 2024.03 jcoin.datacommons.io 1709583967
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest, test-portal-indexingPageTest, test-apis-etlTest, test-portal-dataUploadTest, test-portal-exportToWorkspaceTest

#7165 MIDRC-654 Add algorithm page link
  staging.midrc.org/portal/gitops.json
Labels: test-portal-homepageTest

#7157 Gen3 Monthly Release 2024.03 staging.midrc.org 1709850220
  staging.midrc.org/manifest.json
Labels: test-apis-etlTest

#7145 Gen3 Monthly Release 2024.03 gen3.datacommons.io 1709594771
  gen3.datacommons.io/manifest.json
Labels: test-apis-etlTest

#7178 Update fence-config-public.yaml
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-coremetadatapageTest

#7176 chore(ami-update): Updated AMI in karpenter templates
  brh.data-commons.org/manifests/karpenter/awsnodetemplate.yaml
  chicagoland.pandemicresponsecommons.org/manifests/karpenter/awsnodetemplate.yaml
  chordshealth.org/manifests/karpenter/awsnodetemplate.yaml
  data.bloodpac.org/manifests/karpenter/awsnodetemplate.yaml
  data.kidsfirstdrc.org/manifests/karpenter/awsnodetemplate.yaml
  data.midrc.org/manifests/karpenter/awsnodetemplate.yaml
  dataguids.org/manifests/karpenter/awsnodetemplate.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/karpenter/awsnodetemplate.yaml
  gen3.theanvil.io/manifests/karpenter/awsnodetemplate.yaml
  gen3qa.kidsfirstdrc.org/manifests/karpenter/awsnodetemplate.yaml
  gen3staging.kidsfirstdrc.org/manifests/karpenter/awsnodetemplate.yaml
  genomel.bionimbus.org/manifests/karpenter/awsnodetemplate.yaml
  healdata.org/manifests/karpenter/awsnodetemplate.yaml
  icgc.bionimbus.org/manifests/karpenter/awsnodetemplate.yaml
  jcoin.datacommons.io/manifests/karpenter/awsnodetemplate.yaml
  nci-crdc-staging.datacommons.io/manifests/karpenter/awsnodetemplate.yaml
  nci-crdc.datacommons.io/manifests/karpenter/awsnodetemplate.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/karpenter/awsnodetemplate.yaml
  va-perf.data-commons.org/manifests/karpenter/awsnodetemplate.yaml
  va.data-commons.org/manifests/karpenter/awsnodetemplate.yaml
  validate.midrc.org/manifests/karpenter/awsnodetemplate.yaml
  validatestaging.midrc.org/manifests/karpenter/awsnodetemplate.yaml
  vpodc.data-commons.org/manifests/karpenter/awsnodetemplate.yaml
Labels: test-portal-dataguidOrgTest

#7179 MIDRC1.2.8: Updating based on recent dictionary mods
  staging.midrc.org/manifest.json
Labels: test-portal-homepageTest

#7177 BRH Staging test nextflow AMI updates
  .secrets.baseline
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#7144 Gen3 Monthly Release 2024.03 chicagoland.pandemicresponsecommons.org 1709591170
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#7193 MIDRC-651 BRH staging: whitelist nextflow-approved/public
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: jenkins-niaid, @requires-hatchery

#7204 doc(qa) adding release notes for 2024.04
  releases/gen3-release-notes.md
  releases/manifest.json
Labels: doc-only

#7158 Gen3 Monthly Release 2024.03 validate.midrc.org 1709853823
  validate.midrc.org/manifest.json
Labels: test-apis-etlTest, test-guppy-guppyTest, test-portal-exportToWorkspaceTest

#7209 MIDRC-672 BRH Prod Nextflow configuration
  brh.data-commons.org/manifest.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: @requires-hatchery

#7215 BRH - update ECR job role ARN for Nextflow
  brh.data-commons.org/manifest.json
Labels: test-portal-homepageTest

#7220 MIDRC-679 BRH staging and prod: update nextflow config
  brh.data-commons.org/manifest.json
  brh.data-commons.org/manifests/hatchery/hatchery.json
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: @requires-hatchery

#7219 (HP-1417): configure preprod heal hatchery for gen3-licensed dynamodb
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-studyRegistrationTest
