Repository uc-cdis/cdis-manifest, pull requests merged in 2024-06, with the labels that each got.

#7480 Gen3 Monthly Release 2024.06 genomel.bionimbus.org 1717611235
  genomel.bionimbus.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-apis-presignedUrlTest, test-apis-oidcClientTest, test-coremetadata-getCoremetadataTest

#7481 Gen3 Monthly Release 2024.06 icgc.bionimbus.org 1717614696
  icgc.bionimbus.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest

#7498 VADC-383: Change login page according to new design
  va-testing.data-commons.org/portal/gitops-sponsors/login-logo.png
  va-testing.data-commons.org/portal/gitops.css
  va-testing.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-apis-oidcClientTest, test-portal-exportToWorkspaceTest

#7500 MIDRC staging dicom servers scale down
  staging.midrc.org/manifest.json
Labels: test-portal-homepageTest

#7503 Gen3 Monthly Release 2024.06 staging.midrc.org 1718296906
  staging.midrc.org/manifest.json
Labels: test-portal-exportToWorkspaceTest

#7516 BRH staging - hatchery test branch
  brhstaging.data-commons.org/manifest.json
Labels: @requires-hatchery

#7535 BIH-20 BIH tier access to private + public fence config
  imaging-hub.data-commons.org/manifest.json
  imaging-hub.data-commons.org/manifests/fence/fence-config-public.yaml
Labels: test-portal-homepageTest
