Repository uc-cdis/cdis-manifest, pull requests merged in 2024-10, with the labels that each got.

#7922 doc(qa) adding release notes for 2024.10
  releases/2024/10/gen3-release-notes.md
  releases/2024/10/manifest.json
Labels: doc-only

#7949 Gen3 Monthly Release 2024.10 preprod.healdata.org 1727968068
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#7957 Update release 31 buckets
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-apis-dbgapTest, test-apis-oidcClientTest

#7948 Gen3 Monthly Release 2024.10 healdata.org 1727964703
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: test-apis-oidcClientTest, skip-k8s-cleanup

#7973 Gen3 Monthly Release 2024.10 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1728352779
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-dbgapTest, test-apis-oidcClientTest

#7980 Add bucket mapping + gdc replication branch
  nci-crdc.datacommons.io/manifest.json
  nci-crdc.datacommons.io/manifests/datarefresh/GDC_project_map.json
Labels: test-portal-homepageTest

#7972 Gen3 Monthly Release 2024.10 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1728349178
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-drsEndpointsTest, test-apis-dbgapTest, test-portal-pfbExportTest, test-apis-oidcClientTest

#7970 Gen3 Monthly Release 2024.10 gen3.biodatacatalyst.nhlbi.nih.gov 1728345578
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-apis-oidcClientTest

#7983 Add audit service to midrc staging
  .secrets.baseline
  staging.midrc.org/manifest.json
Labels: test-portal-exportToWorkspaceTest

#7977 Gen3 Monthly Release 2024.10 caninedc.org 1728490532
  caninedc.org/manifest.json
Labels: test-portal-pfbExportTest

#7985 Gen3 Monthly Release 2024.10 gen3.datacommons.io 1728515674
  gen3.datacommons.io/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-apis-dataUploadTest, test-portal-coremetadatapageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-coremetadata-getCoremetadataTest

#8009 Update support email addresses
  caninedc.org/portal/gitops.json
  diseasedatahub.org/portal/gitops.json
  flu.diseasedatahub.org/portal/gitops.json
  icgc.bionimbus.org/portal/gitops.json
  microbiome.diseasedatahub.org/portal/gitops.json
  tb.diseasedatahub.org/portal/gitops.json
Labels: test-portal-homepageTest

#8020 Update BRH support email
  brh.data-commons.org/portal/gitops.json
  brhstaging.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#8004 Gen3 Monthly Release 2024.10 bihstaging.data-commons.org 1729028530
  bihstaging.data-commons.org/manifest.json
Labels: test-apis-etlTest, test-portal-exportToWorkspaceTest

#8022 Update support emails from datacommons.io to gen3.org
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
  data.bloodpac.org/portal/gitops.json
  nightly.planx-pla.net/portal/gitops.json
Labels: test-portal-homepageTest

#8025 Update gitops.json - email
  bihstaging.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest

#8043 Move dcf replication back to master for google replication
  nci-crdc.datacommons.io/manifest.json
Labels: test-portal-homepageTest

#8049 Chore: Move back to using branch
  nci-crdc.datacommons.io/manifest.json
Labels: doc-only

#8021 Update support email for MIDRC environments
  data.midrc.org/dashboard/Public/notebooks/Access_Files_for_Specific_Case_IDs.html
  data.midrc.org/dashboard/Public/notebooks/Chest_CT_Images_for_Cohort.html
  data.midrc.org/dashboard/Public/notebooks/MIDRC_Cohort_Building-DLL_RSNA_2023.html
  data.midrc.org/dashboard/Public/notebooks/build_a_cohort_of_severe_covid_19_cases.html
  validatestaging.midrc.org/dashboard/Public/notebooks/Access_Files_for_Specific_Case_IDs.html
  validatestaging.midrc.org/dashboard/Public/notebooks/Chest_CT_Images_for_Cohort.html
  validatestaging.midrc.org/portal/gitops.json
Labels: test-portal-homepageTest

#8024 Update support emails for VPODC and Prometheus
  prometheus.data-commons.org/portal/gitops.json
  vpodc.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest
