Repository uc-cdis/cdis-manifest, pull requests merged in 2024-09, with the labels that each got.

#7805 Update portal to `5.33.0` in `data.midrc.org`
  data.midrc.org/manifest.json
Labels: test-apis-etlTest

#7842 Gen3 Monthly Release 2024.09 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1725394846
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest

#7835 Gen3 Monthly Release 2024.09 gen3.theanvil.io 1725380453
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Labels: test-apis-oidcClientTest

#7837 Update argo version
  va-testing.data-commons.org/manifest.json
Labels: jenkins-new-2

#7855 Adding grafana for midrc and vpodc
  data.midrc.org/manifest.json
  data.midrc.org/portal/gitops.json
  staging.midrc.org/portal/gitops.json
  vpodc.data-commons.org/manifest.json
  vpodc.data-commons.org/portal/gitops.json
Labels: jenkins-new-1

#7841 Gen3 Monthly Release 2024.09 gen3.biodatacatalyst.nhlbi.nih.gov 1725391247
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-pfbExportTest

#7862 Update portal in pandemicresponsecommons
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Labels: test-apis-etlTest

#7860 Add 'index_file' guppy index
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#7868 Gen3 Monthly Release 2024.09 caninedc.org 1725893371
  caninedc.org/manifest.json
Labels: test-portal-pfbExportTest

#7796 Remove banner
  gen3.theanvil.io/portal/gitops.json
Labels: test-portal-loginPageTest

#7893 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: test-portal-homepageTest, test-portal-discoveryPageTest, test-portal-studyRegistrationTest

#7897 cds-515-phs003163-pivot-chop
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-apis-OAuth2Test

#7899 Gen3 Monthly Release 2024.09 validatestaging.midrc.org 1726511489
  validatestaging.midrc.org/manifest.json
Labels: test-portal-exportToWorkspaceTest

#7898 Gen3 Monthly Release 2024.09 nci-crdc-staging.datacommons.io 1726511220
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest

#7915 Remove banner from VA
  va.data-commons.org/portal/gitops.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-portal-exportToWorkspaceTest

#7891 Gen3 Monthly Release 2024.09 data.midrc.org 1726500779
  data.midrc.org/manifest.json
Labels: jenkins-new-1
