Repository uc-cdis/cdis-manifest, pull requests merged in 2024-12, with the labels that each got.

#8157 DCF data replicate back to master
  nci-crdc.datacommons.io/manifest.json
Labels: doc-only

#8155 Update BDC PreProd DD
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#8154 Update BDC Staging DD
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest, skip-k8s-cleanup

#8164 Fix GDC Validation
  nci-crdc.datacommons.io/manifest.json
Labels: doc-only, test-portal-homepageTest

#8182 update notebooks and tutorial ws
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#8202 BIH staging and prod: download button fix
  bihstaging.data-commons.org/manifest.json
  imaging-hub.data-commons.org/manifest.json
Labels: test-portal-homepageTest
