Repository uc-cdis/cdis-manifest, pull requests merged in 2024-02, with the labels that each got.

#7000 VADC Preprod release
  va-testing.data-commons.org/manifest.json
Labels: test-portal-discoveryPageTest

#6999 update brh tutorial ws image
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#7001 add data_file_annotation_name to filters and table
  staging.midrc.org/portal/gitops.json
Labels: test-apis-dataUploadTest, test-portal-indexingPageTest, test-apis-etlTest, test-apis-oidcClientTest, test-portal-exportToWorkspaceTest

#6986 Gen3 Monthly Release 2024.02 staging.midrc.org 1706649793
  staging.midrc.org/manifest.json
Labels: test-apis-dataUploadTest, test-portal-indexingPageTest, test-apis-etlTest, test-portal-dataUploadTest, test-portal-exportToWorkspaceTest

#7007 Gen3 Monthly Release 2024.02 genomel.bionimbus.org 1706812662
  genomel.bionimbus.org/manifest.json
Labels: test-apis-etlTest

#7026 Add data_file_annotation_name to gitops.json and etlMapping in Prod
  data.midrc.org/etlMapping.yaml
  data.midrc.org/portal/gitops.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-apis-drsEndpointsTest, test-apis-dataUploadTest, test-portal-coremetadatapageTest, test-portal-indexingPageTest, test-portal-dataUploadTest, test-apis-presignedUrlTest, test-apis-cleverSafeTest, test-coremetadata-getCoremetadataTest

#7037 new brh ws image
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#7043 Gen3 Monthly Release 2024.02 staging.chordshealth.org 1707186356
  staging.chordshealth.org/manifest.json
Labels: test-apis-etlTest

#6981 Gen3 Monthly Release 2024.02 nci-crdc.datacommons.io 1706540955
  nci-crdc.datacommons.io/manifest.json
Labels: test-sheepdogAndPeregrine-submitAndQueryNodesTest

#7003 Gen3 Monthly Release 2024.02 acct.bionimbus.org 1706801869
  acct.bionimbus.org/manifest.json
Labels: test-apis-etlTest, test-coremetadata-getCoremetadataTest

#7008 Gen3 Monthly Release 2024.02 icgc.bionimbus.org 1706819845
  icgc.bionimbus.org/manifest.json
Labels: test-apis-etlTest

#7048 Bump VADC and VPODC services to 2024.02
  va-perf.data-commons.org/manifest.json
  va-testing.data-commons.org/manifest.json
  va.data-commons.org/manifest.json
  vpodc.data-commons.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-apis-drsEndpointsTest, test-apis-dataUploadTest, test-portal-coremetadatapageTest, test-apis-presignedUrlTest, test-apis-cleverSafeTest, test-apis-oidcClientTest

#6988 Gen3 Monthly Release 2024.02 validatestaging.midrc.org 1706656994
  validatestaging.midrc.org/manifest.json
Labels: test-apis-dataUploadTest, test-portal-indexingPageTest, test-apis-etlTest, test-portal-dataUploadTest, test-apis-oidcClientTest, jenkins-new-1

#6993 Preprod BDC to 2024.02
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest, test-sheepdogAndPeregrine-submitFileTest, test-apis-dataUploadTest, test-portal-indexingPageTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-apis-metadataIngestionTest, test-portal-dataUploadTest, test-apis-oidcClientTest

#6994 Staging to 2024.02
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-etlTest

#6995 Anvil update to 2024.02
  .secrets.baseline
  gen3.theanvil.io/manifest.json
Labels: test-google-googleDataAccessTest, test-apis-dataUploadTest, test-apis-OAuth2Test, test-apis-etlTest, test-apis-metadataIngestionTest, test-portal-dataUploadTest

#7060 MIDRC validate stg Tube 1.0.1
  validatestaging.midrc.org/manifest.json
Labels: test-apis-etlTest

#7059 feat(brh-karpenter-template): Added templates for karpenter in BRH
  brh.data-commons.org/manifests/karpenter/awsnodetemplate.yaml
  brh.data-commons.org/manifests/karpenter/provisioner.yaml
  chicagoland.pandemicresponsecommons.org/manifests/karpenter/awsnodetemplate.yaml
  chicagoland.pandemicresponsecommons.org/manifests/karpenter/provisioner.yaml
  data.bloodpac.org/manifests/karpenter/awsnodetemplate.yaml
  data.bloodpac.org/manifests/karpenter/provisioner.yaml
  data.kidsfirstdrc.org/manifests/karpenter/awsnodetemplate.yaml
  data.kidsfirstdrc.org/manifests/karpenter/provisioner.yaml
  dataguids.org/manifests/karpenter/awsnodetemplate.yaml
  dataguids.org/manifests/karpenter/provisioner.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/karpenter/awsnodetemplate.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/karpenter/provisioner.yaml
  gen3.theanvil.io/manifests/karpenter/awsnodetemplate.yaml
  gen3.theanvil.io/manifests/karpenter/provisioner.yaml
  gen3qa.kidsfirstdrc.org/manifests/karpenter/awsnodetemplate.yaml
  gen3qa.kidsfirstdrc.org/manifests/karpenter/provisioner.yaml
  gen3staging.kidsfirstdrc.org/manifests/karpenter/awsnodetemplate.yaml
  gen3staging.kidsfirstdrc.org/manifests/karpenter/provisioner.yaml
  healdata.org/manifests/karpenter/awsnodetemplate.yaml
  healdata.org/manifests/karpenter/provisioner.yaml
  jcoin.datacommons.io/manifests/karpenter/awsnodetemplate.yaml
  jcoin.datacommons.io/manifests/karpenter/provisioner.yaml
  nci-crdc-staging.datacommons.io/manifests/karpenter/awsnodetemplate.yaml
  nci-crdc-staging.datacommons.io/manifests/karpenter/provisioner.yaml
  nci-crdc.datacommons.io/manifests/karpenter/awsnodetemplate.yaml
  nci-crdc.datacommons.io/manifests/karpenter/provisioner.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/karpenter/awsnodetemplate.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/karpenter/provisioner.yaml
  va-perf.data-commons.org/manifests/karpenter/awsnodetemplate.yaml
  va-perf.data-commons.org/manifests/karpenter/provisioner.yaml
  vpodc.data-commons.org/manifests/karpenter/awsnodetemplate.yaml
  vpodc.data-commons.org/manifests/karpenter/provisioner.yaml
Labels: test-portal-dataguidOrgTest

#6987 Gen3 Monthly Release 2024.02 validate.midrc.org 1706653391
  validate.midrc.org/manifest.json
Labels: skip-k8s-cleanup, test-portal-exportToWorkspaceTest, jenkins-new-1

#7063 PRC deploy restricted-download jupyter workspace
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/jupyter-covid19.yaml
Labels: test-portal-homepageTest

#6992 Chore/update bdc prod
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-homepageTest

#7067 HP-1363 update env
  .secrets.baseline
  preprod.healdata.org/manifest.json
  preprod.healdata.org/metadata/aggregate_config.json
  preprod.healdata.org/portal/gitops.json
Labels: test-apis-auditServiceTest, test-apis-clientCredGrantTest

#7068 Chore/niaid apply 2024 pt1
  accessclinicaldata.niaid.nih.gov/etlMapping.yaml
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest, test-apis-etlTest

#7016 Gen3 Monthly Release 2024.02 accessclinicaldata.niaid.nih.gov 1706852244
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest, test-portal-studyViewerTest

#7017 Gen3 Monthly Release 2024.02 chicagoland.pandemicresponsecommons.org 1706855844
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest

#7083 Gen3 Monthly Release 2024.02 gen3staging.kidsfirstdrc.org 1708117938
  gen3staging.kidsfirstdrc.org/manifest.json
Labels: test-portal-coremetadatapageTest, test-coremetadata-getCoremetadataTest

#7091 Dataguids syntax error
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#7093 Apply sorting to NIAID prod
  accessclinicaldata.niaid.nih.gov/manifest.json
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
Labels: test-portal-homepageTest, test-apis-etlTest

#7084 Gen3 Monthly Release 2024.02 data.kidsfirstdrc.org 1708118014
  data.kidsfirstdrc.org/manifest.json
Labels: test-apis-auditServiceTest

#7097 update brh tutroial ws image
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-apis-aggMDSTest

#7015 Gen3 Monthly Release 2024.02 jcoin.datacommons.io 1706848654
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest, skip-k8s-cleanup, jenkins-new-4

#7019 Gen3 Monthly Release 2024.02 gen3.datacommons.io 1706863041
  gen3.datacommons.io/manifest.json
Labels: test-portal-pfbExportTest, jenkins-new-1

#7085 2024.02 internalstaging anvil 2024.02 internalstaging.theanvil.io 1708118592
  internalstaging.theanvil.io/manifest.json
Labels: test-portal-pfbExportTest

#7111 BRH staging: use new dynamodb table
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#7108 VADC-912: Updated buckets' names
  healdata.org/manifests/argo/argo.json
  preprod.healdata.org/manifests/argo/argo.json
  va-perf.data-commons.org/manifests/argo/argo.json
  va-testing.data-commons.org/manifests/argo/argo.json
  va.data-commons.org/manifests/argo/argo.json
Labels: test-portal-studyRegistrationTest
