Repository uc-cdis/cdis-manifest, pull requests merged in 2024-01, with the labels that each got.

#6908 Add s3 buckets
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-dataUploadTest, test-apis-auditServiceTest

#6907 Add static notebook
  healdata.org/dashboard/Public/notebooks/Monitoring_The_Future_Part2.html
  healdata.org/dashboard/Public/notebooks/Monitoring_The_Future_Part2.png
  healdata.org/portal/gitops.json
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-discoveryPageTest

#6921 MIDRC-550 Staging MIDRC portal to 5.19.0
  staging.midrc.org/manifest.json
Labels: test-apis-etlTest

#6930 JCOIN IBD NCT PRC MIDRC - GA data stream ID
  accessclinicaldata.niaid.nih.gov/portal/gitops.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
  data.midrc.org/portal/gitops.json
  ibdgc.datacommons.io/portal/gitops.json
  jcoin.datacommons.io/portal/gitops.json
Labels: test-portal-homepageTest

#6876 Updating Vadcprod to release 2023.12 in preparation for ES7 changes.
  vpodc.data-commons.org/manifest.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-portal-dataUploadTest, test-portal-exportToWorkspaceTest

#6927 updating portal to the latest version in covid19
  chicagoland.pandemicresponsecommons.org/manifest.json
Labels: test-portal-homepageTest

#6858 Gen3 Monthly Release 2023.12 nci-crdc.datacommons.io 1702314900
  nci-crdc.datacommons.io/manifest.json
Labels: test-google-googleDataAccessTest, test-portal-dataUploadTest

#6943 MIDRC-1.2.7: Updating MIDRC staging to include the changes from 1.2.7.
  staging.midrc.org/manifest.json
Labels: test-apis-dataUploadTest, test-apis-etlTest

#6851 Updating covid19prod to release 2023.12 in preparation for ES7 changes.
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: test-apis-etlTest, skip-k8s-cleanup, jenkins-new-1

#6960 Update GDC_project_map.json
  nci-crdc.datacommons.io/manifests/datarefresh/GDC_project_map.json
Labels: doc-only

#6964 Update fence-config-public.yaml release 25
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Labels: test-apis-dataUploadTest, test-apis-dbgapTest, test-portal-dataUploadTest

#6965 Add CDS bucket
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-portal-dataUploadTest

#6980 Gen3 Monthly Release 2024.02 nci-crdc-staging.datacommons.io 1706537362
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-presignedUrlTest, test-apis-userTokenTest, test-apis-oidcClientTest

#6983 fix midrc etl with tube 1.0.1
  data.midrc.org/manifest.json
  staging.midrc.org/manifest.json
  validate.midrc.org/manifest.json
  validatestaging.midrc.org/manifest.json
Labels: test-apis-etlTest
