Repository uc-cdis/cdis-manifest, pull requests merged in 2025-03, with the labels that each got.

#8395 doc(qa) adding release notes for 2025.03
  releases/2025/03/gen3-release-notes.md
  releases/2025/03/manifest.json
Labels: doc-only

#8456 add properties to etlmapping
  bihstaging.data-commons.org/etlMapping.yaml
Labels: test-portal-exportToWorkspaceTest

#8465 Update fence-config-public.yaml with new CDS Buckets
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Labels: test-google-googleDataAccessTest

#8479 Update BDC DD
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#8487 Update PreProd BDC manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#8505 Update data library, aws-es-proxy
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#8497 Gen3 Monthly Release 2025.03 bihstaging.data-commons.org 1742323474
  bihstaging.data-commons.org/manifest.json
Labels: test-guppy-guppyTest

#8492 Gen3 Monthly Release 2025.03 staging.midrc.org 1742309468
  staging.midrc.org/manifest.json
Labels: jenkins-new-1

#8428 Adding data library to BDC Preprod
  .secrets.baseline
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#8513 Add data library to gitops
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-pfbExportTest

#8521 Update OHIF Viewer to `gen3-v3.9.3` in MIDRC Staging
  staging.midrc.org/manifest.json
Labels: test-portal-exportToWorkspaceTest, jenkins-new-1

#8522 Add exportToWorkspace false
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-pfbExportTest

#8329 Update OHIF Viewer in MIDRC Prod to `gen3-v3.9.3`
  data.midrc.org/manifest.json
Labels: jenkins-new-1

#8529 MIDRC-959 Add footer to MIDRC prod
  data.midrc.org/portal/gitops.json
Labels: jenkins-new-1

#8531 add 'index_file' index to etlMapping
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Labels: test-portal-pfbExportTest

#8427 Add data-library, remove unused services
  .secrets.baseline
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-pfbExportTest
