Repository uc-cdis/cdis-manifest, pull requests merged in 2025-06, with the labels that each got.

#8704 2025.05 + Fence 11.2.2 data.midrc.org
  data.midrc.org/manifest.json
Labels: TestGraphSubmitAndQuery

#8692 Gen3 Monthly Release 2025.05 brhstaging.data-commons.org 1746824091
  brhstaging.data-commons.org/manifest.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: TestRasAuthN, TestDiscoveryPage, TestAggregateMDS, TestCentralizedAuth

#8678 Gen3 Monthly Release 2025.05 nci-crdc.datacommons.io 1746719913
  .github/workflows/integration_tests.yaml
  nci-crdc.datacommons.io/manifest.json
Labels: TestAuditService

#7884 feat(prefixes): remove AnVIL
  dataguids.org/manifest.json
Labels: test-portal-dataguidOrgTest

#8765 updating data model and fef config
  imaging-hub.data-commons.org/manifest.json
Labels: TestETL

#8752 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: TestDiscoveryPage

#8753 Update manifest.json
  healdata.org/manifest.json
Labels: TestAuditService, TestGraphSubmitAndQuery

#8757 Gen3 Monthly Release 2025.06 jcoin.datacommons.io 1749076598
  jcoin.datacommons.io/manifest.json
  jcoin.datacommons.io/manifests/hatchery/hatchery.json
Labels: TestAuditService, TestETL

#8779 Gen3 Monthly Release 2025.06 staging.midrc.org 1750181688
  staging.midrc.org/manifest.json
Labels: TestRegisterUser

#8780 Gen3 Monthly Release 2025.06 validate.midrc.org 1750185235
  validate.midrc.org/manifest.json
Labels: TestRegisterUser
