Repository uc-cdis/cdis-manifest, pull requests merged in 2025-02, with the labels that each got.

#8335 update MIDRC Staging to OhifViewer 3.8.0-AL2
  staging.midrc.org/manifest.json
Labels: test-apis-etlTest

#8257 Gen3 Monthly Release 2025.01 gen3.biodatacatalyst.nhlbi.nih.gov 1736882899
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest

#8336 Update OHIF Viewer in MIDRC Prod to gen3-v3.8.0-AL2
  data.midrc.org/manifest.json
Labels: test-apis-etlTest

#8348 BIH staging sheepdog 5.2.0
  bihstaging.data-commons.org/manifest.json
Labels: test-apis-etlTest

#8350 MIDRC-val staging sheepdog 5.2.0
  validatestaging.midrc.org/manifest.json
Labels: test-apis-etlTest

#8347 MIDRC prod sheepdog 5.2.0
  data.midrc.org/manifest.json
Labels: test-portal-exportToWorkspaceTest

#8339 Chore/brh ws update
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#8367 Chore/brh ws update
  .secrets.baseline
  brh.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-coremetadatapageTest, test-apis-requestorTest

#8376 Update docs links from legacy to new docs at docs.gen3.org
  brh.data-commons.org/portal/gitops.json
  diseasedatahub.org/portal/gitops.json
  elwazi-demo.planx-pla.net/portal/gitops.json
  healdata.org/portal/gitops.json
  vpodc.data-commons.org/portal/gitops.json
Labels: doc-only

#8373 Add Single Table Indexd Config
  nci-crdc-staging.datacommons.io/manifest.json
Labels: test-apis-dbgapTest

#8391 Update VADC email to vadc-support@gen3.org
  va-testing.data-commons.org/dashboard/Public/documentation/_sources/index.rst.txt
  va-testing.data-commons.org/portal/gitops.json
  va.data-commons.org/dashboard/Public/documentation/_sources/index.rst.txt
  va.data-commons.org/portal/gitops.json
Labels: doc-only

#8397 Change Frontend-Framework to chore_update_0.10.80
  bihstaging.data-commons.org/manifest.json
Labels: test-apis-etlTest

#8381 Update DD to 4.6.3 in manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest, skip-k8s-cleanup

#8387 Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest, test-portal-pfbExportTest

#8386 Fence 11.0.2
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-google-googleDataAccessTest, test-portal-pfbExportTest

#8400 Update BIH staging to 1.1.4
  bihstaging.data-commons.org/manifest.json
Labels: test-portal-exportToWorkspaceTest

#8401 Update BIH prod with fefw_1.1.4
  imaging-hub.data-commons.org/manifest.json
Labels: test-apis-etlTest

#8402 Patch IndexD in DCF to add Indeces
  nci-crdc-staging.datacommons.io/manifest.json
  nci-crdc.datacommons.io/manifest.json
Labels: skip-k8s-cleanup

#8241 Gen3 Monthly Release 2025.01 preprod.healdata.org 1736440351
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest, test-portal-studyRegistrationTest

#8392 remove static notebook
  brhstaging.data-commons.org/portal/gitops.json
  preprod.healdata.org/portal/gitops.json
Labels: test-portal-homepageTest

#8332 MIDRCv1.3.8: Updating Properties with HIPAA Notification
  staging.midrc.org/manifest.json
Labels: test-portal-dataUploadTest, test-portal-exportToWorkspaceTest

#8426 Change BIH staging to `test_sheepdog_load_testing`
  bihstaging.data-commons.org/manifest.json
Labels: test-sheepdogAndPeregrine-submitFileTest, test-apis-auditServiceTest

#8424 Update manifest.json
  healdata.org/manifest.json
Labels: test-portal-discoveryPageTest, test-portal-studyRegistrationTest

#8432 updated bihstaging dd to v0.1.2
  bihstaging.data-commons.org/manifest.json
Labels: test-portal-homepageTest
