Repository uc-cdis/cdis-manifest, pull requests merged in 2025-01, with the labels that each got.

#8196 doc(qa) adding release notes for 2025.01
  releases/2025/01/gen3-release-notes.md
  releases/2025/01/manifest.json
Labels: doc-only

#8231 Add data-library, remove extra services
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Labels: test-portal-pfbExportTest

#8258 Gen3 Monthly Release BDC Preprod 2025.01 preprod.gen3.biodatacatalyst.nhlbi.nih.gov 1736883397
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-pfbExportTest

#8259 Gen3 Monthly Release BDC Staging 2025.01 staging.gen3.biodatacatalyst.nhlbi.nih.gov 1736883622
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest, test-portal-coremetadatapageTest, test-apis-OAuth2Test, test-portal-indexingPageTest, test-portal-dataUploadTest, test-apis-auditServiceTest, test-portal-pfbExportTest

#8305 Update/heal tutorial ws
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-discoveryPageTest

#8298 Update manifest.json to latest BDC DD
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#8300 Adding fence 11.0.1
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-apis-etlTest

#8309 Update BDC Prod to Fence 11.0.1
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest

#8324 Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Labels: test-portal-pfbExportTest
