Repository uc-cdis/cdis-manifest, pull requests merged in 2025-07, with the labels that each got.

#8778 Gen3 Monthly Release 2025.06 data.midrc.org 1750178096
  data.midrc.org/manifest.json
Labels: TestAuditService, TestRasAuthN, TestRegisterUser

#8746 Gen3 Monthly Release 2025.06 data.kidsfirstdrc.org 1748991594
  data.kidsfirstdrc.org/manifest.json
Labels: TestRasAuthN, TestRegisterUser

#8809 Gen3 Monthly Release 2025.07 icgc.bionimbus.org 1752091954
  icgc.bionimbus.org/manifest.json
Labels: TestHomePage

#8811 Gen3 Monthly Release 2025.07 chicagoland.pandemicresponsecommons.org 1752102754
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Labels: TestDataUpload, TestDbgap, TestUserToken

#8819 Update Jquery version to address security concern
  brh.data-commons.org/dashboard/Public/notebooks/JCOIN_MOUD_accessibility_jupyter_notebook_BRH.html
Labels: TestHomePage
