Repository uc-cdis/cdis-manifest, pull requests merged in 2025-04, with the labels that each got.

#8539 updating generic heal ws to add heal-sdk
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-exportToWorkspaceTest

#8523 Update BRH tutorial ws image
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-portal-homepageTest

#8538 Update sheepdog to 5.2.1 in BIH Staging
  bihstaging.data-commons.org/manifest.json
Labels: test-apis-cleverSafeTest

#8467 Gen3 Monthly Release 2025.03 nci-crdc.datacommons.io 1741615334
  nci-crdc.datacommons.io/manifest.json
Labels: test-apis-cleverSafeTest

#8543 update brh prod&staging tutorial ws
  brh.data-commons.org/manifests/hatchery/hatchery.json
  brhstaging.data-commons.org/manifests/hatchery/hatchery.json
Labels: test-apis-clientCredGrantTest

#8503 doc(qa) adding release notes for 2025.04
  releases/2025/04/gen3-release-notes.md
  releases/2025/04/manifest.json
Labels: doc-only

#8548 Update portal to 5.37.2 in staging.midrc.org
  staging.midrc.org/manifest.json
Labels: test-apis-etlTest, test-portal-dataUploadTest, jenkins-new-4, test-portal-exportToWorkspaceTest

#8549 Update portal to `5.37.2` in `data.midrc.org`
  data.midrc.org/manifest.json
Labels: jenkins-new-4, test-portal-exportToWorkspaceTest

#8459 Gen3 Monthly Release 2025.03 preprod.healdata.org 1741387180
  preprod.healdata.org/manifest.json
  preprod.healdata.org/manifests/hatchery/hatchery.json
Labels: test-portal-dataUploadTest

#8556 Gen3 Monthly Release 2025.04 nci-crdc-staging.datacommons.io 1744209559
  nci-crdc-staging.datacommons.io/manifest.json
Labels: TestDataUpload

#8568 adding new release of MIDRC dd to staging
  staging.midrc.org/manifest.json
Labels: TestDicomViewer

#8590 Gen3 Monthly Release 2025.04 validatestaging.midrc.org 1744740851
  validatestaging.midrc.org/manifest.json
Labels: TestDataUpload

#8458 Gen3 Monthly Release 2025.03 healdata.org 1741383592
  healdata.org/manifest.json
  healdata.org/manifests/hatchery/hatchery.json
Labels: TestDataUpload

#8592 Hide google login for DCF staging
  nci-crdc-staging.datacommons.io/portal/gitops.css
Labels: jenkins-new-1, TestHomePage

#8551 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: TestAuditService

#8589 Gen3 Monthly Release 2025.04 validate.midrc.org 1744737246
  validate.midrc.org/manifest.json
Labels: TestDataUpload, TestWorkspacePage

#8586 Gen3 Monthly Release 2025.04 data.midrc.org 1744730112
  data.midrc.org/manifest.json
Labels: TestCentralizedAuth

#8619 (PROM-243): Identify studies field as an object type
  prometheus.data-commons.org/metadata/aggregate_config.json
Labels: TestDiscoveryPage, TestAggregateMDS

#8602 doc(qa) adding release notes for 2025.05
  releases/2025/05/gen3-release-notes.md
  releases/2025/05/manifest.json
Labels: doc-only, release-notes

#8645 Update manifest.json
  preprod.healdata.org/manifest.json
Labels: TestAuditService, TestGraphSubmitAndQuery
