Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa

Update gitops.json
  data.braincommons.org/portal/gitops.json
Owners: none

copying manifests/hatchery/hatchery.json to gen3.theanvil.io
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

copying manifest.json to gen3.theanvil.io
  gen3.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.theanvil.io
  gen3.theanvil.io/etlMapping.yaml
Owners: none

copying portal/gitops.json to gen3.theanvil.io
  gen3.theanvil.io/portal/gitops.json
Owners: none

Dictionary 2.4.0 (aka 2.3.2) (#1809)
  data.braincommons.org/etlMapping.yaml
  data.braincommons.org/manifest.json
  data.braincommons.org/portal/gitops.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

Remove visits part 2
  gen3testing.braincommons.org/etlMapping.yaml
Owners: none

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Updated ETL mapping for CHI-NBHD dataset
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

feat: portal config for idph hospital
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Update manifest.json (#1813)
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update etlMapping.yaml
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

Update chicagoland.pandemicresponsecommons.org/portal/gitops.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

COV-272 feat: portal config for idph hospital (#1815)
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Updated ETL mapping for CHI-NBHD dataset (#1814)
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

Update portal config for CHI-NBHD dataset
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

chore(indexd-arborist): Added arborist indexd block for internalanvil
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update portal config for CHI-NBHD dataset (#1817)
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

COVID19 genomic_data_file update (DD + ETL mapping) (#1816)
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

chore(indexd-arborist): Added arborist indexd block for internalanvil (#1818)
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

adding rstudio jhu map image (#1808)
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Owners: none

feat: etl mapping for coxray
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

feat: update portal config for coxray
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

minor fix to set expected index config (as per alias generated by etl)
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update gitops.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

reverting config_index change
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

feat: ras login in crdc staging
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

feat: etl mapping for coxray (#1819)
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

COVID19 genomic_data_file update (Guppy indices + portal) (#1820)
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

feat: update portal config for coxray (#1821)
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

BDCAT RELEASE 1594132572 (#1810)
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: @ac3eb, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update manifest.json (#1823)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Remove visits part 2 (#1812)
  gen3testing.braincommons.org/etlMapping.yaml
Owners: none

Update manifest.json
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

Update manifest.json (#1824)
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

Update gitops.json
  internalstaging.theanvil.io/portal/gitops.json
Owners: none

Update gitops.json
  internalstaging.theanvil.io/portal/gitops.json
Owners: none
