Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

Update gitops.json
  internalstaging.theanvil.io/portal/gitops.json
Owners: none

adding experimental ras-oidc-handshake img
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

chore(qa): Fix hatchery config for TheAnvil (#1785)
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Updating BC dictionary to version 2.4.0
  dataprep.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

apply version 2020.07 to preprod.gen3.biodatacatalyst.nhlbi.nih.gov
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

upgrading hatchery
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

apply version 2020.07 to tbi.datacommons.io (#1770)
  tbi.datacommons.io/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

Update manifest.json
  ibdgc.datacommons.io/manifest.json
Owners: @gkuffel, @uc-cdis/planx-qa

fix data-ingestion-pipeline version
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

fix fence label to deploy ras
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

chore(qa): Upgrade sower-jobs for bdcat preprod
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

fix(anvil-peregrine-timeout): Extended the peregrine timeout to allow charts to work on homepage
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

chore(qa): Upgrade sower-jobs for bdcat preprod (#1799)
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying manifests/hatchery/hatchery.json to gen3.theanvil.io
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

copying manifest.json to gen3.theanvil.io
  gen3.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.theanvil.io
  gen3.theanvil.io/etlMapping.yaml
Owners: none

release recent versions to kf prod
  data.kidsfirstdrc.org/manifest.json
Owners: none

updating pelican-export version
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.theanvil.io
  gen3.theanvil.io/etlMapping.yaml
Owners: none

copying portal/gitops.json to gen3.theanvil.io
  gen3.theanvil.io/portal/gitops.json
Owners: none

copying manifests/hatchery/hatchery.json to gen3.theanvil.io
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

copying manifest.json to gen3.theanvil.io
  gen3.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

fix(anvil-peregrine-timeout): Extended the peregrine timeout to allow charts to work on homepage (#1800)
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

feat: new dictionary with temperature for follow_up
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

pullback to 2020.07
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

adding rstudio jhu map image
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Owners: none

Dictionary 2.4.0 (aka 2.3.2)
  data.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

copying manifests/fence/fence-config-public.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Owners: none

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying portal/gitops.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

Update etlMapping.yaml
  data.braincommons.org/etlMapping.yaml
Owners: none

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa
