Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa

setting ECR img paths
  caninedc.org/manifest.json
Owners: @trevars, @uc-cdis/planx-qa

setting ecr path for other images
  caninedc.org/manifest.json
Owners: @trevars, @uc-cdis/planx-qa

apply version 2020.08 to dataprep.braincommons.org
  dataprep.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

feat(internal-icgc): Added internal icgc
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/createdby.png
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/error.svg
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/gen3.png
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/header-logo.png
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/index.css
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/index.html
  internal-icgc.bionimbus.org/etlMapping.yaml
  internal-icgc.bionimbus.org/gitops-logo.png
  internal-icgc.bionimbus.org/manifest.json
  internal-icgc.bionimbus.org/portal/gitops-sponsors/ICGC.png
  internal-icgc.bionimbus.org/portal/gitops.json
Owners: none

feat(internal-icgc): Added internal icgc
  internal-icgc.bionimbus.org/manifest.json
Owners: none

feat(internal-icgc): Added internal icgc
  internal-icgc.bionimbus.org/manifest.json
Owners: none

fix(fence-icgc): added updated fence to new version to fix usersync issues
  icgc.bionimbus.org/manifest.json
Owners: none

apply version 2020.08 to gen3.datacommons.io
  gen3.datacommons.io/manifest.json
Owners: @cgmeyer, @uc-cdis/planx-qa

apply version 2020.08 to gen3testing.braincommons.org
  gen3testing.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

apply version 2020.08 to genomel.bionimbus.org
  genomel.bionimbus.org/manifest.json
Owners: @trevars, @uc-cdis/planx-qa

adding gen3_release_notes.md as part of the release artifacts
  releases/2020/08/gen3_release_notes.md
Owners: none

adding manifest.json as part of the release artifacts
  releases/2020/08/manifest.json
Owners: none

apply version 2020.08 to ibdgc.datacommons.io
  ibdgc.datacommons.io/manifest.json
Owners: @gkuffel, @uc-cdis/planx-qa

adding gen3_release_notes.md as part of the release artifacts
  releases/2020/08/gen3_release_notes.md
Owners: none

adding manifest.json as part of the release artifacts
  releases/2020/08/manifest.json
Owners: none

adding gen3_release_notes.md as part of the release artifacts
  releases/2020/08/gen3_release_notes.md
Owners: none

adding manifest.json as part of the release artifacts
  releases/2020/08/manifest.json
Owners: none

apply version 2020.08 to internalstaging.theanvil.io
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

apply version 2020.08 to internalstaging.theanvil.io
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

apply version 2020.08 to nci-crdc-staging.datacommons.io
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

apply version 2020.08 to staging.braincommons.org
  staging.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

apply version 2020.08 to tbi.datacommons.io
  tbi.datacommons.io/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

apply version 2020.08 to jcoin.datacommons.io
  jcoin.datacommons.io/manifest.json
Owners: @gkuffel, @uc-cdis/planx-qa

apply version 2020.08 to portal.occ-data.org
  portal.occ-data.org/manifest.json
Owners: @leasalvatore, @uc-cdis/planx-qa

chore(bloodpac): add ssjdispatcher block
  data.bloodpac.org/manifest.json
Owners: @fantix, @uc-cdis/planx-qa

Fix: Ras scope rollback on crdc-staging
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

Revert "Feat: Add scopes to ras access_token and userinfo in crdc staging"
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

Revert "Feat: Add scopes to ras access_token and userinfo in crdc staging" (#1885)
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

Feat/internal icgc (#1868)
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/createdby.png
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/error.svg
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/gen3.png
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/img/header-logo.png
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/index.css
  internal-icgc.bionimbus.org/dashboard/Public/maintenance-page/index.html
  internal-icgc.bionimbus.org/etlMapping.yaml
  internal-icgc.bionimbus.org/gitops-logo.png
  internal-icgc.bionimbus.org/manifest.json
  internal-icgc.bionimbus.org/portal/gitops-sponsors/ICGC.png
  internal-icgc.bionimbus.org/portal/gitops.json
Owners: none

copying manifest.json to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

copying manifests/fence/fence-config-public.yaml to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

copying portal/gitops.json to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/portal/gitops.json
Owners: none

copying manifest.json to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

copying manifests/fence/fence-config-public.yaml to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

copying portal/gitops.json to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/portal/gitops.json
Owners: none

setting fence 2020.07
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

restore original set of fence buckets
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

duplicate cred in fence config
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

fix(fence-icgc): added updated fence to new version to fix usersync issues (#1869)
  icgc.bionimbus.org/manifest.json
Owners: none

release recent versions to kf prod (#1803)
  data.kidsfirstdrc.org/manifest.json
Owners: none
