Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @trevars, @leasalvatore, @dgrantkeane, @GARUPP-zz, @gkuffel, @paulineribeyre, @ADParedes, @cgmeyer

remove change from random environment
  cvbcommons.org/manifest.json
Owners: none

remove file link
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Owners: none

remove file link (#1536)
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Owners: none

apply version 2020.05 to caninedc.org
  caninedc.org/manifest.json
Owners: @trevars, @leasalvatore

apply version 2020.05 to caninedc.org
  caninedc.org/manifest.json
Owners: @trevars, @leasalvatore

fix: wording
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
  gen3testing.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
  staging.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Owners: none

fix: wording (#1539)
  data.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
  gen3testing.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
  staging.braincommons.org/dashboard/Public/publication-page/cytokineplatformcomparison/index.html
Owners: none

Revert "Gen3 Monthly Release 2020.05 dataprep.braincommons.org 1589211123"
  dataprep.braincommons.org/manifest.json
Owners: @dgrantkeane

fix(terra-pfb): getting js error, works in preprod, updating config here to match preprod
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

Update manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: none

fix(terra-pfb): getting js error, works in preprod, updating config here to match preprod (#1541)
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

fix
  ibdgc.datacommons.io/manifest.json
Owners: @gkuffel, @paulineribeyre

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

CODEOWNERS:

acct.bionimbus.org/manifest.json @trevars @leasalvatore
caninedc.org/manifest.json @trevars @leasalvatore
data.bloodpac.org/manifest.json @trevars @leasalvatore

data.braincommons.org/manifest.json @dgrantkeane
dataprep.braincommons.org/manifest.json @dgrantkeane
staging.braincommons.org/manifest.json @dgrantkeane
gen3testing.braincommons.org/manifest.json @dgrantkeane

gen3.theanvil.io/manifest.json @GARUPP-zz
staging.theanvil.io/manifest.json @GARUPP-zz
internalstaging.theanvil.io/manifest.json @GARUPP-zz

tbi.datacommons.io/manifest.json @dgrantkeane

ibdgc.datacommons.io/manifest.json @gkuffel @paulineribeyre
jcoin.datacommons.io/manifest.json @gkuffel @paulineribeyre

nci-crdc-staging.datacommons.io/manifest.json @ADParedes
nci-crdc.datacommons.io/manifest.json @ADParedes

gen3.datacommons.io/manifest.json @cgmeyer
