Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa

chore(data-bucket): added databucket to fence-config for dcfprod
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying portal/gitops.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying manifests/fence/fence-config-public.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

feat(igv): add igv app (#1776)
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/gen3-igv.yaml
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Owners: none

chore(data-bucket): added databucket to fence-config for dcfprod
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

chore(data-bucket): added databucket to fence-config for dcfprod (#1777)
  nci-crdc.datacommons.io/manifest.json
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: @ADParedes, @uc-cdis/planx-qa

chore/updated etl to match qa-covid
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

chore:adding release notes for release 2020.07
  releases/2020/07/gen3_release_notes.md
  releases/2020/07/knownbugs.md
  releases/2020/07/manifest.json
Owners: none

fixed format of path to match QA
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

bump dd to 2.1.9
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.theanvil.io
  gen3.theanvil.io/etlMapping.yaml
Owners: none

copying manifests/hatchery/hatchery.json to gen3.theanvil.io
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

copying manifest.json to gen3.theanvil.io
  gen3.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json (#1781)
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

chore(qa): Homogenize bdcat preprod and prod
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: @ac3eb, @uc-cdis/planx-qa

chore(qa): Fix hatchery config for TheAnvil
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

fix user-namespace for theanvil prod
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

feat(bdcat-portal-update): Updated portal for bdcat staging for export to sbg testing
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

chore(qa): Homogenize bdcat preprod and prod (#1784)
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: @ac3eb, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

update etl to match qa-covid (#1786)
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

Update etlMapping.yaml
  internalstaging.theanvil.io/etlMapping.yaml
Owners: none

chore:updating services to 2020.07 version
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Owners: none

Update gitops.json
  internalstaging.theanvil.io/portal/gitops.json
Owners: none

feat(bdcat-portal-update): Updated portal for bdcat staging for export to sbg testing (#1787)
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

updating sower job images
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

apply version 2020.07 to internalstaging.theanvil.io
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

fix sowerjobs versions
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

set proper sower jobs versions
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

set correct hatchery version
  internalstaging.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update etlMapping.yaml
  internalstaging.theanvil.io/etlMapping.yaml
Owners: none
