Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa

adding notebook browser to ibdgc (#1841)
  ibdgc.datacommons.io/portal/gitops.json
Owners: none

add demo nb
  chicagoland.pandemicresponsecommons.org/dashboard/Public/notebooks/TCGA_OV_COVID.png
  chicagoland.pandemicresponsecommons.org/dashboard/Public/notebooks/symptoms_and_fatality_covid19.png
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

COVID19 Demo NB (#1844)
  chicagoland.pandemicresponsecommons.org/dashboard/Public/notebooks/TCGA_OV_COVID.png
  chicagoland.pandemicresponsecommons.org/dashboard/Public/notebooks/symptoms_and_fatality_covid19.png
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Add and remove props from covid-19 faceted search (#1843)
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

feat(auspice): add auspice
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update explorer table and organize faceted search in covid-19
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update explorer table and organize faceted search in covid-19 (#1846)
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

TheAnvil Staging update 1594742329 (#1837)
  staging.theanvil.io/etlMapping.yaml
  staging.theanvil.io/manifest.json
  staging.theanvil.io/manifests/hatchery/hatchery.json
  staging.theanvil.io/portal/gitops.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

COVID19 notebooks to jupyter-covid1.1.3
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Owners: none

chore(anvil): Udpate fence on staging theAnvil
  staging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

copying etlMapping.yaml to staging.gen3.biodatacatalyst.nhlbi.nih.gov
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying manifest.json to staging.gen3.biodatacatalyst.nhlbi.nih.gov
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying manifests/hatchery/hatchery.json to staging.gen3.biodatacatalyst.nhlbi.nih.gov
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying portal/gitops-favicon.ico to staging.gen3.biodatacatalyst.nhlbi.nih.gov
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops-favicon.ico
Owners: none

copying portal/gitops.css to staging.gen3.biodatacatalyst.nhlbi.nih.gov
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.css
Owners: none

copying portal/gitops.json to staging.gen3.biodatacatalyst.nhlbi.nih.gov
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

tweak a few params
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: @ac3eb, @uc-cdis/planx-qa

keep seven bridges config
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

BDCAT STAGING UPDATE 1594947014 (#1850)
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops-favicon.ico
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: @ac3eb, @uc-cdis/planx-qa

chore(anvil): Udpate fence on staging theAnvil (#1849)
  staging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

(fix) crdc/ras username prioritize to UserID
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

copying manifest.json to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

fix sower jobs service accounts
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

chore(qa): Remove unnecessary buttons from naavigation bar
  nci-crdc-staging.datacommons.io/portal/gitops.json
Owners: none

updating the parameter
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

chore(anvil): lower hatchery resources
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

chore(qa): Remove unnecessary buttons from DCF Staging's navigation bar (#1854)
  nci-crdc-staging.datacommons.io/manifest.json
  nci-crdc-staging.datacommons.io/portal/gitops.json
Owners: @ADParedes, @uc-cdis/planx-qa

removed generic data commons
  nci-crdc-staging.datacommons.io/portal/gitops.json
Owners: none

chore(precommit): add git hooks
  .pre-commit-config.yaml
  .secrets.baseline
  chicagoland.pandemicresponsecommons.org/dashboard/Public/notebooks/extended-seir.html
Owners: none

bump nb-etl version
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

match QA: covid19-etl:3.3.2
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

updated BloodPAC data dictionary to v0.7.0
  data.bloodpac.org/manifest.json
Owners: @fantix, @uc-cdis/planx-qa

Feat: Add scopes to ras access_token and userinfo
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

apply version 2020.08 to caninedc.org
  caninedc.org/manifest.json
Owners: @trevars, @uc-cdis/planx-qa

apply version 2020.08 to acct.bionimbus.org
  acct.bionimbus.org/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

apply version 2020.08 to data.bloodpac.org
  data.bloodpac.org/manifest.json
Owners: @fantix, @uc-cdis/planx-qa

updated docs link and support email for OADC
  gen3.datacommons.io/portal/gitops.json
Owners: none
