Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

set correct k8s secret volumes
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

Update manifest.json (#1708)
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

adding k8s service accounts
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

updated to DM 2.4.0
  staging.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

updated BRAIN dataprep to dm v2.4.0
  dataprep.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

chore(qa): Set correct versions for indexing manifest sower jobs (#1610)
  nci-crdc-staging.datacommons.io/manifest.json
  nci-crdc-staging.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: @ADParedes, @uc-cdis/planx-qa

fix(ssjdispatcher): added missing variable for ssjdispatcher
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

apply 2020.06 to Covid19 PROD
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

removed veteran status from dataprep ETL mapping
  dataprep.braincommons.org/etlMapping.yaml
Owners: none

removed veteran_status from staging ETL mapping
  staging.braincommons.org/etlMapping.yaml
Owners: none

removed veteran_status from gitops
  staging.braincommons.org/etlMapping.yaml
  staging.braincommons.org/portal/gitops.json
Owners: none

removed veteran_status from gitops
  dataprep.braincommons.org/portal/gitops.json
Owners: none

fix(ssjdispatcher): added missing variable for ssjdispatcher (#1711)
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

chore(qa): Updating gitops.json for bdcat staging (#1690)
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

feat(idph): add idph fields for covid19
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

fix(idph): correct typos
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

fix(typo): correct typos
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

change of sheepdog version
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

covid19 etl to 3.0.1 (boto version fix)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

covid19 etl to 3.0.1 (boto version fix) (#1713)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

feat: etl for idph facility
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

typo
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

feat: etl for idph facility (#1714)
  chicagoland.pandemicresponsecommons.org/etlMapping.yaml
Owners: none

feat: update portal config for idph facility
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

feat: update portal config for idph facility (#1716)
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

apply 2020.06 to Covid19 PROD (#1712)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

copying manifests/fence/fence-config-public.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Owners: none

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying portal/gitops.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

chore/update-faceted-search
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

chore/update-faceted-search (#1718)
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

COVID19 sheepdog export fix
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

COVID19 more county charts
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

COVID19 sheepdog export fix (#1719)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa
