Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

remove duplicate jupyter workspace (#1735)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update to bhcdictionary 2.3.2
  gen3testing.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

Remove visit links
  gen3testing.braincommons.org/etlMapping.yaml
Owners: none

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

COVID19 ETLs 3.2.0 (IL simulation) + portal 3.5.0
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update gitops.json
  gen3testing.braincommons.org/portal/gitops.json
Owners: none

Update gitops.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Update manifest.json (#1739)
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

COVID19 ETLs 3.2.0 (IL simulation)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update gitops.json (#1741)
  gen3testing.braincommons.org/portal/gitops.json
Owners: none

Remove visit links (#1738)
  gen3testing.braincommons.org/etlMapping.yaml
Owners: none

COVID19 ETLs 3.2.0 (IL simulation) (#1742)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update etlMapping.yaml
  acct.bionimbus.org/etlMapping.yaml
Owners: none

Update gitops.json
  acct.bionimbus.org/portal/gitops.json
Owners: none

Update dictionary to 2.3.2
  gen3testing.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

update descriptions and portal
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

chore(bdcatsage): add reports dashboard app
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/base.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/dataHelper.js
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/index.html
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reportsApp.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reportsMain.js
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reportsTabPanel.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reportsTabPanel.js
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reportsTable.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reportsTable.js
Owners: none

COVID19 ETLs 3.2.0 (IL simulation) + portal 3.5.2 (#1740)
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

update Rt description
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Update dictionary to 2.3.2 (#1746)
  gen3testing.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

bump kf to recent release (#1549)
  gen3staging.kidsfirstdrc.org/manifest.json
Owners: none

copying portal/gitops.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying manifests/fence/fence-config-public.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

feat(update-dcf-buckets): added new bucket
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

apply version 2020.07 to acct.bionimbus.org
  acct.bionimbus.org/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

apply version 2020.07 to caninedc.org
  caninedc.org/manifest.json
Owners: @trevars, @uc-cdis/planx-qa

copying portal/gitops.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying manifests/fence/fence-config-public.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Owners: none

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying portal/gitops.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying manifests/fence/fence-config-public.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa
