Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

PXP-5204 fix(mappings): staging.theanvil.io gender->sex, rm primary_diagnoses (#1496)
  staging.theanvil.io/etlMapping.yaml
  staging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Rt_all plot first
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

fix(validation): don't exit 1 if no etl mapping present...
  .travis.yml
Owners: none

fix(validation): ...but do exit 1 if mapping actually fails validation
  .travis.yml
Owners: none

COVID19 more county charts / portal to 3.4.1 (#1721)
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Update manifest.json (#1720)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

copying manifests/fence/fence-config-public.yaml to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

copying manifest.json to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

fixing prod params
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

chore : update the hatchery notebook image to jupyter-covid1.1.2
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

chore : update the hatchery notebook image to jupyter-covid1.1.2 (#1723)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

chore : changing the default URL
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

chore(dcf-release): added the buckets that were removed
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

update etl, manifest, gitops
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/portal/gitops.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

update metadata
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

chore : changing the default URL (#1724)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

edit ES name
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Roll back to test issue
  gen3testing.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

Fix/validation (#1558)
  .travis.yml
Owners: none

update etl, manifest, gitops (#1725)
  internalstaging.theanvil.io/etlMapping.yaml
  internalstaging.theanvil.io/manifest.json
  internalstaging.theanvil.io/portal/gitops.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

fix acm cert arn
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

fix user yaml
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

feat: bdcat file count
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

Roll back to test issue (#1726)
  gen3testing.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

update dd release
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json
  ibdgc.datacommons.io/manifest.json
Owners: @gkuffel, @uc-cdis/planx-qa

update dd release (#1730)
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

feat: bdcat file count (#1727)
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
  preprod.gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

upgrade to latest dd
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

remove duplicate jupyter workspace
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

chore(bdcat): add dashboard reports webapp
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/base.css
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/dataHelper.js
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/index.html
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsApp.css
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsMain.js
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTabPanel.css
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTabPanel.js
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTable.css
  gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTable.js
Owners: none

upgrade to latest dd (#1733)
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa
