Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa

covid19 remove forecast images from portal
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

update descriptions
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Update gitops.json (#1825)
  internalstaging.theanvil.io/portal/gitops.json
Owners: none

Update RAS to show the most recent visa
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

fix 'gray bars' description
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

copying etlMapping.yaml to gen3.theanvil.io
  gen3.theanvil.io/etlMapping.yaml
Owners: none

copying manifest.json to gen3.theanvil.io
  gen3.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

copying manifests/hatchery/hatchery.json to gen3.theanvil.io
  gen3.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

copying portal/gitops.json to gen3.theanvil.io
  gen3.theanvil.io/portal/gitops.json
Owners: none

IL bayes model V2, virus ETL, NPI-PRO ETL
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

Update gitops.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

COVID19 IL bayes model V2, virus ETL, NPI-PRO ETL (#1826)
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

chore(qa): Fix PFB export on internalstaging.theanvil.io
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update manifest.json
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Organize faceted search and filters in Pandemic Response Commons
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

Update manifest.json
  gen3.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

chore(qa): Fix PFB export on internalstaging.theanvil.io (#1829)
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update gitops.json
  internalstaging.theanvil.io/portal/gitops.json
Owners: none

Update gitops.json
  gen3.theanvil.io/portal/gitops.json
Owners: none

Organize faceted search and filters in Pandemic Response Commons (#1831)
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

feat : adding Exploration Tab buttons
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

TheAnvil RELEASE 1594407161 (#1828)
  gen3.theanvil.io/etlMapping.yaml
  gen3.theanvil.io/manifest.json
  gen3.theanvil.io/manifests/hatchery/hatchery.json
  gen3.theanvil.io/portal/gitops.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

Update gitops.json (#1832)
  internalstaging.theanvil.io/portal/gitops.json
Owners: none

Add country to centers tab and configure the DAT in IBD
  ibdgc.datacommons.io/portal/gitops.json
Owners: none

chore(bloodpac): update revproxy arn
  data.bloodpac.org/manifest.json
Owners: @fantix, @uc-cdis/planx-qa

chore(edc): update revproxy cert arn
  portal.occ-data.org/manifest.json
Owners: @leasalvatore, @uc-cdis/planx-qa

copying etlMapping.yaml to staging.theanvil.io
  staging.theanvil.io/etlMapping.yaml
Owners: none

copying manifest.json to staging.theanvil.io
  staging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

copying manifests/hatchery/hatchery.json to staging.theanvil.io
  staging.theanvil.io/manifests/hatchery/hatchery.json
Owners: none

copying portal/gitops.json to staging.theanvil.io
  staging.theanvil.io/portal/gitops.json
Owners: none

Add country to centers tab and configure the DAT in IBD (#1834)
  ibdgc.datacommons.io/portal/gitops.json
Owners: none

fix terra export url
  staging.theanvil.io/portal/gitops.json
Owners: none

Remove props from DAT
  ibdgc.datacommons.io/portal/gitops.json
Owners: none

Remove DAT block due to Guppy/portal failure
  ibdgc.datacommons.io/portal/gitops.json
Owners: none

Remove props from DAT (#1838)
  ibdgc.datacommons.io/portal/gitops.json
Owners: none

bump nb-etl version
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

chore : remove the Download button from commons
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

feat/auspice: add auspice
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

adding notebook browser to ibdgc
  ibdgc.datacommons.io/portal/gitops.json
Owners: none

Add and remove props from covid-19 faceted search
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none
