Repository uc-cdis/cdis-manifest, changes with the owners that CODEOWNERS names for each.
All owners: @ac3eb, @uc-cdis/planx-qa, @trevars, @fantix, @dgrantkeane, @GARUPP-zz, @gkuffel, @ADParedes, @cgmeyer, @leasalvatore

CODEOWNERS:

acct.bionimbus.org/manifest.json @ac3eb @uc-cdis/planx-qa
caninedc.org/manifest.json @trevars @uc-cdis/planx-qa
data.bloodpac.org/manifest.json @fantix @uc-cdis/planx-qa
genomel.bionimbus.org/manifest.json @trevars @uc-cdis/planx-qa

data.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
dataprep.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
staging.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
gen3testing.braincommons.org/manifest.json @dgrantkeane @uc-cdis/planx-qa
tbi.datacommons.io/manifest.json @dgrantkeane @uc-cdis/planx-qa

gen3.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
staging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa
internalstaging.theanvil.io/manifest.json @GARUPP-zz @uc-cdis/planx-qa

gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
preprod.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa
staging.gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json @ac3eb @uc-cdis/planx-qa

ibdgc.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa
jcoin.datacommons.io/manifest.json @gkuffel @uc-cdis/planx-qa

nci-crdc-staging.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa
nci-crdc.datacommons.io/manifest.json @ADParedes @uc-cdis/planx-qa

gen3.datacommons.io/manifest.json @cgmeyer @uc-cdis/planx-qa

portal.occ-data.org/manifest.json @leasalvatore @uc-cdis/planx-qa

copying portal/gitops.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying manifests/fence/fence-config-public.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

apply version 2020.07 to data.bloodpac.org
  data.bloodpac.org/manifest.json
Owners: @fantix, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying portal/gitops.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying manifests/fence/fence-config-public.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

copying etlMapping.yaml to gen3.theanvil.io
  gen3.theanvil.io/etlMapping.yaml
Owners: none

copying portal/gitops.json to gen3.theanvil.io
  gen3.theanvil.io/portal/gitops.json
Owners: none

copying manifest.json to gen3.theanvil.io
  gen3.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

copying manifests/fence/fence-config-public.yaml to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

copying manifest.json to nci-crdc.datacommons.io
  nci-crdc.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

feat: add CHI-NBHD ETL for Covid19 Commons
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

feat(update-dcf-buckets): added new bucket (#1751)
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

apply version 2020.07 to dataprep.braincommons.org
  dataprep.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

COVID19 update Rt description (#1747)
  chicagoland.pandemicresponsecommons.org/portal/gitops.json
Owners: none

feat: add CHI-NBHD ETL for Covid19 Commons (#1760)
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

apply version 2020.07 to gen3.datacommons.io
  gen3.datacommons.io/manifest.json
Owners: @cgmeyer, @uc-cdis/planx-qa

fix(bdcat-staging): reports folder
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/base.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/dataHelper.js
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/index.html
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsApp.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsMain.js
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTabPanel.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTabPanel.js
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTable.css
  staging.gen3.biodatacatalyst.nhlbi.nih.gov/dashboard/Secure/reports/reportsTable.js
Owners: none

apply version 2020.07 to gen3testing.braincommons.org
  gen3testing.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

apply version 2020.07 to genomel.bionimbus.org
  genomel.bionimbus.org/manifest.json
Owners: @trevars, @uc-cdis/planx-qa

apply version 2020.07 to ibdgc.datacommons.io
  ibdgc.datacommons.io/manifest.json
Owners: @gkuffel, @uc-cdis/planx-qa

apply version 2020.07 to internalstaging.theanvil.io
  internalstaging.theanvil.io/manifest.json
Owners: @GARUPP-zz, @uc-cdis/planx-qa

apply version 2020.07 to nci-crdc-staging.datacommons.io
  nci-crdc-staging.datacommons.io/manifest.json
Owners: @ADParedes, @uc-cdis/planx-qa

apply version 2020.07 to staging.braincommons.org
  staging.braincommons.org/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

apply version 2020.07 to tbi.datacommons.io
  tbi.datacommons.io/manifest.json
Owners: @dgrantkeane, @uc-cdis/planx-qa

apply version 2020.07 to jcoin.datacommons.io
  jcoin.datacommons.io/manifest.json
Owners: @gkuffel, @uc-cdis/planx-qa

chore(remove-old-dcfbuckets): removed a transferred bucket from fence-config so it can be deleted
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

chore(remove-old-dcfbuckets): removed a transferred bucket from fence-config so it can be deleted (#1772)
  nci-crdc.datacommons.io/manifests/fence/fence-config-public.yaml
Owners: none

apply version 2020.07 to portal.occ-data.org
  portal.occ-data.org/manifest.json
Owners: @leasalvatore, @uc-cdis/planx-qa

Update manifest.json
  chicagoland.pandemicresponsecommons.org/manifest.json
Owners: none

copying etlMapping.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/etlMapping.yaml
Owners: none

copying portal/gitops.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/portal/gitops.json
Owners: none

copying manifests/hatchery/hatchery.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/hatchery/hatchery.json
Owners: none

copying manifests/fence/fence-config-public.yaml to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifests/fence/fence-config-public.yaml
Owners: none

copying manifest.json to gen3.biodatacatalyst.nhlbi.nih.gov
  gen3.biodatacatalyst.nhlbi.nih.gov/manifest.json
Owners: @ac3eb, @uc-cdis/planx-qa

feat(igv): add igv app
  chicagoland.pandemicresponsecommons.org/manifest.json
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/gen3-igv.yaml
  chicagoland.pandemicresponsecommons.org/manifests/hatchery/hatchery.json
Owners: none
